@model CarProject.Areas.Admin.Models.Store.Products
@using CarProject.App_Code

@{
    ViewBag.Title = "نمایش جزئیات محصول";
}



<h3>اطلاعات محصول</h3>
<table class="infoTable">
    <tr>
        <th>شناسه محصول</th>
        <td>@Model.Product.ProductId</td>
    </tr>
    <tr>
        <th>نام محصول</th>
        <td>@Model.Product.ProductName</td>
    </tr>
    <tr>
        <th>خودروی مربوطه</th>
        <td>@if (Model.Product.Car != null) { <section>@Model.Product.Car.CarsBrandName - @Model.Product.Car.CarsModel</section> }</td>
    </tr>
    <tr>
        <th>گروه(دسته بندی) محصول</th>
        <td>@if (Model.Product.Category != null) { @Model.Product.Category.CategoryName }</td>
    </tr>
    <tr>
        <th>ارتفاع</th>
        <td>@Model.Product.ProductHeight</td>
    </tr>
    <tr>
        <th>عرض</th>
        <td>@Model.Product.ProductWidth</td>
    </tr>
    <tr>
        <th>وزن</th>
        <td>@Model.Product.ProductWeight</td>
    </tr>
    <tr>
        <th>طول</th>
        <td>@Model.Product.ProductLength</td>
    </tr>
    <tr>
        <th>شرکت تولید کننده</th>
        <td>@if (Model.Product.Manufacture != null) { @Model.Product.Manufacture.ManufactureName }</td>
    </tr>
    <tr>
        <th>کشور تولید کننده</th>
        <td>@if (Model.Product.Country != null) { @Model.Product.Country.CountryLongName }</td>
    </tr>
    <tr>
        <th>شماره محصول</th>
        <td>@Model.Product.PartNumber</td>
    </tr>
    <tr>
        <th>رتبه محصول</th>
        <td>@Model.Product.ProductRating</td>
    </tr>
    <tr>
        <th>تگ</th>
        <td>@Model.Product.MetaTags</td>
    </tr>
    <tr>
        <th>توضیحات محصول</th>
        <td>@Model.Product.ProductSecription</td>
    </tr>
</table>



<h3>تغییرات قیمت</h3>
<table class="grid1">
    <thead>
        <tr>
            <th>تاریخ ثبت</th>
            <th>قیمت</th>
        </tr>
    </thead>
    <tbody>
        
        @try
        {
            foreach (var item in Model.Product.ProductPrices.Reverse())
            {
            <tr>
                <td>@if (item.Date != DateTime.MinValue)
                    { @item.Date.GetValueOrDefault().ToPersianDateString() }</td>
                <td>@item.ProductPrice1</td>
            </tr>
            }
        }
        catch
        {
        }
       
    </tbody>
</table>


<h3>متن بررسی</h3>
<div id="reviewText">
    @if(Model.Product.ProductReview != null ) { @Html.Raw(Model.Product.ProductReview.ProductReview1) }
</div>


<h3>عملیات</h3>
<div style="text-align:center;">
    <a href="@Url.Action("Index")" class="button gia-back">بازگشت</a>
    <a href="javascript: void()" onclick="DeleteProduct()" class="button red gia-remove">حذف محصول</a>
    <a href="@Url.Action("Update", "Products", new { id = Model.Product.ProductId })" class="button blue gia-edit">ویرایش محصول</a>
</div>



<div id="deleteBack">
    <div id="deleteMessage">
        <section>آیا از حذف محصول انتخابی اطمینان دارید؟</section>
        <form action="@Url.Action("Index","Products")" method="post" style="margin-top:5px; text-align:center;">
            <input type="hidden" name="deleteId" id="DeleteProductId" value="@Model.Product.ProductId" />
            
            <input type="submit" value="حذف محصول" class="button red" />
            <input type="button" value="انصراف" class="button blue"  onclick="closeDeleteMessage();"/>
        </form>
    </div>
</div>


@section style
{
    <style>
        h3 {
            border-bottom:thin solid #777;
            width:100%;
            margin:10px 0;
            padding:0 10px;

            font-family:f2;
        }

        #reviewText {
            padding:15px;
            margin:5px;
            border:thin solid #999;
            border-radius:5px;
        }

        #deleteBack {
            position:fixed;
            top:0; bottom:0; left:0; right:0;

            z-index:999999;
            background:rgba(0,0,0,.60);

            display:none;
            justify-content:center;
            align-items:center;
        }
            #deleteBack.show {
                display:flex;
            }
        #deleteMessage {
            background:white;
            border:thin solid #888;
            padding:10px;
            border-radius:5px;
        }
    </style>
}

@section script
{
    <script>
        function DeleteProduct() {
            if (!document.getElementById("deleteBack").classList.contains("show"))
                document.getElementById("deleteBack").classList.add("show");
        }
        function closeDeleteMessage() {
            if (document.getElementById("deleteBack").classList.contains("show"))
                document.getElementById("deleteBack").classList.remove("show");
        }
    </script>
}