@using CarProject.App_Code
@model CarProject.Models.User.UserInfo
@{
    ViewBag.Title = "مشخصات کاربر";
}


<form method="post">
    @Html.HiddenFor(m => m.IsForUpdate)
    @Html.HiddenFor(m => m.Person.UserId)
    @*<div id="errorsection" style="color:red;">
        @Html.ValidationSummary(false)
    </div>*@
    <div class="inputsContainer">
        
        @Html.input_TextBox(m => m.Person.PersonFirtstName, "نام")
        @Html.input_TextBox(m => m.Person.PersonLastName, "نام خانوادگی")
        @Html.input_TextBox(m => m.Person.PersonPhone, "شماره تلفن ثابت")
        @Html.input_TextBox(m => m.Person.PersonMobile, "شماره موبایل")
        @Html.input_TextBox(m => m.Person.PersonEmail, "پست الکترونیک")
        @Html.input_TextBox(m => m.Person.PersonAddressCity, "شهر محل اقامت")
        @Html.input_TextBox(m => m.Person.PersonAddress, "آدرس دقیق")
        <hr />
    </div>

    <div class="inputAction">
        <a href="#" class="button yellow">انصراف و بازگشت</a>
        <input type="submit" class="button green" value="بروزرسانی" />
    </div>

</form>