@using db = CarProject.DBSEF
@using CarProject.App_Code
@model CarProject.Areas.Admin.Models.News.CategoryModel

@{
    ViewBag.Title = "ویرایش گروههای اخبار";
    var DBS = new db.CarAutomationEntities();

    /*int? pid = Model.Category.ParentId;
    
    IQueryable<db.ContentsCategory> cats = null;
    if(pid == null || pid <= 0)
    {
        cats = DBS.ContentsCategories;
    }
    else
    {
        cats = DBS.ContentsCategories.Where(c => c.ParentId == pid);
    }*/
    
}


<div>

    <div id="insertDiv">
        <h3>ثبت گروه جدید</h3>
        <form method="post">
            <div class="inputsContainer">
                @Html.HiddenFor( m => m.Category.ContentsCategoryId)
                @Html.input_TextBox(m => m.Category.Name , "نام گروه")
                @Html.input_TextBox(m => m.Category.EnglishName, "نام گروه انگلیسی")

                @Html.input_TextArea(m => m.Category.Describe, "توضیحات")
                @Html.HiddenFor(m => m.Category.ParentId)

                <div class="input">
                    <label>ریشه انتخاب شده <small><a href="javascript:void()" onclick="SelectParent('','','')">به عنوان ریشه</a></small></label>
                    <section id="selectedParentName" >@if (Model.Category.ContentsCategory2 != null) { Write(Model.Category.ContentsCategory2.Name); }</section>
                </div>
                
            </div>
            <div class="inputAction">
                <input type="submit" value="ثبت گروه"  class="button green" />
            </div>

            <small>
                * برای انتخاب ریشه و ثبت در زیر مجموعه هر گروه، بر روی نام گروه در لیست زیر کلیک کنید
            </small>
        </form>
    </div>
   
    <div>
        <h3>گروه ها</h3>
        <div id="CategoryPresentation">
           @Model.GetCategories_readOnly(null | 0, new int?[] { Model.Category.ContentsCategoryId }, "javascript:void()", "SelectParent")
        </div>
    </div>

</div>


<div id="DeleteMessage" class="messageBack">
    <form method="post" class="message" action="@Url.Action("Categories_delete","News")">
        <input type="hidden" name="ContentCategoryId" id="deleteContentCategoryId" />
        <strong class="title"><a href="javascript:void()" onclick="$('#DeleteMessage').toggleClass('show')"> &times;</a>  حذف گروه</strong>
        <section>
            آیا از حذف گروه انتخابی اطمینان دارید؟
        </section>
        <section class="messageActionBar">
            <input type="button" value="انصراف" class="button green" onclick="$('#DeleteMessage').toggleClass('show')" />
            <button type="submit" name="type" value="0" class="button orange">حذف گره وانتقال زیر مجموعها به گره بالاتر</button>
            <button type="submit" name="type" value="1"  class="button red">حذف گره و تمام زیر مجموعهای</button>
        </section>
    </form>
</div>

@section style
{
    <style>
        #insertDiv {
            border-bottom:thin solid #888;
        }

        #CategoryPresentation ul {
            border-right:thin solid #888;
            padding-right:15px;
        }


         .messageBack {
            position:absolute; top:0; bottom:0; left:0; right:0;
            display:none;
            background:rgba(0,0,0,0.7);
            z-index:9999;
            padding:10%;
        }
            .messageBack.show {
                display: inherit;
            }
        .message {

            padding:5px;
            background:white;
            margin:auto;
            border:2px solid #888;
            border-radius:3px;
            box-shadow: 0 0 3px 0 #000;
            width:50%;
            min-width:150px;
        }
            .message .title {
                display:block;
                margin:-5px;
                margin-bottom:5px;
                color:#fff;
                background:#888;
            }
                .message .title a {
                    color:#eaeaea;
                }
                    .message .title a:hover {
                        color:#fff;
                    }

        .messageActionBar {
            display:flex; justify-content:center; align-items:stretch;
            flex-wrap:wrap;
        }
    </style>
}

@section script
{
    <script>
        function DeleteRequest(id) {
            did = document.getElementById("deleteContentCategoryId");
            did.value = id;
            $('#DeleteMessage').toggleClass('show');
        }

        function SelectParent(id, name, pid) {
            document.getElementById('@Html.IdFor( m => m.Category.ParentId)').value = id;
            document.getElementById("selectedParentName").innerHTML = name;
        }
    </script>
}