@using db = CarProject.DBSEF
@using CarProject.App_Code
@model CarProject.Areas.Admin.Models.News.CategoryModel

@{
    ViewBag.Title = "مدیریت گروههای اخبار";
    var DBS = new db.CarAutomationEntities();

    /*int? pid = Model.Category.ParentId;
    
    IQueryable<db.ContentsCategory> cats = null;
    if(pid == null || pid <= 0)
    {
        cats = DBS.ContentsCategories;
    }
    else
    {
        cats = DBS.ContentsCategories.Where(c => c.ParentId == pid);
    }*/
    
}


<div>

    <div id="insertDiv">
        <h3>ثبت گروه جدید</h3>
        <form method="post">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.Category.Name , "نام گروه")
                @Html.input_TextArea(m => m.Category.Describe, "توضیحات")
                @Html.HiddenFor(m => m.Category.ParentId)

                <div class="input">
                    <label>ریشه انتخاب شده</label>
                    <section>@Model.Category.ParentId</section>
                </div>
                
            </div>
            <div class="inputAction">
                <input type="submit" value="ثبت گروه"  class="button green" />
            </div>
        </form>
    </div>
   
    <div>
        <h3>گروه ها</h3>
        <div>
           @Model.GetCategories(this.Url, null | 0)
        </div>
    </div>

</div>


@section style
{
    <style>
        #insertDiv {
            border-bottom:thin solid #888;
        }
    </style>
}