@using dsh = CarProject.Areas.Admin.Models.Dashboard
@using CarProject.App_Code
@model CarProject.Models.Home.ContactUsMessageModel
@{
    ViewBag.Title = "تماس با ما";
    
    var sri = new dsh.MySerializer();
    var cus = new dsh.ContactUs();

    cus = (dsh.ContactUs)sri.LoadXml(Server.MapPath(cus.FileLocation), cus.GetType());
}



<div id="DescribePageShowing">
    @Html.Raw(cus.Html)
</div>


<div id="ContactUsForm">
    <h3>فرم تماس با ما</h3>
   @try
    {
        if (ViewBag.success != "")
        {
            <div style="color:lawngreen">
                @ViewBag.success
            </div>
        }
        else
        {
            <form method="post"  id="contectusform">

               <div class="inputsContainer">
                   @Html.input_TextBox(m => m.Message.Subject, "موضوع")
                   @Html.input_TextBox(m => m.Message.Email, "ایمیل")
                   @Html.input_TextBox(m => m.Message.FullName, "نام و نام خانوادگی")
                   @Html.input_TextArea(m => m.Message.Message, "متن پیام")
               </div>

                <div class="inputAction">
                    <input type="reset" class="button yellow" value="ازنو" />
                    <input type="submit" name="ContectUsSumbit" class="button green" value="ارسال" />
                </div>
            </form>
        }
    }
    catch
    {
    }
</div>



@section style
{
    <style>
        #ContactUsForm {
            margin:auto;
            margin-top:10px;
            border-top:thin solid #888;
        }

        #contectusform {
            min-width:200px;
            width:80%;
            margin:auto;
        }
        @@media (max-width:700px) {
            #contectusform {
                width: 100%;
            }
        }
    </style>
}