@{
    ViewBag.Title = "خانه";
    var dbs = new CarProject.DBSEF.CarAutomationEntities();

    var slides = dbs.SlideShows.ToList();
}


@if(slides.Count > 0)
{
    <div id="SlideShowerBack" class="whitesmooke">
    <div id="SlideShower">
    	@*<div class="slides">
        	<img  class="image" src="../Cars/Images/img (1).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>*@
        
        @foreach (var item in slides)
        {
            <div class="slides">
        	    <img  class="image" src="@item.Image" alt="describe" />
                <h3 class="title">@item.Subject</h3>
                <p class="describe">@item.Describe</p>
            </div>
        }
        
        <section id="forwardButton" onClick="changeSlideForward()" class="slideMover gia-right" ></section>
        <section id="backwardButton" onClick="changeSlideBackWard()" class="slideMover gia-left" ></section>
        
    </div>
    <div id="slidesPreview">
    </div>
    <div id="slideShowController">
    	<section class="gia-play" ></section>
        <section class="gia-stop"></section>
    </div>
</div>
}  
<div id="contentContainer" class="page whitesmooke">
    
</div>
    

<div id="AboutUsInnerPage" class="page2 whitesmooke">
    @Html.Partial("AboutUs")
</div>

<div id="ContactUsInnerPage" class="page2 whitesmooke">
    @Html.Partial("ContectUs")
</div>