@{
    ViewBag.Title = "تایید و پرداخت";

    var usfl = new CarProject.Models.Store.CartUsefull();
    var viewBasket = usfl.GetCurrentBasket();
}
@model CarProject.DBSEF.Basket
@using CarProject.App_Code
@using CarProject.App_extension

<div class="page" id="billingInformation">
    <h3>لیست محصولات درخواستی</h3>
    <hr />
    <table class="grid">
        <thead>
            <tr>
                <th class="fix">شماره</th>
                <th>نام محصول</th>
                <th class="fix">نوع محصول</th>
                <th class="fix">قیمت برای هر واحد</th>
                <th class="fix">قیمت + تخفیف</th>
                <th class="fix">تعداد</th>
                <th class="fix">قیمت کل</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                int i = 1; decimal TotalPrice = 0;

                if(viewBasket.ProductsOrServicesDeliveryType != null)
                {
                    decimal.TryParse(viewBasket.ProductsOrServicesDeliveryType.Price, out TotalPrice);
                }
             }
            @foreach (var item in viewBasket.BasketItems)
            {

                decimal discountprice = 0;
                decimal.TryParse(item.ProductEachPaidPrice, out discountprice);
                
                var ttpic = discountprice * item.Count.Value;
                TotalPrice += ttpic;
                <tr>
                    <td class="fix center">@i</td>
                    <td>@usfl.GetNameOfCartObject(item.Id.Value, (CarProject.Models.Store.CartUsefull.Basket_ItemType)item.Type)</td>
                    <td>@usfl.GetNameofCartType((CarProject.Models.Store.CartUsefull.Basket_ItemType)item.Type)</td>
                    <td class="fix center">@item.ProductEachPrice</td>
                    <td class="fix center">@item.ProductEachPaidPrice</td>
                    <td class="fix center">@item.Count</td>
                    <td class="fix center">@ttpic</td>
                </tr>
                i += 1;
            }

           @* <tr>
                <td colspan="4">پلن انتخابی</td>
                <td colspan="2" class="fix center">@viewBasket.ProductsOrServicesDeliveryType.Name</td>
                <td class="center fix">@viewBasket.ProductsOrServicesDeliveryType.Price</td>

            </tr>*@
            <tr>
                <td colspan="2"><strong>روز و زمان تحویل کالا</strong></td>
                <td colspan="6">@Model.TimeOfDay.DaysOfWeek.Date.NameOfDaysInWeek() - @Model.TimeOfDay.DaysOfWeek.Date.Date_Persian() : @Model.TimeOfDay.TimePeriod</td>
            </tr>
        </tbody>
    </table>

    <div id="totalpriceSectionContainer">
        <section id="totalPrice">
            <strong>مبلغ کل فاکتور</strong>
            <small>@string.Format("{0:0,0}",@TotalPrice) تومان</small>
        </section>
    </div>
</div>


<div class="page" id="AddressConfirm">
    <h3>تایید آدرس</h3>
    <hr />
    <form method="post">
        
        <div class="inputsContainer">
            
            @Html.input_TextBox(m => m.ReciverFullname, "نام و نام خانوادگی")
            @Html.input_TextBox(m => m.ReciverMobile, "همراه")
            @Html.input_TextBox(m => m.ReciverTell, "تلفن ثابت")
            @Html.input_TextBox(m => m.ReciverAddress, "آدرس کامل محل دریافت")
            @Html.input_TextArea(m => m.ReciverWorkplace, "آدرس محل کار")

        </div>
        <small>آدرس و کد پستی را با یک علامت <q>-</q> از هم جدا کنید</small>
        <section class="inputAction">
            <a href="@Url.Action("Cart")" class="button yellow">برگشت و اصلاح سبد خرید</a>
            <input type="submit" value="تایید و تعیین نحوه پرداخت" class="button green" />
        </section>
        
    </form>
    
</div>



@section style
{
    <style>
        .grid {
            width:100%;
            padding:5px;
            margin:5px;
        }
            .grid td,
            .grid th {
                padding:1px 5px;
                border:thin solid #888;
            }

            .grid th {
                background:#bbb;
            }


            .grid .fix {
                width:0; 
                white-space:nowrap;
            }
            .grid .center {
                text-align: center;
            }


        #totalpriceSectionContainer {
            display:flex;
            justify-content:flex-end;
            overflow:hidden;
        }
        #totalPrice {
            display:flex;
            align-items:center;
        }
            #totalPrice > * {
                
                padding:5px;
                display:flex; justify-content:center; align-items:center;
            }
            #totalPrice > strong {
                background:#6fe300;
                box-shadow:-3px 0 4px -3px #000;
                z-index:1;
            }

            #totalPrice > small {
                background: #fc8000;
                border:thin solid #e37300;
                border-radius: 5px 0 0 5px;
                animation:anim_totalPrice_small;
                animation-duration:1s;
            }

        @@keyframes anim_totalPrice_small {
            from {
                transform: translateX(100%);
            }
            to {
                transform:none;
            }
        }

    </style>
}