@{
    ViewBag.Title = "فروشگاه";
    var dbs = new CarProject.DBSEF.CarAutomationEntities();

    var slides = dbs.SlideShows.Where(s => s.Type == 1).ToList();
    var slides2 = dbs.SlideShows.Where(s => s.Type == 2).ToList();


    var rand = new Random();
}



<div style="margin: 10px;" >
    <div class="SliderType2" style="min-height: 500px; margin-bottom:10px;">
        <div class="sliderItems">
            @{int i = 1; }
            @foreach (var item in slides)
            {
                <a href="@item.Url" class="slideItem" data-slide="@i">
                    <img src="@item.Image" alt=""/>
                </a>   
                i++;
            }
        </div>
        <div class="sliderTitles">
            @{ i = 1; }
            @foreach (var item in slides)
            {
                <section onClick="SliderType2ChangeSlide_byelement(this)" data-slide='@i' class="flex-column-center-stretch">
                    <h3>@item.Subject </h3>
                    <small>@item.Describe</small>
                </section>
                i++;
            }

        </div>
    </div>


    <div class="flex-row-center-fstart" style="">
        <div class="w30 flex-row-spacebetween-center flex-wrap" style="margin-left: 5px; margin-top: -2.5px;">
            @for (int i2 = 0; i2 < 10; i2++)
            {
                <section style="width: 48%; height: 110px; margin: 2.5px;" class="item">
                </section>
            }
        </div>
        <div class="w70 flex-column-center-stretch">
            <div class="SliderType1" style="height: 400px; margin-right: 5px;">
                <div class="w25 sliderTitles">
                    @{i = 1; }
                    @foreach (var item in slides2)
                    {
                        <section onclick="SliderType1ChangeSlide_byelement(this)" class="slideItem" data-slide="@i">
                            <strong>@item.Subject</strong><br />
                            <small>@item.Describe</small>
                        </section>   
                        i++;
                    }
                </div>
                <div class="w75 sliderItems">
                    @{i = 1; }
                    @foreach (var item in slides2)
                    {
                        <div class="slideItem" data-slide="@i">
                            <img src="@item.Image" alt="" />
                        </div>
                        i++;
                    }
                </div>
            </div>

            <div style="margin-top: 5px; margin-right: 5px;">
                <h4>آخرین محصولات</h4>
                <div class="SliderType3" data-slidewidth="300px">
                    <div class="sliderItems">
                        @{
                            var xNews = dbs.Products.OrderByDescending(p => p.ProductId).Take(20);
                            foreach (var item in xNews)
                            {
                                var PicFileUrl = "~/Publics/Gallery/ProductImages/"+ item.ProductId;
                                var finfo = new System.IO.DirectoryInfo(Server.MapPath(PicFileUrl));
                                
                                if(finfo.Exists && finfo.GetFiles().Count() > 0)
                                {
                                    <a href="#" class="slideItem">
                                        <img src="@Url.Content(PicFileUrl + "/" + finfo.GetFiles()[rand.Next(0,finfo.GetFiles().Length)].Name)" />
                                        <section>
                                            <strong>@item.ProductName</strong><br />
                                            <small>@item.Category.CategoryName</small><br />
                                            <small>@item.ProductPrices.Last().ProductPrice1 ریال</small>
                                        </section>
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="slideItem">
                                        <img src="~/Publics/Gallery/ProductImages/NotFound.png" />
                                        <section>
                                            <strong>@item.ProductName</strong><br />
                                            <small>@item.Category.CategoryName</small>
                                        </section>
                                    </a>
                                }
                            }
                            
                        }
                    </div>

                    <div class="sliderNav left gia-left"></div>
                    <div class="sliderNav right gia-right"></div>
                </div>
            </div>

            <div style="margin-top: 5px; margin-right: 5px;">
                          
            </div>

        </div>
    </div>
</div>


