@{
    ViewBag.Title = "نمایش اطلاعات محصول";
    var dbs = new CarProject.DBSEF.CarAutomationEntities();

    int id = 0;
    int.TryParse(ViewContext.RouteData.Values["id"].ToString(), out id);

    var product = dbs.Products.FirstOrDefault(p => p.ProductId == id);
    
    if(dbs.ProductToViews.Count(p => p.ProductId == id) > 0)
    {
        var x = dbs.ProductToViews.FirstOrDefault(p => p.ProductId == id);
        if (x != null)
        {
            if (x.Viewd == null || x.Viewd <= 0)
            {x.Viewd = 1;}
            else
            { x.Viewd += 1; }
        }
        
        dbs.SaveChanges();
    }
    else
    {
        dbs.ProductToViews.Add(new CarProject.DBSEF.ProductToView { Viewd = 1, ProductId = id });
        dbs.SaveChanges();
    }

    Random rnd = new Random();
}
@using CarProject.App_Code


@section style
{
    <link href="~/Publics/Files/Resources/StorePage/Products.css" rel="stylesheet" />
    <script src="~/Publics/Files/Resources/StorePage/Products.js"></script>
}


<div id="ProductsViewInformationPart1">
    <div>
        <h3>تصاویر محصول</h3>
        <div id="ProductImagesSection">
            @{ 
                var images = new System.IO.DirectoryInfo(Server.MapPath("~/Publics/Gallery/ProductImages/" + ViewContext.RouteData.Values["id"]));
                if(images.Exists)
                {   
                    var imagesFiles = images.GetFiles();
                    if(imagesFiles.Length> 0)
                    {
                        <img id="imageBigPreview" src="@Url.Content("~/Publics/Gallery/ProductImages/" + ViewContext.RouteData.Values["id"] + "/" + imagesFiles[0].Name)" />
                    }
                    else
                    {
                        <img id="imageBigPreview" src="" />
                    }
                }
             }
            
            <div id="imagesItems">
                @{
                    if (images.Exists)
                    {
                        var imagesFiles = images.GetFiles();
                        foreach (var item in imagesFiles)
                        {
                            <a href="javascript:void()">
                                <img onclick="imageBigPreview.src = this.src;" src="@Url.Content("~/Publics/Gallery/ProductImages/" + ViewContext.RouteData.Values["id"] + "/" + item.Name)" />
                            </a>
                        }
                    }
                }
            </div>
        </div>
        
        <h3>خودرهای مرتبط با محصول</h3>
        <div id="CarsContianers">
            @foreach (var item in product.ProductCars)
            {
                var carpicutres = new System.IO.DirectoryInfo(Server.MapPath("~/Publics/Gallery/CarImages/" + item.CarsId));
                if(carpicutres.Exists)
                {
                    var carImages = carpicutres.GetFiles();
                    if(carImages.Length > 0)
                    {
                        <a href="#">
                            <img src="@Url.Content("~/Publics/Gallery/CarImages/" + item.CarsId + "/" + carImages[rnd.Next(0,carImages.Length)].Name)" />
                            <section class="title">
                                <strong>@item.Car.CarModel.CarBrand.CarBrandName</strong>
                                <small>@item.Car.CarModel.CarModelName</small>
                            </section>
                        </a>
                    }
                }
            }
        </div>
    </div>

    <div id="productInformation">
        <table class="table">
            <tr>
                <th>شماره محصول</th>
                <td>@product.PartNumber</td>
            </tr>
            <tr>
                <th>نام محصول</th>
                <td>@product.ProductName</td>
            </tr>
            <tr>
                <th>دسته بندی محصول</th>
                <td><a href="#">@product.Category.CategoryName</a></td>
            </tr>
            <tr>
                <th>قیمت محصول</th>
                <td>@product.ProductPrices.Last().ProductPrice1</td>
            </tr>
            <tr>
                <th>ارتفاع</th>
                <td>@product.ProductHeight</td>
            </tr>
            <tr>
                <th>عرض</th>
                <td>@product.ProductWidth</td>
            </tr>
            <tr>
                <th>وزن</th>
                <td>@product.ProductWeight</td>
            </tr>
            <tr>
                <th>طول</th>
                <td>@product.ProductLength</td>
            </tr>
            <tr>
                <th>شرکت سازنده</th>
                @if(@product.Company != null)
                {
                    <td><a href="#">@product.Company.CompanyName</a></td>
                }
            </tr>
            <tr>
                <th>کشور تولید کننده</th>
                @if(@product.Country != null)
                {
                    <td>@product.Country.CountryLongName</td>
                }
            </tr>
            <tr>
                <th>شرکت توضیع کننده</th>
                @if(product.Manufacture != null)
                {
                    <td><a href="#">@product.Manufacture.ManufactureName</a></td>
                }
            </tr>
            <tr>
                <th>تگ محصول</th>
                <td>@product.MetaTags</td>
            </tr>
            <tr>
                <th>رتبه محصول</th>
                <td>@product.ProductRating</td>
            </tr>
            <tr>
                <th>توضیحات محصول</th>
                <td>@product.ProductSecription</td>
            </tr>
        </table>

        <div id="productActionAndInfo">
            <div id="productViewsInfo">
                @{ var productsToviewObject = dbs.ProductToViews.FirstOrDefault(p => p.ProductId == id); }
                <section class="gia-users">@if (productsToviewObject.Viewd != null) { @productsToviewObject.Viewd }</section> 
                <section class="gia-heart" id="popularcountsection">@if (productsToviewObject.Favorite != null) { @productsToviewObject.Favorite } else{ <span>0</span> } </section>
            </div>
            <div id="productAction">
                <a href="#" class="gia-cart button green">اضافه کردن به سبد خرید</a>
                <a href="javascript:void()" class="gia-heart button jigary" onclick="MakeProductPopular('@Url.Action("Products_makePopular","Store")','@id')">محبوب کردن کالا</a>
            </div>
        </div>
        
    </div>
</div>

<hr />
<div class="productSections">
    <h3 class="title">بررسی محصول</h3>
    <div class="content">
        @Html.Raw(product.ProductReview.ProductReview1)
    </div>
</div>

<div class="productSections">
    <h3 class="title">نظرات کاربران</h3>
    <div class="content">
        <form method="post">
            
        </form>
    </div>
</div>
