<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1" >

<title>کلینیک خودرو - @ViewBag.Title</title>

    <link href="~/Publics/Styles/fonts/Fonts.css" rel="stylesheet" />
    <link href="~/Publics/Styles/fonts/GIAdmin.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/default.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/input1.css" rel="stylesheet" />

    <script src="~/Publics/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Publics/Scripts/tinymce/tinymce.min.js"></script>


</head>

<body>

	<header>
    	<div>
        	<h1 style="font-family:f1;"><a href="#">خودروکلینیک</a></h1>
        </div>
        
        <a href="javascript: void()" id="header_menuIcon"  class="gia-menuIcon" onClick="TogleClassShow(header_menu,'display');"></a>
        <form method="post" id="header_menu" action="@Url.Action("topNavPostBack", new { area = "Admin", controller = "Dashboard" })">
            <nav id="header_menu_nav">
                <a href="#" class="gia-statistic">داشبور</a>
                <a href="#" class="gia-setting">تنظیمات</a>
                <a href="#" class="gia-user">پروفایل</a>
                <a href="#" class="gia-help">راهنما</a>
                
                <button type="submit" name="userLogout"><a href="#" class="gia-logout" onclick="">خروج کاربر</a></button>
            </nav>
        </form>
    </header>
    
    
    <div id="container">
    
    	
        <div id="body">
        	@RenderBody()
        </div>
        
        <div id="menu">
        	
            <nav>
                <strong style="border-bottom:thin solid #BBB; width:100%;" class="gia-car1">مدیریت خودرو</strong>
            	@Html.ActionLink("ثبت خودرو", "NewCar", "Cars", new { area = "Admin" }, new { CLASS = "gia-add" })
                @Html.ActionLink("مدیریت خودروهای ثبت شده", "Cars", "Cars", new { area = "Admin" }, new { CLASS = "gia-list" })
            </nav>
            
            
            <nav>
                <strong style="border-bottom:thin solid #BBB; width:100%;" class="gia-users">مدیریت کاربران</strong>
            	<a href="@Url.Action("NewUser","User")" class="gia-user">ثبت کاربر جدید</a>
                <a href="@Url.Action("Users","User")" class="gia-list">کاربران</a>
            </nav>
            
            <nav>
                <strong style="border-bottom:thin solid #BBB; width:100%;" class="gia-checkEngine">مدیریت قسمت عیب یابی</strong>
            	<a href="@Url.Action("New", "Troubleshooting", new { area = "admin" , id = "" })">اضافه کردن سوال عیب یابی</a>
                <a href="@Url.Action("Index", "Troubleshooting", new { area = "admin" , id = "" })" >لیست سوالات عیب یابی</a>
            </nav>
            
            <nav>
                <strong style="border-bottom:thin solid #BBB; width:100%;" class="gia-sparePart">مدیریت محصولات فروشگاه</strong>
            	<a href="@Url.Action("New", "Categories", new { area = "admin" , id = "" })">اضافه کردن دسته بندی</a>
                <a href="@Url.Action("Index", "Categories", new { area = "admin" , id = "" })" >مدیریت دسته بندی محصولات</a>
                <hr />
                <a href="@Url.Action("Manufactures", "Details", new { area = "admin" , id = "" })" >مدیریت تولیدکنندگان (شرکت ها)</a>
                <hr />
                <a href="@Url.Action("New", "Products", new { area = "admin" , id = "" })" >ثبت محصول</a>
                <a href="@Url.Action("Index", "Products", new { area = "admin" , id = "" })" >مدیریت محصولات</a>
            </nav>
            
        </div>
        
        
    </div>

</body>

<script src="~/Areas/Admin/Files/StyleAndScripts/Default/d00.js"></script>
<script>
    cn = document.getElementById('container');
    hw = (document.getElementsByTagName('header')[0].clientHeight + 1);
    cn.style.marginTop = hw + "px";
    cn.style.minHeight = (window.innerHeight - hw) + "px";

    function TogleClassShow(el, clname) {
        if (el.classList.contains(clname))
            el.classList.remove(clname);
        else
            el.classList.add(clname);
    }
</script>

    @RenderSection("script", false)

    @RenderSection("style",false)
</html>
