@using System.Xml
@{
    Layout = null;
    var DBS = new CarProject.DBSEF.CarAutomationEntities();
    var ContaectUsUnreadMessage = DBS.ContactUsMessages.Count(ms => ms.Seen == null);
}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1" >

<title>کلینیک خودرو - @ViewBag.Title</title>

    <link href="~/Publics/Styles/fonts/Fonts.css" rel="stylesheet" />
    <link href="~/Publics/Styles/fonts/GIAdmin.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/default.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/input1.css" rel="stylesheet" />

    <script src="~/Publics/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Publics/Scripts/tinymce/tinymce.min.js"></script>
    <link href="~/Publics/Files/Resources/PublicClasses.css" rel="stylesheet" />


</head>

<body>

	<header>
    	<div id="headerTitleAndInfo">
        	<h1 style="font-family:f1;"><a href="#">خودروکلینیک</a></h1>
            <small>مدیریت فروشگاه</small>
        </div>
        
        <a href="javascript: void()" id="header_menuIcon"  class="gia-menuIcon" onClick="TogleClassShow(header_menu,'display');"></a>
        <form method="post" id="header_menu" action="@Url.Action("topNavPostBack", new { area = "Admin", controller = "Dashboard" })">
            <nav id="header_menu_nav">
                 @{
                    XmlDocument xml = new XmlDocument();
                    xml.Load(Server.MapPath("~/Publics/Files/Settings/TopMenu.xml"));
                    foreach (XmlNode item in xml["links"].ChildNodes)
                    {
                        <a href="@item["url"].InnerText" target="@item["target"].InnerText" class="@item["class"].InnerText">@item["text"].InnerText</a>
                    }
                }                
                <button type="submit" name="userLogout"><a href="#" class="gia-logout" onclick="">خروج کاربر</a></button>
            </nav>
        </form>
    </header>
    
    
    <div id="container">
    
    	
        <div id="body">
        	@RenderBody()
        </div>
        
        <div id="menu">
        	
            <nav>
                <strong class="gia-car1 title">مدیریت محصولات</strong>
                <a href="@Url.Action("Brands","Cars")" class="gia-brands">اضافه کردن محصول</a>
                <a href="@Url.Action("NewCar","Cars")" class="gia-newCar">ثبت خودرو جدید</a>
                <a href="@Url.Action("Index","Cars")" class="gia-cars">مدیریت خودروها</a>
            </nav>
            
        </div>
        
        
    </div>

</body>

<script src="~/Areas/Admin/Files/StyleAndScripts/Default/d00.js"></script>
<script>
    cn = document.getElementById('container');
    hw = (document.getElementsByTagName('header')[0].clientHeight + 1);
    cn.style.marginTop = hw + "px";
    cn.style.minHeight = (window.innerHeight - hw) + "px";

    function TogleClassShow(el, clname) {
        if (el.classList.contains(clname))
            el.classList.remove(clname);
        else
            el.classList.add(clname);
    }
</script>

    @RenderSection("script", false)

    @RenderSection("style",false)
</html>
