@{
    

    int id = 0;
    int.TryParse(ViewContext.RouteData.Values["id"].ToString(),out id);

    var dbs = new CarProject.DBSEF.CarAutomationEntities();
    var news = dbs.Contents.FirstOrDefault(n => n.ContenstId == id);

    if (news == null)
    { Response.Redirect("/"); }

    ViewBag.Title = news.ContentSubject;
}
@using CarProject.App_extension
@using CarProject.App_Code
@using System.IO
@model CarProject.Models.News.ContentCommentModel

<div class="newsSection">
    <div class="newsTitle">
        <div>
            <strong>@news.ContentSubject</strong> -
            <a href="#"><small>@news.ContentsCategory.Name</small></a>
        </div>
        <div>
            @news.Date.DateTime_Persian()
        </div>
    </div>
    <div class="newsBody">
        <div id="newsBodyImages">
            @{
                var path = "~/Publics/Gallery/NewsImages/" + news.ContenstId;
                var dicinfo = new DirectoryInfo(Server.MapPath(path));
                if (dicinfo.Exists)
                {
                    var files = dicinfo.GetFiles();
                    if (files.Length > 0)
                    {
                        <div id="ImagesContainer">
                            <img id="ImagesBigShow" src="@Url.Content(path + "/" + files[0].Name)" />
                            <div id="Imagesthumbnail">
                                @foreach (var item in files)
                                {
                                    <img src="@Url.Content(path + "/" + item.Name)" onclick="document.getElementById('ImagesBigShow').src = this.src" />
                                        }
                            </div>
                        </div>
                    }
                }
            }


            <div>
                <h3>ثبت نظر جدید</h3>
                <hr />
                <form method="post">
                    <div class="inputsContainer">
                        @Html.input_TextBox(m => m.Comment.FullName, "نام و نام خانوادگی")
                        @Html.input_TextBox(m => m.Comment.Email, "ایمیل")
                        @Html.input_TextArea(m => m.Comment.Comment, "متن پیام")

                        <section class="input">
                            <label>کد امنیتی</label>
                            <div class="inputElement" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <a href="javascript:void()" onclick="ReloadCaptcha('captcha')">
                                    <img id="captcha" src="/default/index" /></a>
                                <small>برای تغییر کد روی تصویر کلیک کنید</small>
                                <input type="text" placeholder="کد بالا را اینجا وارد کنید" name="captcha" />
                            </div>
                            <span>@try{ @ViewBag.error["captcha"] }catch { }</span>
                        </section>

                    </div>
                    <div class="inputAction">
                        <input type="reset" value="خالی کردن فرم" class="button yellow" />
                        <input type="submit" value="ثبت نظر" class="button blue" />
                    </div>
                </form>
            </div>


            <div>
                <h3>نظرات ثبت شده</h3>
                <hr />
                <div class="CommentsContainer">
                    @{
                        var comments = dbs.ContetComments.Where(c => c.ContentsId == id).OrderByDescending(c => c.Date);
                        foreach (var item in comments)
                        {
                        <div class="comentsItem">
                            <section class="header"></section>
                            <section class="body"></section>
                            <section class="footer"></section>
                        </div>
                        }
                    }
                </div>
            </div>


        </div>
        <div id="newsBodyContent" class="page">
            @Html.Raw(news.ContentText)
        </div>
    </div>
    <div class="newsFooter">
        @*<div>
            <h3>ثبت نظر جدید</h3>
            <hr />
            <form method="post">
                <div class="inputsContainer">
                    @Html.input_TextBox(m => m.Comment.FullName, "نام و نام خانوادگی")
                    @Html.input_TextBox(m => m.Comment.Email, "ایمیل")
                    @Html.input_TextArea(m => m.Comment.Comment, "متن پیام")
                </div>
                <div class="inputAction">
                    <input type="reset" value="خالی کردن فرم" class="button yellow" />
                    <input type="submit" value="ثبت نظر" class="button blue" />
                </div>
            </form>
        </div>
        

        <div>
            <h3>نظرات ثبت شده</h3>
            <hr />
            <div class="CommentsContainer">
                @{
                    var comments = dbs.ContetComments.Where(c => c.ContentsId == id).OrderByDescending(c => c.Date);
                    foreach (var item in comments)
                    {
                        <div class="comentsItem">
                            <section class="header"></section>
                            <section class="body"></section>
                            <section class="footer"></section>
                        </div>
                    }
                }
            </div>
        </div>
    </div>*@
</div>



@section style
{
    <link href="~/Publics/Files/Resources/NewsPage/NewsShow.css" rel="stylesheet" />

    <meta name="description" content="@news.ContentsCategory.Name | @news.ContentSubject" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
   
    <link rel="canonical" href="@Url.RouteUrl("infoRoute", new { controller = "News", action = "NewsShow", id = news.ContenstId, info1 = news.ContentsCategory.Name, info2 = news.ContentSubject }, Request.Url.Scheme)" />
}