@{
    ViewBag.Title = "نظرات کاربران برای خودرو";

    var dbs = new CarProject.DBSEF.CarAutomationEntities();
    var comments = dbs.CarComments;
}
@using CarProject.App_extension


<div id="commentsContianer" class="itemContainer">
    @foreach (var item in comments)
    {
        <div class="item">
            <section class="title gia-chat">
                @item.Car.CarModel.CarBrand.CarBrandName | @item.Car.CarModel.CarModelName
            </section>
            <table>
                <tr>
                    <th>نام و نام خانوادگی</th>
                    <td>@item.Fullname</td>
                </tr>
                <tr>
                    <th>ایمیل</th>
                    <td>@item.Email</td>
                </tr>
                <tr>
                    <th>تاریخ ارسال پیام</th>
                    <td>@item.datetime.DateTime_Persian()</td>
                </tr>
                <tr>
                    <th>برند خودرو</th>
                    <td>@item.Car.CarModel.CarBrand.CarBrandName</td>
                </tr>
                <tr>
                    <th>مدل خودرو</th>
                    <td>
                        <a href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Car", id = item.Car.CarsId, info1 = item.Car.CarModel.CarBrand.CarBrandName, info2 = item.Car.CarModel.CarModelName })" target="_blank">@item.Car.CarModel.CarModelName</a>
                    </td>
                </tr>

                <tr>
                    <th>خلاصه پیام</th>
                    <td>
                        @if (item.Comment.Length > 50)
                        {
                            <span>@item.Comment.Substring(0, 50)  ...</span>
                        }
                        else
                        {
                            <span>@item.Comment</span>
                        }
                    </td>
                </tr>
            </table>

            <section class="action">
                @if (item.canshow.GetValueOrDefault(false))
                {
                    <a href="javascript:void()" class="gia-inactive" onclick="Request_ChangeCanShowState('@item.CarCommentsId',this)"></a>
                }
                else
                {
                    <a href="javascript:void()" class="gia-active" onclick="Request_ChangeCanShowState('@item.CarCommentsId',this)"></a>
                }
                <a href="@Url.Action("CarCommentShow_delete", new { id = item.CarCommentsId })" class="gia-remove"></a>
                <a href="@Url.Action("CarCommentShow", new { id = item.CarCommentsId })" class="gia-details"></a>
            </section>
        </div>
        
    }
</div>



@section script
{
    <script>
        function Request_ChangeCanShowState(id, el) {
            $.post('@Url.Action("CarChangeCanShowState", "Cars")', {"ID" : id}, function (res) {
                if (res == 1) {
                    el.className = "gia-inactive";
                }
                else {
                    el.className = "gia-active";
                }
            });
        }
    </script>
}
