@model List<CarProject.DBSEF.Car>
@{
    ViewBag.Title = "نمایش خودروهای ثبت شده";
}


<div id="carcontainer">
    <div id="headerGroup">
    </div>
    <div id="tbody">
        @foreach (var item in Model)
        {
            <div class="carItem">
                <table>
                    <tr>
                        <th>شناسه</th>
                        <td>@item.CarsId</td>
                    </tr>
                    <tr>
                        <th>برند</th>
                        <td>@item.CarsBrandName</td>
                    </tr>
                    <tr>                        
                        <th>کلاس</th>
                        <td>@item.CarsClass</td>
                    </tr>
                    <tr>
                        <th>مدل</th>
                        <td>@item.CarsModel</td>
                    </tr>
                    <tr>                        
                        <th>کلاس کاری</th>
                        <td>@item.CarClassType</td>
                    </tr>
                    <tr>
                        <th>دسته بندی</th>
                        <td>@item.CarCategory</td>
                    </tr>
                </table>
                <div style="display:flex; justify-content:center;">
                    <a href="@Url.Action("UpdateCar","Cars")/@item.CarsId" class="button blue gia-edit">ویرایش</a>
                    <a href="#" class="button red gia-remove" onclick="deletebuttonclick('@item.CarsId')" >حذف</a>
                </div>
            </div>
        }
    </div>
</div>




<div id="removeBack">
    <div id="removeMessage">
        <div>آیا از حذف خودروی انتخابی اطمینان دارید؟</div>
        <form method="post" action="@Url.Action("DeleteCar","Cars")" style="display:flex; justify-content:center; align-items:center;">
            <input type="hidden" id="RemoveCarId" name="Id" value="" />

            <button type="submit" class="button red"><section class="gia-remove">حذف</section></button>
            <button type="button" class="button green" onclick="deleteCancel()">انصراف</button>
        </form>
    </div>
</div>


@section script
{
    <script>
        function deletebuttonclick(id) {
            document.getElementById('removeBack').classList.add("show");
            document.getElementById("RemoveCarId").value = id;
        }

        function deleteCancel() {
            document.getElementById('removeBack').classList.remove("show");
        }
    </script>
}

@section style
{
    <style>
        #carcontainer > #tbody {
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            align-items: center;

            padding:10px;
        }

        #carcontainer table {
            border-collapse: collapse;
        }
        #carcontainer th {
            text-align:right;
            background:#DDD;
            padding:0 3px;
        }

        .carItem {
            margin:3px;
            padding:5px;
            border:thin solid;
            border-radius:5px;
        }
            .carItem:hover {
                box-shadow: 0 0 3px 0 #000;
            }


        #removeBack {
            position:fixed;
            background:rgba(0, 0, 0, 0.60);
            top:0;
            bottom:0;
            left:0;
            right:0;

            z-index:9999;


            display:flex;
            justify-content:center;
            align-items:center;

            display:none;
        }
            #removeBack.show {
                display:flex;
            }
        #removeMessage {
            padding:10px;
            min-width:300px;
            background:white;

            border:thin solid #888;
            border-radius:5px;
            box-shadow:0 0 3px 0 #333;
        }
    </style>
}