@model List<CarProject.DBSEF.Car>
@{
    ViewBag.Title = "نمایش خودروهای ثبت شده";
}


<table class="grid1">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>برند</th>
            <th>کلاس</th>
            <th>مدل</th>
            <th>کلاس کاری</th>
            <th>دسته بندی</th>
            <th>عملیات</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CarsId</td>
                <td>@item.CarsBrandName</td>
                <td>@item.CarsClass</td>
                <td>@item.CarsModel</td>
                <td>@item.CarClassType</td>
                <td>@item.CarCategory</td>
                <td>
                    <a href="@Url.Action("UpdateCar","Cars")/@item.CarsId" class="button blue">ویرایش</a>
                </td>
            </tr>
        }
    </tbody>


</table>


