@using  CarProject.Areas.Admin.Models.Cars
@using CarProject.App_Code
@model NewCar

@{
    ViewBag.Title = "ثبت اطلاعات خودرو";
}


@using (Html.BeginForm())
{
    <div class="wizardContainer">
        <nav class="wizardNav">
            <a href="#w1">اطلاعات عمومی خودرو</a>
            <a href="#w2">مشخصات موتور</a>
            <a href="#w3">مشخصات گیر بکس</a>
            <a href="#w4">مشخصات فیزیکی</a>
        </nav>

        <div class="wizardPage" id="w1">
            <!--<section class="header">اطلاعات عمومی خودرو</section>-->

            <div class="inputsContainer">
                @Html.input_TextBox(m => m.CarGeneral.CarsBrandName, "برند خودرو")
                @Html.input_TextBox(m => m.CarGeneral.CarsClass, "کلاس خودرو")
                @Html.input_TextBox(m => m.CarGeneral.CarsModel, "مدل خودرو")
                @Html.input_TextBox(m => m.CarGeneral.CarsClinicScore, "امتیاز کلینیک")
                @Html.input_TextBox(m => m.CarGeneral.Price, "قیمت خودرو")
                @Html.input_TextBox(m => m.CarGeneral.CarsVideoURL, "آدرس ویدئو")
                @Html.input_TextArea(m => m.CarGeneral.CarsDescription, "توضیحات خودرو")
                @Html.input_ComboBox(m => m.CarGeneral.CarClassType, "کلاس کاری خودرو", Model.CarClassTypeItems, new Dictionary<string, object>() { {"data-test","have error test"} })
                @Html.input_TextBox(m => m.CarGeneral.CarCategory, "دسته بندی خودرو")
                @Html.input_TextBox(m => m.CarGeneral.CarUsage, "کاربرد خودرو")
            </div> 

            <div class="footer">
                <button type="button" onclick="wizardNextPage(this)">ادامه</button>
            </div>
        </div>

        <div class="wizardPage" id="w2">

            <div class="inputsContainer">
                @Html.input_TextBox(m => m.CarEngine.EngineType, "نوع موتور")
                @Html.input_TextBox(m => m.CarEngine.EngineCylinderNumber, "تعداد سیلندر")
                @Html.input_TextBox(m => m.CarEngine.EnginePowerHpRpm, "قدرت موتور")
                @Html.input_TextBox(m => m.CarEngine.EngineTorque, "گشتاور")
                @Html.input_TextBox(m => m.CarEngine.EnginePowerHpTon, "توان وزنی")
                @Html.input_TextBox(m => m.CarEngine.EnginePowerHpLitr, "توان خروجی")
                @Html.input_TextBox(m => m.CarEngine.EngineMaxSpeed, "حداکثر سرعت")
                @Html.input_TextBox(m => m.CarEngine.EngineZeroToH, "0 تا 100")
                @Html.input_TextArea(m => m.CarEngine.EngineDescription, "توضیحات")
            </div>

            <div class="footer">
                <button type="button" onclick="wizardNextPage(this)">ادامه</button>
                <button type="button" onclick="wizardPreviousPage(this)">قبلی</button>
            </div>
        </div>

         <div class="wizardPage" id="w3">

            <div class="inputsContainer">
                @Html.input_TextBox(m => m.CarGearBox.GearBoxCode, "کد گیربکس")
                @Html.input_TextBox(m => m.CarGearBox.GearBoxType, "نوع گیربکس")
                @Html.input_CheckBox(m => m.CarGearBox.GearBoxCanBeManual, "قابلیت تعویض به صورت دستی")
                @Html.input_TextBox(m => m.CarGearBox.GearBoxShiftNumber, "تعداد دنده")
                @Html.input_TextBox(m => m.CarGearBox.GearBoxAxel, "محور متحرک")
                @Html.input_CheckBox(m => m.CarGearBox.HasTransferCase, "آیا دارای کمک گیربکس است؟")
                @Html.input_CheckBox(m => m.CarGearBox.GearBoxDiffrentionalLock, "آیا دارای قفل گیربکس است؟")
                @Html.input_TextBox(m => m.CarGearBox.GearBoxWdType, "نوع 4WD")
                @Html.input_TextBox(m => m.CarGearBox.GearBoxDescription, "توضیحات گیربکس")
            </div>

            <div class="footer">
                <button type="button" onclick="wizardNextPage(this)">ادامه</button>
                <button type="button" onclick="wizardPreviousPage(this)">قبلی</button>
            </div>
        </div>

        <div class="wizardPage" id="w4">

            <div class="inputsContainer">
                @Html.input_TextBox(m => m.CarPhysicalDetail.CarLength, "طول خودرو")
                @Html.input_TextBox(m => m.CarPhysicalDetail.Carwidth, "عرض خودرو")
                @Html.input_TextBox(m => m.CarPhysicalDetail.CarHeight, "ارتفاع خودرو")
                @Html.input_TextBox(m => m.CarPhysicalDetail.CarTrack, "فاصله دوچرخ یک محور")
                @Html.input_TextBox(m => m.CarPhysicalDetail.CarWheelBase, "فاصله دو محور از یکدیگر")
                @Html.input_TextBox(m => m.CarPhysicalDetail.CarPureWeight, "وزن خالص")
                @Html.input_TextBox(m => m.CarPhysicalDetail.CarTankSize, "حجم باک")
                @Html.input_TextArea(m => m.CarPhysicalDetail.Details, "توضیحات")
            </div>

            <div class="footer">
                <button type="button" onclick="wizardNextPage(this)">ادامه</button>
                <button type="button" onclick="wizardPreviousPage(this)">قبلی</button>
            </div>
        </div>
    </div>
    
    
    <input type="submit" value="ثبت" />
}
