@using  CarProject.Areas.Admin.Models.Cars
@using CarProject.App_Code
@model NewCar

@{
    ViewBag.Title = "ثبت اطلاعات خودرو";
}


@using (Html.BeginForm())
{
    <div class="wizardContainer">
        <nav class="wizardNav">
            <a href="#w1">اطلاعات عمومی خودرو</a>
            <a href="#w2">نوع خودرو</a>
            <a href="#w3">صفحه 3</a>
            <a href="#w4">صفحه 4</a>
        </nav>

        <div class="wizardPage" id="w1">
            <!--<section class="header">اطلاعات عمومی خودرو</section>-->

            <div class="inputsContainer">
                
            </div> 

            <div class="footer">
                <button type="button" onclick="wizardNextPage(this)">ادامه</button>
            </div>
        </div>

        <div class="wizardPage" id="w2">

            <div class="inputsContainer">
                <section class="input">
                    @Html.LabelFor(m => m.CarGeneral.CarClassType, "")
                    <select id="@Html.IdFor(m => m.CarGeneral.CarClassType)">
                        <option value="">انتخاب کنید</option>
                        @foreach (string item in Model.CarClassTypeItems)
                        {
                            <option value="@item">@item</option>
                    }
                    </select>
                </section>

                <section class="input">
                    @Html.LabelFor(m => m.CarGeneral.CarCategory, "")
                    @Html.TextBoxFor(m => m.CarGeneral.CarCategory, new { placeholder = Html.DisplayNameFor(m => m.CarGeneral.CarCategory) })
                </section>

                <section class="input">
                    @Html.LabelFor(m => m.CarGeneral.CarUsage, "")
                    @Html.TextBoxFor(m => m.CarGeneral.CarUsage, new { placeholder = Html.DisplayNameFor(m => m.CarGeneral.CarUsage) })
                </section>
            </div>

            <div class="footer">
                <button type="button" onclick="wizardNextPage(this)">ادامه</button>
                <button type="button" onclick="wizardPreviousPage(this)">قبلی</button>
            </div>
        </div>
    </div>
    
    @ViewData.ModelState.IsValidField(Html.NameFor(m => m.CarGeneral.CarsBrandName).ToString()).ToString()
    
    @Html.ValidationSummary()
    <input type="submit" value="ثبت" />
}
