@model CarProject.Areas.Admin.Models.Cars.CarsModel
@using CarProject.App_Code
@using db = CarProject.DBSEF
@{
    ViewBag.Title = "ثبت خودرو";
    var dbs  = new db.CarAutomationEntities();
}



<form method="post" id="form1">
    <input type="hidden" name="IsForUpdate" value="false" />

    <div class="wizardContainer">
        <div class="wizardNav">
            <a href="#w1">اطلاعات خودرو</a>
            <a href="#w2">موتور</a>
            <a href="#w3">گیر بکس</a>
            <a href="#w4">مشخصات فیزیکی</a>
            <a href="#w5">سیستم ترمز</a>
            <a href="#w6">مصرف سوخت</a>
            <a href="#w7">سیستم های امنیتی خودرو</a>
            <a href="#w8">سیستم فرمان خودرو</a>
            <a href="#w9">سیستم تهویه</a>
            <a href="#w10">سیستم صوتی</a>
            <a href="#w11">صندلی ها</a>
            <a href="#w12">شیشه و آینه</a>
            <a href="#w13">روشنایی</a>
            <a href="#w14">سنسورها</a>
            <a href="#w15">کیسه هوا</a>
            <a href="#w16">چرخها</a>
            <a href="#w17">مزایا</a>
            <a href="#w18">معایب</a>
            <a href="#w19">بررسی</a>
        </div>


        <div class="wizardPage" id="w1">
            <div class="inputsContainer">
                @Html.input_ComboBox(m => m.Car.CarModel.CarBrand.CarBrandId, "برند", dbs.CarBrands.ToDictionary(b => b.CarBrandId, b => b.CarBrandName))
                @Html.input_TextBox(m => m.Car.CarModel.CarModelName, "مدل")

                @Html.input_TextBox(m => m.Car.CarsClass, "کلاس خودرو")
                @Html.input_Rating(m => m.Car.CarsClinicScore, "امتیاز کلینیک")
                @Html.input_TextBox(m => m.Car.Price, "قیمت اولیه")
                @Html.input_TextBox(m => m.Car.CarsVideoURL, "آدرس ویدئو")
                @Html.input_TextBox(m => m.Car.CarClassType, "کلاس خودرو")
                @Html.input_TextBox(m => m.Car.CarCategory, "دسته بندی خودرو")
                @Html.input_TextBox(m => m.Car.CarUsage, "کاربر خودرو")
                @Html.input_TextBox(m => m.Car.CarYearModel, "ساخت ساخت")
                @Html.input_ComboBox(m => m.Car.CarBodyType, "نوع بدنه", Model.List_CarBodyTypes)
                @Html.input_TextArea(m => m.Car.CarsDescription, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
            </div>
        </div>

        <div class="wizardPage" id="w2">
            <div class="inputsContainer">
                @Html.input_ComboBox(m => m.CarEngine.EngineType, "نوع موتور", Model.List_EngineTypes)
                @Html.input_TextBox(m => m.CarEngine.EngineCylinderNumber, "تعداد سیلندر")
                @Html.input_TextBox(m => m.CarEngine.EnginePowerHpRpm, "قدرت (اسب بخار بر دور بر دقیقه)")
                @Html.input_TextBox(m => m.CarEngine.EngineTorque, "گشتاور (نیوتون بر متر )")
                @Html.input_TextBox(m => m.CarEngine.EnginePowerHpTon, "توان وزنی (اسب بخار بر 1000 کلیوگرم)")
                @Html.input_TextBox(m => m.CarEngine.EnginePowerHpLitr, "توان خروجی (اسب بخار بر لیتر)")
                @Html.input_TextBox(m => m.CarEngine.EngineMaxSpeed, "حداکثر سرعت (کلیومتر بر ساعت)")
                @Html.input_TextBox(m => m.CarEngine.EngineZeroToH, "صفر تا صد خودرو (ثانیه)")
                @Html.input_TextBox(m => m.CarEngine.EngineSize, "حجم موتور (سی سی )")
                @Html.input_ComboBox(m => m.CarEngine.EngineFuel, "سوخت خودرو", Model.List_EngineFuel)
                @Html.input_TextArea(m => m.CarEngine.EngineDescription, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>

        <div class="wizardPage" id="w3">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.GearBox.GearBoxCode, "کد گیربکس")
                @Html.input_ComboBox(m => m.GearBox.GearBoxType, "نوع گیربکس", Model.List_GearBoxType)
                @Html.input_CheckBox(m => m.GearBox.GearBoxCanBeManual, "قابلیت تبدیل به دنده دستی")
                @Html.input_TextBox(m => m.GearBox.GearBoxShiftNumber, "تعداد دنده")
                @Html.input_TextBox(m => m.GearBox.GearBoxAxel, "محور جابه‌جایی")
                @Html.input_CheckBox(m => m.GearBox.HasTransferCase, "آیا دارای کمک گیربکس است")
                @Html.input_CheckBox(m => m.GearBox.GearBoxDiffrentionalLock, "قفل دفرانسیل")
                @Html.input_TextBox(m => m.GearBox.GearBoxWdType, "نوع 4WD")
                @Html.input_TextArea(m => m.GearBox.GearBoxDescription, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>

        <div class="wizardPage" id="w4">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.PhysicalDetail.CarLength, "طول خودرو")
                @Html.input_TextBox(m => m.PhysicalDetail.Carwidth, "عرض خودرو")
                @Html.input_TextBox(m => m.PhysicalDetail.CarHeight, "ارتفاع خودرو")
                @Html.input_TextBox(m => m.PhysicalDetail.CarTrack, "فاصله دو چرخ یک محور")
                @Html.input_TextBox(m => m.PhysicalDetail.CarWheelBase, "فاصله دو محور از یکدیگر")
                @Html.input_TextBox(m => m.PhysicalDetail.CarPureWeight, "وزن خالص")
                @Html.input_TextBox(m => m.PhysicalDetail.CarTankSize, "حجم باک بنزین")
                @Html.input_TextBox(m => m.PhysicalDetail.Details, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w5">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.BrakeSystem.FrontBrakeSystem, "سیستم ترمزهای چرخ های جلو")
                @Html.input_TextBox(m => m.BrakeSystem.RearBrakeSystem, "سیستم ترمز چرخ های عقب")
                @Html.input_TextBox(m => m.BrakeSystem.OtherSystem, "سیستم های دیگر")
                @Html.input_TextBox(m => m.BrakeSystem.HandBrakeSystem, "سیستم ترمز دستی")
                @Html.input_TextArea(m => m.BrakeSystem.Details, "جزئیات")
            </div>

            <h3 class="underline">ثبت جزئیات <a href="javascript:void()" onclick="InsertNew_Textbox('DetailedBreakSystemControls')" class="gia-add"></a></h3>
            <div class="detailsContainer">
                <div class="controls" id="DetailedBreakSystemControls">
                    @foreach (var item in Model.DetailedBrakeSystems)
                    {
                        <div class="input">
                            <input type="text" value="@item.DetailedName" />
                            <a href="javascript:void()" onclick="this.offsetParent.remove();" class="gia-remove" ></a>
                        </div>
                    }
                </div>
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w6">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.FuelConsumption.LphCity, "مصرف سوخت داخل شهر")
                @Html.input_TextBox(m => m.FuelConsumption.LphRoad, "مصرف سوخت جاده")
                @Html.input_TextBox(m => m.FuelConsumption.LphMix, "سیکل ترکیبی مصرف سوخت")
                @Html.input_TextArea(m => m.FuelConsumption.Details, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w7">
            <div class="inputsContainer">
                @Html.input_CheckBox(m => m.SecuritySystem.RemoteControl, "آیا دارای ریموت کنترل است ؟")
                @Html.input_CheckBox(m => m.SecuritySystem.BurglarAlarm, "آیا دارای دزدگیر است ؟")
                @Html.input_CheckBox(m => m.SecuritySystem.Alarm, "آیا دارای آژیر است ؟")
                @Html.input_CheckBox(m => m.SecuritySystem.Emo, "آیا دارای سیستم ضد سرقت است ؟")
                @Html.input_CheckBox(m => m.SecuritySystem.KeylessDoor, "آیا درب ها بدون سوییچ باز میشود ؟")
                @Html.input_CheckBox(m => m.SecuritySystem.KeylessStart, "آیا بدون سوییچ روشن می‌شود ؟")
                @Html.input_TextArea(m => m.SecuritySystem.Details, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w8">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.SteeringSystem.SteeringSystemType, "نوع سیستم فرمان")
                @Html.input_TextBox(m => m.SteeringSystem.SteeringType, "مدل فرمان ")
                @Html.input_TextBox(m => m.SteeringSystem.SteeringHeightAdjustble, "امکان تنظیم ارتفاع فرمان ")
                @Html.input_TextBox(m => m.SteeringSystem.SteeringControlKey, "دکمه های کنترلی روی فرمان")
                @Html.input_TextBox(m => m.SteeringSystem.Details, "جزئیات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w9">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.AirConditioningSystem.AirConditioningType, "نوع تهویه")
                @Html.input_TextBox(m => m.AirConditioningSystem.Details, "جزئیات")
            </div>
            
            <h3 class="underline">جزئیات <a href="javascript: void();" onclick="InsertNew_TextboxAndTextArea('AirContitionSystemDetails');" class="gia-add"></a></h3>
            <div>
                <div class="controls" id="AirContitionSystemDetails">
                    @foreach (var item in Model.AirConditioningSystemDetails)
                    {
                        <div class="controls2">
                            <div class="input">
                                <input type="text" value="@item.AirConditioningSystemDetailSubject" />
                                <a href="javascript:void()" onclick="this.offsetParent.offsetParent.remove();" class="gia-remove"></a>
                            </div>
                            <div class="input">
                                <textarea>@item.AirConditioningSystemDetail1</textarea>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w10">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.CarAudioSystem.AudioSystemType ,"نوع سیستم صوتی خودرو")
                @Html.input_TextBox(m => m.CarAudioSystem.AudioSystemBrand ,"برند سیستم صوتی")
                @Html.input_CheckBox(m => m.CarAudioSystem.HasMonitor ,"آیا دارای مانیتور است ؟")
                @Html.input_CheckBox(m => m.CarAudioSystem.RearSeatsMonitor ,"آیا دارای مانیتور صندلی عقب است ؟")
                @Html.input_CheckBox(m => m.CarAudioSystem.RearGearCamera ,"دوربین دنده عقب ؟")
                @Html.input_CheckBox(m => m.CarAudioSystem.FrontCamera ,"دوربین دید جلو ؟")
                @Html.input_TextBox(m => m.CarAudioSystem.RearStereo ,"مارک سیستم صوتی عقب")
                @Html.input_TextBox(m => m.CarAudioSystem.FrontStereo ,"مارک سیستم صوتی جلو")
                @Html.input_TextBox(m => m.CarAudioSystem.Subwoofer ,"مارک سابووفر")
                @Html.input_TextBox(m => m.CarAudioSystem.Amplifire ,"مارک آمپلی فایر")
                @Html.input_CheckBox(m => m.CarAudioSystem.HasGps ,"آیا دارای رهیاب ماهواره ای است ؟")
                @Html.input_TextArea(m => m.CarAudioSystem.Details ,"توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w11">
            <div class="inputsContainer">
                @Html.input_CheckBox(m => m.CarSeatOption.LongitudinalDisplacement ,"آیا دارای جابه‌جایی طولی است ؟")
                @Html.input_CheckBox(m => m.CarSeatOption.BezelSet ,"آیا دارای تنظیم گودی کمر است ؟")
                @Html.input_CheckBox(m => m.CarSeatOption.SeatWarmer ,"آیا دارای گرمکن صندلی است ؟")
                @Html.input_CheckBox(m => m.CarSeatOption.SeatMassage ,"آیا دارای ماساژور صندلی است ؟")
                @Html.input_CheckBox(m => m.CarSeatOption.HasMemory ,"آیا دارای حافظه است ؟")
                @Html.input_TextArea(m => m.CarSeatOption.Details ,"توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w12">
            <div class="inputsContainer">
                @Html.input_ComboBox(m => m.GlassAndMirror.FrontWindscreens, "سیستم شیشه های جلو", Model.List_WindscreensTypes)
                @Html.input_ComboBox(m => m.GlassAndMirror.RearWindscreens, "سیستم شیشه های عقب", Model.List_WindscreensTypes)
                @Html.input_TextBox(m => m.GlassAndMirror.SunRoof, "آیا دارای سانروف است ؟")
                @Html.input_TextBox(m => m.GlassAndMirror.PanaromaRoof, "آیا دارای سقف پاناروما است ؟")
                @Html.input_TextBox(m => m.GlassAndMirror.RearGlassWarmer, "آیا دارای گرم کن شیشه عقب است ؟")
                @Html.input_TextBox(m => m.GlassAndMirror.WindscreensWarmer, "آیا دارای گرم کن شیشه‌های بقل است ؟")
                @Html.input_TextBox(m => m.GlassAndMirror.FrontGlassWarmer, "آیا دارای گرم کن شیشه جلو است ؟")
                @Html.input_ComboBox(m => m.GlassAndMirror.SideMirrorSet, "سیستم آینه بقل", Model.List_SideMirrorTypes)
                @Html.input_ComboBox(m => m.GlassAndMirror.SideMirrorSystem, "سیستم جمع شدن آینه بقل", Model.List_SideMirrorSystemTypes)
                @Html.input_TextArea(m => m.GlassAndMirror.Details, "جزئیات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w13">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.CarLightingSystem.FrontLights, "سیستم روشنایی جلو")
                @Html.input_TextBox(m => m.CarLightingSystem.RearLights, "سیستم روشنایی عقب")
                @Html.input_TextBox(m => m.CarLightingSystem.DayLight, "آیا دارای LED روز است ؟")
                @Html.input_TextBox(m => m.CarLightingSystem.SideMirrorLight, "آیا دارای راهنما روی آینه های بقل است ؟")
                @Html.input_TextBox(m => m.CarLightingSystem.FonrAntiFog, "آیا دارای مه شکن جلو است ؟")
                @Html.input_TextBox(m => m.CarLightingSystem.RearAntiFog, "آیا دارای مه شکن عقب است ؟")
                @Html.input_TextBox(m => m.CarLightingSystem.ReadingLamp, "آیا دارای چراغ مطالعه است ؟")
                @Html.input_TextBox(m => m.CarLightingSystem.ThirdLightStop, "آیا دارای چراغ سوم خطر است ؟")
                @Html.input_TextArea(m => m.CarLightingSystem.Deailts, "جزئیات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w14">
            <div class="inputsContainer">
                @Html.input_CheckBox(m => m.CarSensorsSystem.DayLightSensor, "آیا دارای سیستم سنسور روشنایی روز است ؟")
                @Html.input_CheckBox(m => m.CarSensorsSystem.RainSensor, "آیا دارای سیستم سنسور باران است ؟")
                @Html.input_CheckBox(m => m.CarSensorsSystem.RearGearSensor, "آیا دارای سیستم سنسور دنده عقب است ؟")
                @Html.input_CheckBox(m => m.CarSensorsSystem.ParkSensor, "آیا دارای سیستم سنسور پارک است ؟")
                @Html.input_CheckBox(m => m.CarSensorsSystem.NavigateSensor, "آیا دارای سیستم سنسور ناوبری هدایت خودرو است ؟")
                @Html.input_CheckBox(m => m.CarSensorsSystem.CruiseControl, "آیا دارای کروز کنترل است ؟")
                @Html.input_CheckBox(m => m.CarSensorsSystem.RearGearCamera, "آیا دارای دوربین عقب است ؟")
                @Html.input_TextArea(m => m.CarSensorsSystem.Details, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w15">
            <div class="inputsContainer">
                @Html.input_CheckBox(m => m.CarAirbag.DriverAirBag, "آیا دارای کیسه هوای راننده است ؟")
                @Html.input_CheckBox(m => m.CarAirbag.FrontAirBag, "آیا دارای کیسه هوای شاگرد است ؟")
                @Html.input_CheckBox(m => m.CarAirbag.AirBag, "آیا دارای کیسه هوای سرنشینان عقب است ؟")
                @Html.input_TextBox(m => m.CarAirbag.AirBagEntity, "تعداد کیسه هوا")
                @Html.input_TextArea(m => m.CarAirbag.Details, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        
        <div class="wizardPage" id="w16">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.CarWheel.TireType, "نوع لاستیک")
                @Html.input_TextBox(m => m.CarWheel.RingStandardSize, "سایز استاندارد رینگ")
                @Html.input_TextBox(m => m.CarWheel.TireSpec, "مشخصات لاستیک")
                @Html.input_TextBox(m => m.CarWheel.RingType, "نوع رینگ")
                @Html.input_TextBox(m => m.CarWheel.RingModel, "مدل رینگ")
                @Html.input_CheckBox(m => m.CarWheel.AutoInflated, "قابلیت کم و زیاد کردن باد لاستیک به صورت اتوماتیک ؟")
                @Html.input_TextArea(m => m.CarWheel.Details, "توضیحات")
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>

        
        
        <div class="wizardPage" id="w17">

            <div class="underline">مزایا <a href="javascript: void();" onclick="InsertNew_Textbox('AdvantagesDivs')" class="gia-add"></a></div>
            <div class="detailsContainer">
                <div class="controls" id="AdvantagesDivs">
                    @foreach (var item in Model.Advantages)
                    {
                        <div class="input">
                            <input type="text" value="@item" />
                            <a href="javascript:void()" onclick="this.offsetParent.remove();" class="gia-remove" ></a>
                        </div>
                    }
                </div>
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>
        <div class="wizardPage" id="w18">

            <div class="underline">معایب <a href="javascript: void();" onclick="InsertNew_Textbox('DisAdvantagesDivs')" class="gia-add"></a></div>
            <div class="detailsContainer">
                <div class="controls" id="DisAdvantagesDivs">
                    @foreach (var item in Model.DisAdvatages)
                    {
                        <div class="input">
                            <input type="text" value="@item" />
                            <a href="javascript:void()" onclick="this.offsetParent.remove();" class="gia-remove" ></a>
                        </div>
                    }
                </div>
            </div>
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                <input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />
            </div>
        </div>


        <div class="wizardPage" id="w19">
            <div class="inputsContainer">
                @Html.input_TextArea(m => m.CarsRviewHtml, "نقد و بررسی")
                @Html.input_Rating(m => m.CarsReview.CarScore, "امتیاز خودرو")
                @Html.input_Rating(m => m.CarsReview.Beauty, "امتیاز زیبایی")
                @Html.input_Rating(m => m.CarsReview.WorthBuying, "ارزش خرید")
                @Html.input_Rating(m => m.CarsReview.Quality, "کیفیت")
                @Html.input_Rating(m => m.CarsReview.Services, "خدمات پس از فروش")
            </div>
            
            <div class="footer" style="direction: ltr;">
                <input type="button" class="button blue" onclick="wizardNextPage(this)" value="ادامه" />
                @*<input type="button" class="button yellow" onclick="wizardPreviousPage(this)" value="قبلی" />*@
            </div>
        </div>
    </div>

    <div id="formAction">
        <input type="submit" class="button green" value="ثبت اطلاعات خودرو" />
    </div>
</form>


<div id="filebrowserBack" tabindex="0">
    <div id="filebrowser" tabindex="1">
        <div id="statusbar" tabindex="1.0">
            <a href="javascript:void()" onclick="document.getElementById('filebrowserBack').style.display = 'none';" style="color:red;" title="close"> &times;</a>
            |
            <span>انتخاب فایل تصویر</span>
        </div>
        <div id="topToolbar" tabindex="1.1">
            <a href="javascript: void()" class="gia-upload">آپلود فایل</a> |
            <a href="javascript: void()" class="gia-home" onclick="GetFiles('')">پوشه اصلی</a> | 
            <a href="javascript: void()" class="gia-back" onclick="GetFiles(dirHistory.pop())">برگشت به پوشه قبلی</a> | 
            <a href="javascript: void()" class="gia-refresh" onclick="dirHistory = [] ;GetFiles(currentDir);">بروزرسانی</a> |
            <a href="javascript: void()" class="gia-newdir" onclick="">پوشه جدید</a> 
        </div>

        <div id="navigation" tabindex="1.2"></div>

        <div id="FilesContainer" tabindex="1.3">

        </div>
    </div>

    <form method="delete" id="renameContainer" tabindex="2">
        <h3>تغییر نام فایل</h3>
        <input type="hidden" name="filepath" />
        <input type="text" name="filename" id="fileBrowserTxtName" />
        <div id="renameaction">
            <input type="button" value="انصراف" onclick="document.getElementById('renameContainer').style.display = 'none';" class="button yellow" />
            <input type="button" value="تغییر نام" class="button green" onclick="RenameChangeRequest(event)" />
        </div>
    </form>
    <div id="ContextMenu" tabindex="3">
        <a href="javascript:void()" onclick="RenameObject()" class="gia-rename">تغییر نام فایل</a>
        <a href="javascript:void()" onclick="" class="gia-remove">حذف فایل</a>
    </div>
</div>

@section script
{
    <script>
        document.getElementById("form1").addEventListener("submit", function (e) { e.preventDefault(); BeforeSubmitActions(); this.submit(); });
        function BeforeSubmitActions() {
            DetailedBreakSystemNaming();
            AirConditioningSystemDetailsNaming();
            AdvantagesNaming();
            DisAdvantagesNaming();
        }

        function InsertNew_Textbox(id) {
            div = document.createElement('div');
            div.classList.add("input");

            del = document.createElement('a');
            del.classList.add("gia-remove");
            del.href = "javascript:void()";
            del.onclick = function (e) { this.offsetParent.remove(); };
            
            inp = document.createElement("input")
            inp.type = "text";
            div.appendChild(inp);
            div.appendChild(del);
            document.getElementById(id).appendChild(div);
        }
        function InsertNew_TextboxAndTextArea(id) {
            div1 = document.createElement('div');
            div1.classList.add("input");

            del = document.createElement('a');
            del.classList.add("gia-remove");
            del.href = "javascript:void()";
            del.onclick = function (e) { this.offsetParent.offsetParent.remove(); };

            inp = document.createElement("input")
            inp.type = "text";
            div1.appendChild(inp);
            div1.appendChild(del);

            div2 = document.createElement('div');
            div2.classList.add("input");
            txtarea = document.createElement("textarea");
            div2.appendChild(txtarea);
            
            div = document.createElement('div');
            div.classList.add("controls2");
            div.appendChild(div1);
            div.appendChild(div2);
            document.getElementById(id).appendChild(div);
        }

        function DetailedBreakSystemNaming() {
            $("#DetailedBreakSystemControls  input").each(function (index, element) {
                $(element).attr("name", "DetailedBrakeSystems[" + index + "].DetailedName");
            });
        }
        function AirConditioningSystemDetailsNaming() {
            $("#AirContitionSystemDetails > div").each(function (index, element) {
                $("input[type=text]", element).attr("name", "AirConditioningSystemDetails[" + index + "].AirConditioningSystemDetailSubject");
                $("textarea", element).attr("name", "AirConditioningSystemDetails[" + index + "].AirConditioningSystemDetail1");
            });
        }
        function AdvantagesNaming() {
            $("#AdvantagesDivs  input").each(function (index, element) {
                $(element).attr("name", "Advantages[" + index + "]");
            });
        }
        function DisAdvantagesNaming() {
            $("#DisAdvantagesDivs  input").each(function (index, element) {
                $(element).attr("name", "DisAdvatages[" + index + "]");
            });
        }
    </script>
    <script>
        var fieldname = "";
        var wind = "";

        tinymce.init({
            selector: '#@Html.IdFor(m => m.CarsRviewHtml)',
            menubar: false,
            plugins: "directionality,link,hr,table,emoticons,preview,image",
            toolbar: "fontsizeselect styleselect removeformat | ltr rtl | alignleft aligncenter alignright alignjustify | bold italic underline strikethrough | undo redo | cut copy paste | bullist numlist | hr link unlink | image | table tabledelete tabledelete tablemergecells tablesplitcells tableinsertrowbefore tableinsertrowbefore tableinsertrowbefore tablerowprops tablecutrow tablecopyrow tablepasterowbefore tablepasterowafter tableinsertcolbefore tableinsertcolafter tabledeletecol | emoticons preview | ",
            content_css: "@Url.Content("~/Publics/Styles/fonts/Fonts.css"),@Url.Content("~/Areas/Admin/Files/StyleAndScripts/Default/tinymce01.css")",
            directionality: 'rtl',
            min_height: 300,

            automatic_uploads: true,
            file_browser_callback: function (field_name, url, type, win) {
                //win.document.getElementById(field_name).value = 'my browser value';

                fieldname = field_name;
                wind = win;
                document.getElementById("filebrowserBack").style.display = "inherit";
                GetFiles('');
            }
        });

        var dirHistory = [];
        var currentDir = "";

        function GetFiles(path)
        {
            
            dirHistory.push(currentDir);
            currentDir = path;
            fc = document.getElementById("FilesContainer");
            fc.innerHTML = "";

            $.get("@Url.Action("GetImages","FileManager")", { path: path }, function (e) {
                for (var i = 0; i < e["DIR"].length; i++) {
                    a = document.createElement("a");
                    a.href = "javascript: void();";
                    a.classList.add("gia-directory");
                    a.classList.add("dir");
                    a.setAttribute("data-path", e["DIR"][i]["path"]);
                    a.setAttribute("data-name", e["DIR"][i]["name"]);

                    a.onclick = function () { GetFiles(this.getAttribute("data-name")); }
                    a.oncontextmenu = function (e) { OnContextMenuHandler(e); };

                    a.textContent = e["DIR"][i]["name"];
                    fc.appendChild(a);
                }

                for (var i = 0; i < e["IMGS"].length; i++) {
                    img = document.createElement("img");
                    img.src = e["IMGS"][i]["path"];
                    //img.setAttribute("data-title", e["IMGS"][i]["name"]);

                    secname = document.createElement("section");
                    secname.classList.add("imgname");
                    secname.innerHTML = e["IMGS"][i]["name"];

                    a = document.createElement("a");
                    a.classList.add("img");
                    a.setAttribute("data-path", e["IMGS"][i]["path"]);
                    a.setAttribute("data-name", e["IMGS"][i]["name"]);

                    a.onclick = function () { wind.document.getElementById(fieldname).value = this.getAttribute("data-path"); document.getElementById("filebrowserBack").style.display = "none"; };
                    a.oncontextmenu = function (e) { OnContextMenuHandler(e); };

                    a.href = "javascript:void();";

                    a.appendChild(img);
                    a.appendChild(secname);



                    fc.appendChild(a);
                }
            });


        }

        var ContextMenuSelectedElement = "";
        function OnContextMenuHandler(e) {
            e.preventDefault();
            //alert(e.offsetX);
            
            ContextMenuSelectedElement = $(e.target).parent('a');

            cnm = document.getElementById("ContextMenu");
            cnm.style.left = e.clientX + "px";
            cnm.style.top = e.clientY + "px";
            cnm.style.display = "flex";
            cnm.hideFocus = true;
            cnm.focus();
        }
        document.getElementById("filebrowser").addEventListener("mousedown", function (e) { document.getElementById("ContextMenu").style.display = "none"; });

        function RenameObject() {
            document.getElementById("ContextMenu").style.display = "none";

            rcn = document.getElementById("renameContainer");
            rcn.style.display = "flex";

            $("input[type=hidden]", rcn).val($(ContextMenuSelectedElement).attr("data-path"));
            $("input[type=text]", rcn).val($(ContextMenuSelectedElement).attr("data-name"));
        }

        function RenameChangeRequest(e) {
            document.getElementById("renameContainer").style.display = "none";
            $.post("@Url.Action("RenameRequest","FileManager")", { address: e.target.form.filepath.value, newname: e.target.form.filename.value }, function (res) {
                GetFiles(currentDir);
            })
        }
       

    </script>
}

@section style
{
    <style>
        .detailsContainer {
            display:flex;
            justify-content:space-between;

        }
            .detailsContainer .controls {
                position:relative;
                flex:1;
            }
                .detailsContainer .controls > * {
                   display:flex;
                   flex:1;
                   justify-content:center;
                   align-items:center;
                }

        .controls2 {
            border:thin solid #888;
            margin:5px;
            padding:3px;
            border-radius:3px;
        }
        .controls2 > * {
            display:flex;
            flex:1;
        }
            .controls2 > *:nth-child(1) {
                   justify-content:center;
                   align-items:center;
            }

        .underline {
            border-bottom:thin solid #888;
        }

        #formAction {
            display:flex;
            justify-content:center;
            align-items:center;
            margin:5px;
        }

    </style>

    <style>
        
        #filebrowserBack {
            /*display:none ;*/
            position:fixed;
            top:0; bottom:0; left:0; right:0; 
            background:rgba(0,0,0,0.7);
            z-index:75535;
        }
        #statusbar {
            background:#eaeaea;
            border-bottom:thin solid #888;
            padding:0 5px;
        }
        #topToolbar {
            border-bottom:thin solid #888;
        }
        #filebrowser {
            position:absolute;
            top:0; bottom:0; left:0; right:0; 
            background:white;
            margin:auto;
            width:95%;
            height:95%;
            overflow:auto;
        }

        #FilesContainer {
            display:flex; /*justify-content:center; align-items:stretch;*/
            flex-wrap:wrap;
        }
            #FilesContainer > * {
                position:relative;
                width:200px; height:120px;
                display:flex; flex-direction:column; justify-content:center; align-items:center;
                border:thin solid #888;
                margin:5px;
                border-radius:5px;
                overflow:hidden;
                text-align:center;
                transition:ease-in-out 0.3s;
                background:white;
            }
                #FilesContainer > *:hover {
                    box-shadow:0 0 3px 0 #000;
                    /*transform: scale(1.05);*/
                }
            #FilesContainer  img {
                
            }
            #FilesContainer imgname {
                position:absolute; left:0; right:0; bottom:0;
                background:rgba(0, 0, 0, 0.60);
                color:white;
                z-index: 1;
            }

        #ContextMenu {
            position:fixed;
            display:none; flex-direction:column;
            background:white;
            border:thin solid #888;
            box-shadow:0 0 2px 0 #000;
        }
            #ContextMenu a {
                padding:5px;
            }
                #ContextMenu a:hover {
                    color: white;
                    background: #888;
                }

        #renameContainer {
            position:fixed;
            left:0; right:0; top:0; bottom:0;
            margin:auto;
            width:300px;
            height:100px;
            border:thin solid #888;
            box-shadow: 0 0 5px 0 #000;
            background:white;
            display:none;
            flex-direction:column;
            justify-content:center; align-items:stretch;
            padding:5px;
        }
            #renameContainer h3 {
                margin:-5px;
                margin-bottom:5px;
                padding:0 5px;
                background:#888;
                color:white;
                font-size:90%;
            }
            #renameContainer input[type=text] {
                border: thin solid #777;
                font-family:yekan;
                direction:ltr;
                font-size:100%;
                padding:1px 3px;
            }
            #renameContainer #renameaction {
                display:flex; justify-content:center;
            }
    </style>
}