@model CarProject.Areas.Admin.Models.Cars.NewCar
@using CarProject.App_Code
@{
    ViewBag.Title = "نمایش اطلاعات خودرو ثبت شده";
}


<h2>اطلاعات عمومی خودرو</h2>
<table class="infoTable">
    <tr>
        <th>شناسه خودرو</th>
        <td>@Model.CarGeneral.CarsBrandName</td>
    </tr>
    <tr>
        <th>برند</th>
        <td>@Model.CarGeneral.CarsBrandName</td>
    </tr>
    <tr>
        <th>کلاس</th>
        <td>@Model.CarGeneral.CarsClass</td>
    </tr>
    <tr>
        <th>مدل</th>
        <td>@Model.CarGeneral.CarsModel</td>
    </tr>
    <tr>
        <th>امتیاز کاربران</th>
        <td>@Model.CarGeneral.CarsUserScore</td>
    </tr>
    <tr>
        <th>امتیاز کلینیک</th>
        <td>@Model.CarGeneral.CarsClinicScore</td>
    </tr>
    <tr>
        <th>قیمت</th>
        <td>@Model.CarGeneral.Price</td>
    </tr>
    <tr>
        <th>آدرس ویدئو</th>
        <td><a href="@Model.CarGeneral.CarsVideoURL">@Model.CarGeneral.CarsVideoURL</a></td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarGeneral.CarsDescription</td>
    </tr>
    <tr>
        <th>کلاس کاری</th>
        <td>@Model.CarGeneral.CarClassType</td>
    </tr>
    <tr>
        <th>دسته بندی</th>
        <td>@Model.CarGeneral.CarCategory</td>
    </tr>
    <tr>
        <th>کاربر</th>
        <td>@Model.CarGeneral.CarUsage</td>
    </tr>
</table>

<h2>موتور</h2>
<table class="infoTable">
    <tr>
        <th>نوع موتور</th>
        <td>@Model.CarEngine.EngineType</td>
    </tr>
    <tr>
        <th>تعداد سیلندر</th>
        <td>@Model.CarEngine.EngineCylinderNumber</td>
    </tr>
    <tr>
        <th>قدرت موتور</th>
        <td>@Model.CarEngine.EnginePowerHpRpm</td>
    </tr>
    <tr>
        <th>گشتاور</th>
        <td>@Model.CarEngine.EngineTorque</td>
    </tr>
    <tr>
        <th>توان وزنی</th>
        <td>@Model.CarEngine.EnginePowerHpTon</td>
    </tr>
    <tr>
        <th>توان خروجی</th>
        <td>@Model.CarEngine.EnginePowerHpLitr</td>
    </tr>
    <tr>
        <th>0 تا 100</th>
        <td>@Model.CarEngine.EngineZeroToH</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarEngine.EngineDescription</td>
    </tr>
</table>

<h2>گیربکس</h2>
<table class="infoTable">
    <tr>
        <th>کد گیربکس</th>
        <td>@Model.CarGearBox.GearBoxCode</td>
    </tr>
    <tr>
        <th>نوع</th>
        <td>@Model.CarGearBox.GearBoxType</td>
    </tr>
    <tr>
        <th>آیا میتواند به صورت دستی تنظیم شود؟</th>
        <td>@Model.CarGearBox.GearBoxCanBeManual.YesNoString()</td>
    </tr>
    <tr>
        <th>تعداد دنده</th>
        <td>@Model.CarGearBox.GearBoxShiftNumber</td>
    </tr>
    <tr>
        <th>محور متحرک</th>
        <td>@Model.CarGearBox.GearBoxAxel</td>
    </tr>
    <tr>
        <th>آیا دارای کمک گیربکس است؟</th>
        <td>@Model.CarGearBox.HasTransferCase.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای قفل دیفرانسیل است؟</th>
        <td>@Model.CarGearBox.GearBoxDiffrentionalLock.YesNoString()</td>
    </tr>
    <tr>
        <th>4WD</th>
        <td>@Model.CarGearBox.GearBoxWdType</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarGearBox.GearBoxDescription</td>
    </tr>
</table>

<h2>مشخصات فیزیکی</h2>
<table class="infoTable">
    <tr>
        <th>طول خودرو</th>
        <td>@Model.CarPhysicalDetail.CarLength</td>
    </tr>
    <tr>
        <th>عرض خودرو</th>
        <td>@Model.CarPhysicalDetail.Carwidth</td>
    </tr>
    <tr>
        <th>ارتفاع خودرو</th>
        <td>@Model.CarPhysicalDetail.CarHeight</td>
    </tr>
    <tr>
        <th>وزن خالص</th>
        <td>@Model.CarPhysicalDetail.CarPureWeight</td>
    </tr>
    <tr>
        <th>فاصله دو چرخ یک محور</th>
        <td>@Model.CarPhysicalDetail.CarTrack</td>
    </tr>
    <tr>
        <th>فاصله دو محور از یکدیگر</th>
        <td>@Model.CarPhysicalDetail.CarWheelBase</td>
    </tr>
    <tr>
        <th>حجم باک</th>
        <td>@Model.CarPhysicalDetail.CarTankSize</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarPhysicalDetail.Details</td>
    </tr>
</table>

<h2>سیستم سوخت رسانی</h2>
<table class="infoTable">
    <tr>
        <th>مصرف در شهر</th>
        <td>@Model.FuelConsumption.LphCity</td>
    </tr>
    <tr>
        <th>مصرف در جاده</th>
        <td>@Model.FuelConsumption.LphRoad</td>
    </tr>
    <tr>
        <th>سیکل ترکیبی</th>
        <td>@Model.FuelConsumption.LphMix</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.FuelConsumption.Details</td>
    </tr>
</table>

<h2>سیستم ترمز</h2>
<table class="infoTable">
    <tr>
        <th>سیستم ترمز جلو</th>
        <td>@Model.BreakSystem.FrontBrakeSystem</td>
    </tr>
    <tr>
        <th>سیستم ترمز عقب</th>
        <td>@Model.BreakSystem.RearBrakeSystem</td>
    </tr>
    <tr>
        <th>سیستم های دیگر</th>
        <td>@Model.BreakSystem.OtherSystem</td>
    </tr>
    <tr>
        <th>سیستم ترمز دستی</th>
        <td>@Model.BreakSystem.HandBrakeSystem</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.BreakSystem.Details</td>
    </tr>
    <tr>
        <th>جزئیات دیگر</th>
        <td>
            @foreach (var item in Model.DetailedBrakeSystem)
            {
                <section>@item.DetailedName</section>
            }
        </td>
    </tr>
</table>

<h2>سیستم امنیتی</h2>
<table class="infoTable">
    <tr>
        <th>آیا دارای ریموت کنترل است؟</th>
        <td>@Model.SecuritySystem.RemoteControl.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای دزدگیر است؟</th>
        <td>@Model.SecuritySystem.BurglarAlarm.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای آژیر است؟</th>
        <td>@Model.SecuritySystem.Alarm.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای سیستم ضد سرقت است؟</th>
        <td>@Model.SecuritySystem.Emo.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای سیستم استارت بدون کلید است?</th>
        <td>@Model.SecuritySystem.KeylessStart.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای درهای بازشو بدون کلید است؟</th>
        <td>@Model.SecuritySystem.KeylessDoor.YesNoString()</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.SecuritySystem.Details</td>
    </tr>
</table>

<h2>سیستم فرمان</h2>
<table class="infoTable">
    <tr>
        <th>نوع</th>
        <td>@Model.SteeringSystem.SteeringSystemType</td>
    </tr>
    <tr>
        <th>مدل فرمان</th>
        <td>@Model.SteeringSystem.SteeringType</td>
    </tr>
    <tr>
        <th>امکان تنظیم ارتفاع دارد؟</th>
        <td>@Model.SteeringSystem.SteeringHeightAdjustble.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای دکمه کنترلی روی فرمان است؟</th>
        <td>@Model.SteeringSystem.SteeringControlKey.YesNoString()</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.SteeringSystem.Details</td>
    </tr>
</table>

<h2>سیستم تهویه هوا</h2>
<table class="infoTable">
    <tr>
        <th>نوع سیستم تهویه هوا</th>
        <td>@Model.AirConditioningSystem.AirConditioningType</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.AirConditioningSystem.Details</td>
    </tr>
</table>

<h2>جزئیات سیستم تهویه هوا</h2>
<table class="grid1">
    <thead>
        <tr>
            <th>موضوع</th>
            <th>جزئیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AirConditioningSystemDetails)
        {
            <tr>
                <td style="font-weight:bold;">@item.AirConditioningSystemDetailSubject</td>
                <td>@item.AirConditioningSystemDetail1</td>
            </tr>
        }
    </tbody>
</table>

<h2>سیستم صوتی</h2>
<table class="infoTable">
    <tr>
        <th>نوع</th>
        <td>@Model.CarAudioSystem.AudioSystemType</td>
    </tr>
    <tr>
        <th>برند</th>
        <td>@Model.CarAudioSystem.AudioSystemBrand</td>
    </tr>
    <tr>
        <th>آیا دارای مانیتور است؟</th>
        <td>@Model.CarAudioSystem.HasMonitor.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای مانیتور برای سرنشین عقب است؟</th>
        <td>@Model.CarAudioSystem.RearSeatsMonitor.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای دوربین دنده عقب است؟</th>
        <td>@Model.CarAudioSystem.RearGearCamera.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای دوربین جلو است؟</th>
        <td>@Model.CarAudioSystem.FrontCamera.YesNoString()</td>
    </tr>
    <tr>
        <th>مارک باندهای عقب</th>
        <td>@Model.CarAudioSystem.RearStereo</td>
    </tr>
    <tr>
        <th>مارک باندهای جلو</th>
        <td>@Model.CarAudioSystem.FrontStereo</td>
    </tr>
    <tr>
        <th>ساب ووفر</th>
        <td>@Model.CarAudioSystem.Subwoofer</td>
    </tr>
    <tr>
        <th>آمپلی فایر</th>
        <td>@Model.CarAudioSystem.Amplifire</td>
    </tr>
    <tr>
        <th>آیا دارای سیستم جهت یابی است؟</th>
        <td>@Model.CarAudioSystem.HasGps.YesNoString()</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarAudioSystem.Details</td>
    </tr>
</table>

<h2>صندلی ها</h2>
<table class="infoTable">
    <tr>
        <th>آیا امکان جابه جایی طولی دارد؟</th>
        <td>@Model.CarSeatOption.LongitudinalDisplacement.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای تنظیم گودی کمر است؟</th>
        <td>@Model.CarSeatOption.BezelSet.YesNoString()</td>
    </tr>
    <tr>
        <th>گرم کن صندلی دارد؟</th>
        <td>@Model.CarSeatOption.SeatWarmer.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا مجهز به سیستم ماساژور است؟</th>
        <td>@Model.CarSeatOption.SeatMassage.YesNoString()</td>
    </tr>
    <tr>
        <th>آیا دارای حافظه است؟</th>
        <td>@Model.CarSeatOption.HasMemory.YesNoString()</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarSeatOption.Details</td>
    </tr>
</table>

<h2>شیشه و آینه ها</h2>
<table class="infoTable">
    <tr>
        <th>سیستم شیشه های جلو</th>
        <td>@Model.GlassAndMirror.FrontWindscreens</td>
    </tr>
    <tr>
        <th>سیستم شیشه های عقب</th>
        <td>@Model.GlassAndMirror.RearWindscreens</td>
    </tr>
    <tr>
        <th>سان روف دارد؟</th>
        <td>@Model.GlassAndMirror.SunRoof.YesNoString()</td>
    </tr>
    <tr>
        <th>سقف پاناروما دارد؟</th>
        <td>@Model.GlassAndMirror.PanaromaRoof.YesNoString()</td>
    </tr>
    <tr>
        <th>گرمکن شیشه عقب دارد؟</th>
        <td>@Model.GlassAndMirror.RearGlassWarmer.YesNoString()</td>
    </tr>
    <tr>
        <th>گرمکن شیشه های بقل دارد؟</th>
        <td>@Model.GlassAndMirror.WindscreensWarmer.YesNoString()</td>
    </tr>
    <tr>
        <th>گرمکن شیشه جلو دارد؟</th>
        <td>@Model.GlassAndMirror.FrontGlassWarmer.YesNoString()</td>
    </tr>
    <tr>
        <th>تنظیم آینه های بقل</th>
        <td>@Model.GlassAndMirror.SideMirrorSet</td>
    </tr>
    <tr>
        <th>جمع شدن آینه های بقل</th>
        <td>@Model.GlassAndMirror.SideMirrorSystem</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.GlassAndMirror.Details</td>
    </tr>
</table>

<h2>سیستم روشنایی</h2>
<table class="infoTable">
    <tr>
        <th>چراغ های جلو</th>
        <td>@Model.CarLightingSystem.FrontLights</td>
    </tr>
    <tr>
        <th>چراغ های عقب</th>
        <td>@Model.CarLightingSystem.RearLights</td>
    </tr>
    <tr>
        <th>دارای دیلایت است؟</th>
        <td>@Model.CarLightingSystem.DayLight.YesNoString()</td>
    </tr>
    <tr>
        <th>چراغ راهنمای روی آینه های بقل دارد؟</th>
        <td>@Model.CarLightingSystem.SideMirrorLight.YesNoString()</td>
    </tr>
    <tr>
        <th>دارای مه شکن جلو است؟</th>
        <td>@Model.CarLightingSystem.FonrAntiFog.YesNoString()</td>
    </tr>
    <tr>
        <th>دارای مه شکن عقب است؟</th>
        <td>@Model.CarLightingSystem.RearAntiFog.YesNoString()</td>
    </tr>
    <tr>
        <th>چراغ مطالعه دارد؟</th>
        <td>@Model.CarLightingSystem.ReadingLamp.YesNoString()</td>
    </tr>
    <tr>
        <th>چراغ ترمز سوم دارد؟</th>
        <td>@Model.CarLightingSystem.ThirdLightStop.YesNoString()</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarLightingSystem.Deailts</td>
    </tr>
</table>

<h2>سیستم سنوسورهای خودرو</h2>
<table class="infoTable">
    <tr>
        <th>سنسور روشنایی روز دارد؟</th>
        <td>@Model.CarSensorsSystem.DayLightSensor.YesNoString()</td>
    </tr>
    <tr>
        <th>سنسور باران دارد؟</th>
        <td>@Model.CarSensorsSystem.RainSensor.YesNoString()</td>
    </tr>
    <tr>
        <th>سنسور دنده عقب دارد؟</th>
        <td>@Model.CarSensorsSystem.RearGearSensor.YesNoString()</td>
    </tr>
    <tr>
        <th>سنسور پارک خودرو دارد؟</th>
        <td>@Model.CarSensorsSystem.ParkSensor.YesNoString()</td>
    </tr>
    <tr>
        <th>سنسور هدایت خودرو دارد؟</th>
        <td>@Model.CarSensorsSystem.NavigateSensor.YesNoString()</td>
    </tr>
    <tr>
        <th>کروز کنترل دارد؟</th>
        <td>@Model.CarSensorsSystem.CruiseControl.YesNoString()</td>
    </tr>
    <tr>
        <th>دوربین دنده عقب دارد؟</th>
        <td>@Model.CarSensorsSystem.RearGearCamera.YesNoString()</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarSensorsSystem.Details</td>
    </tr>
</table>

<h2>سیستم کیسه هوا</h2>
<table class="infoTable">
    <tr>
        <th>کسیه هوای راننده دارد؟</th>
        <td>@Model.CarAirbag.DriverAirBag.YesNoString()</td>
    </tr>
    <tr>
        <th>کیسه هوای شاگرد دارد؟</th>
        <td>@Model.CarAirbag.FrontAirBag.YesNoString()</td>
    </tr>
    <tr>
        <th>کیسه هوای عقب دارد؟</th>
        <td>@Model.CarAirbag.AirBag.YesNoString()</td>
    </tr>
    <tr>
        <th>تعداد کیسه هوا</th>
        <td>@Model.CarAirbag.AirBagEntity</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarAirbag.Details</td>
    </tr>
</table>

<h2>رینگ و لاستیک</h2>
<table class="infoTable">
    <tr>
        <th>نوع</th>
        <td>@Model.CarWheel.TireType</td>
    </tr>
    <tr>
        <th>سایز استاندارد رینگ</th>
        <td>@Model.CarWheel.RingStandardSize</td>
    </tr>
    <tr>
        <th>مشخصات تایر</th>
        <td>@Model.CarWheel.TireSpec</td>
    </tr>
    <tr>
        <th>نوع رینگ</th>
        <td>@Model.CarWheel.RingType</td>
    </tr>
    <tr>
        <th>مدل رینگ</th>
        <td>@Model.CarWheel.RingType</td>
    </tr>
    <tr>
        <th>قابلیت کم و زیاد کردن باد به صورت خودکار دارد؟</th>
        <td>@Model.CarWheel.AutoInflated.YesNoString()</td>
    </tr>
    <tr>
        <th>توضیحات</th>
        <td>@Model.CarWheel.Details</td>
    </tr>
</table>

<h2>معایب و مزیای</h2>
<table class="infoTable">
    <tr>
        <th>مزایا</th>
        <td>
            @foreach (var item in @Model.Advantages)
            {
                <section>@item</section>
            }
        </td>
    </tr>
    <tr>
        <th>معایب</th>
        <td>
            @foreach (var item in @Model.Disadvantages)
            {
                <section>@item</section>
            }
        </td>
    </tr>
</table>

<h2>بررسی</h2>
<table class="infoTable">
    <tr>
        <th>امتیاز خودرو</th>
        <td>@Model.CarsReview.CarScore</td>
    </tr>
    <tr>
        <th>زیبایی</th>
        <td>@Model.CarsReview.Beauty</td>
    </tr>
    <tr>
        <th>ارزش خرید</th>
        <td>@Model.CarsReview.WorthBuying</td>
    </tr>
    <tr>
        <th>کیفیت</th>
        <td>@Model.CarsReview.Quality</td>
    </tr>
    <tr>
        <th>خدمات</th>
        <td>@Model.CarsReview.Services</td>
    </tr>
    <tr>
        <th>متن بررسی</th>
        <td>
            <p style="margin:5px;">
                @Html.Raw(Model.CarsReviewString)
            </p>
        </td>
    </tr>
</table>

<h2>جزئیات بررسی</h2>
<table class="grid1">
    <thead>
        <tr>
            <th>موضوع</th>
            <th>جزئیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarsReviewPoint)
        {
            <tr>
                <td style="font-weight:bold">@item.CarsReviewSubject</td>
                <td>@item.CarsReview</td>
            </tr>
        }
    </tbody>
</table>

<hr />
<div id="carsImage">
    @{
        var path = "~/Publics/CarImages/" + Model.CarGeneral.CarsId ;
        var dic = new DirectoryInfo(Server.MapPath(path));
        if(dic.Exists)
        {
            foreach (var item in dic.GetFiles())
            {
                <img src="@System.Web.VirtualPathUtility.ToAbsolute(path + "/" + item.Name)" />
            }
        }
        
    }
</div>

@section style
{
    <style>
        td section {
            display:block;
            padding:5px;
            margin:5px;

            background:#eee;
        }
        #carsImage {
            text-align:center;
        }
            #carsImage img {
                display:inline-block;
                width:120px;
                height:90px;
                border:thin solid #999;
                border-radius:5px;
                margin:5px;
                overflow:hidden;
                box-shadow:0 0 1px 0 #999;

                transition:ease-in-out 0.3s;
            }
            #carsImage img:hover {
                box-shadow:0 2px 3px 0 #000;
            }
    </style>
}