@{
    ViewBag.Title = "پروفایل کاربر";

    var dbs = new CarProject.DBSEF.CarAutomationEntities();

    var person = CarProject.Areas.Users.Controllers.profileController.GetCurrentLoginPerson;
    var personcarnotification = new CarProject.Areas.Users.UsersCLS.Notifications.UserCarsNotifications();

    var UserCars = dbs.PersonCars.Where(c => c.UserId == person.UserId);
    var baskets = dbs.Baskets.Where(c => c.UserId == person.UserId);
}
@using CarProject.App_extension
@using CarProject.Models.Store




<div class="item">
    <h3>دسترسی سریع</h3>

    <div class="menu1Container">
        <a href="/Store/Cart">
            <section class="gia-cart logo"></section>
            <section class="title">سبد خرید کاربر</section>
        </a> 
        <a href="/Users/Dashboard/ShoppingHistory">
            <section class="gia-details logo"></section>
            <section class="title">تاریخچه خریدها</section>
        </a>
        <a href="/Users/Dashboard/ShoppingHistory">
            <section class="gia-distribution logo"></section>
            <section class="title">پیگیری سفارش</section>
        </a>
        <a href="/Users/Profile/ViewUserProfile">
            <section class="gia-userInfo logo"></section>
            <section class="title">اطلاعات کاربری</section>
        </a>

        <a href="/Users/Profile/UserChangePassword">
            <section class="gia-key logo"></section>
            <section class="title">تغییر کلمه عبور کاربر</section>
        </a>

        <a href="/Users/Dashboard/PersonCars">
            <section class="gia-usercar logo"></section>
            <section class="title">خودرو کاربر</section>
        </a>
    </div>
</div>

<div class="item">
    <h3>خودروهای کاربر</h3>

    <div class="itemContainer">
        @foreach (var item in UserCars)
        {
            <div class="item">
                <section class="title gia-car2">@item.Car.CarModel.CarBrand.CarBrandName - @item.Car.CarModel.CarModelName</section>
                <table>
                    <tr>
                        <th>برند</th>
                        <td>@item.Car.CarModel.CarBrand.CarBrandName</td>
                    </tr>
                    <tr>
                        <th>مدل</th>
                        <td>@item.Car.CarModel.CarModelName</td>
                    </tr>
                    <tr>
                        <th>پلاک</th>
                        <td>@item.CarPlate | @item.CarPlateCityCode</td>
                    </tr>
                    <tr>
                        <th>رنگ</th>
                        <td>@item.CarColor</td>
                    </tr>
                    <tr>
                        <th>کیلومتر فعلی</th>
                        <td>@item.CarMilage</td>
                    </tr>
                </table>
            </div>
        }
    </div>

    <small><a href="@Url.Action("PersonCars","Dashboard")">مدیریت خودروهای کاربر</a></small>
</div>

<div class="item">
    <h3>تاریخچه خرید</h3>

    <table class="table">
        <thead>
            <tr>
                <th class="fix">شماره</th>
                <th class="fix">وضعیت</th>
                <th class="fix">تاریخ ثبت خرید</th>
                <th class="fix">تاریخ تحویل</th>
                <th class="fix">کد پیگیر بانک</th>
                <th>کد پیگیری</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 1; }
            @if (baskets.Any())
            {
                foreach (var item in baskets)
                {
                    <tr>
                        <td class="center">@i</td>
                        <td class="fix">@{ var statestring = ((CartUsefull.Basket_State)item.State).Basket_State_ToString();} @statestring</td>
                        <td class="fix">@if (item.FinishDate != null)
                        { @item.FinishDate.DateTime_Persian() }</td>
                        <td class="fix">@if (item.DelivaryDate != null)
                        { @item.DelivaryDate.DateTime_Persian() }</td>
                        <td>@item.BankCode</td>
                        <td>@item.LocalCode</td>
                        <td class="center">
                            <a href="/Users/Dashboard/BasketDetails/@item.BasketId" class="gia-details"></a>
                        </td>
                    </tr>

                                    i += 1;
                                }
                            }
        </tbody>
    </table>
</div>

<div class="item">
    <h3>هشدارها</h3>
    <ul class="notificationShortViewMessage">
        @if(personcarnotification.Notifications != null)
        {
            foreach (var item in personcarnotification.Notifications)
            {
                <li><a href="#">@item.Message</a></li>
            }
        }
    </ul>
</div>



@section head
{    
    <link href="~/Publics/Files/ControlsPageTemplates/Users/Profile/Index/css.css" rel="stylesheet" />

<style>
    .table {
        width: 100%;
    }

        .table td,
        .table th {
            padding: 1px 3px;
            border: thin solid #eaeaea;
        }

        .table thead {
            background: #eaeaea;
        }

        .table .fix {
            width: 0;
            white-space: nowrap;
        }

        .table .center {
            text-align: center;
        }
</style>
}