@using CarProject.App_Code
@{
    ViewBag.Title = "مدیریت شرکت ها";
}
@model CarProject.Areas.Admin.Models.Dashboard.CompanyModel

<div id="CompaniInsertSection">
    <form method="post">
        
        <div class="inputsContainer">
            @Html.input_TextBox(m => m.Company.CompanyName, "نام شرکت")
            @Html.input_TextArea(m => m.Company.CompanyAddress, "آدرس شرکت")

        </div>

        <div class="inputAction">
            <input type="submit" value="ثبت شرکت"  class="button green"/>
        </div>

    </form>
</div>


<div id="companiesShow">
    <table class="grid1">
        <thead>
            <tr>
                <th class="min_nw">شناسه</th>
                <th>نام شرکت</th>
                <th class="min_nw">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.dbs.Companies)
            {
                <tr>
                    <td class="min_nw">@item.CompanyId</td>
                    <td class="tright">@item.CompanyName</td>
                    
                    <td class="min_nw">
                        <a href="@Url.Action("CompaniesManagment_Update", "DashBoard", new { id= item.CompanyId })" class="gia-edit"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>