@model List<CarProject.DBSEF.Troubleshooting>
@{
    ViewBag.Title = "سوالات عیب یابی";
    var dbscontext = new CarProject.DBSEF.CarAutomationEntities();
}


<nav id="Navigation">
    @if (Model.Count > 0 && Model[0].FatherId != null && Model[0].FatherId > 0)
    {
        var xc = new CarProject.DBSEF.CarAutomationEntities();
        int xi = Model[0].FatherId.GetValueOrDefault(-1);
        var xt = xc.Troubleshootings.FirstOrDefault(t => t.TroubleshootingId == xi);
        while (xt != null && xi > 0)
        {
            <a href="@Url.Action("Index",new {parentId = xt.TroubleshootingId})"> | @xt.TroubleshootingId</a>
        
            xi = xt.FatherId.GetValueOrDefault(-1);
            xt = xc.Troubleshootings.FirstOrDefault(t => t.TroubleshootingId == xi);
        }
    }

    <a href="@Url.Action("Index",new {parentId = ""})">لیست سوالها</a>
    
</nav>

<div id="TroubleContianers">
    @foreach (var item in Model)
    {
        <div class="items">
            <section class="question">
                @if (dbscontext.Troubleshootings.Count(t => t.FatherId == item.TroubleshootingId) > 0)
                {
                    <a href="@Url.Action("Index", "Troubleshooting", new { parentID = item.TroubleshootingId })" >@item.TroubleshootingId - @item.Question</a>
                }
                else
                {
                    <section>@item.TroubleshootingId - @item.Question</section>
                }
            </section>
            <section class="answer">@item.Answer</section>

            <div class="action">
                @if(dbscontext.Troubleshootings.Count(t => t.FatherId == item.TroubleshootingId) > 0)
                {
                    <a href="@Url.Action("Index", "Troubleshooting", new { parentID = item.TroubleshootingId })" class="button blue gia-active" >نمایش سوالات مربوطه</a>
                }
                <a href="@Url.Action("New", "Troubleshooting", new { Id = item.TroubleshootingId })" class="button green gia-add" >اضافه کردن سوال به زیر مجموعه</a>
                
                <a href="@Url.Action("Update", "Troubleshooting", new { Id = item.TroubleshootingId })" class="button purple gia-edit">ویرایش سوال</a>

                <a href="javascript: void()" onclick="deletebuttonclick('@item.TroubleshootingId')" class="button red gia-remove">حذف</a>
            </div>
        </div>
    }
</div>



<div id="removeBack">
    <div id="removeMessage">
        <div id="DeleteMesseage">آیا از حذف مورد انتخابی اطمینان دارید؟</div>
        <form method="post" action="@Url.Action("DeleteTrouble","Troubleshooting")" style="display:flex; justify-content:center; align-items:center;">
            <input type="hidden" id="RemoveItem" name="Id" value="" />

            <button type="submit" name="RemoveItem" class="button orange"><section class="gia-remove">حذف سوال و انتقال زیر مجموعه به بالا</section></button>
            <button type="submit" name="RemoveAll" class="button red"><section class="gia-remove">حذف سوال و زیر مجموعه های مرتبط</section></button>
            <button type="button" class="button green" onclick="deleteCancel()">انصراف</button>
        </form>
    </div>
</div>



@section script
{
    <script>
        function deletebuttonclick(id) {

            document.getElementById('removeBack').classList.add("show");
            document.getElementById("RemoveItem").value = id;
        }

        function deleteCancel() {
            document.getElementById('removeBack').classList.remove("show");
        }
    </script>
}

@section style
{
    <style>
        #Navigation {
            border-bottom:thin solid #888;
            margin-bottom:10px;
            padding:5px;

            display:flex;
            flex-direction:row-reverse;
            justify-content:flex-end;
            flex-wrap:wrap;
        }

        #TroubleContianers {
            
        }
        .items {
            margin:5px;
            border:thin solid #666;
            min-height:150px;
            min-width:250px;
            overflow:hidden;
        }
            .items:hover {
                box-shadow:0 0 3px 0 #888;
            }
        .question {
            font-weight: bold;
            background:#EEE;
            padding:1px 5px;
            
            border-bottom:thin solid #AAA;
        }
        .answer {
            padding: 1px 5px;
        }

        .action {
            position:absolute;
            left:0; right:0; bottom:-100%;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-wrap:wrap;
            background:rgba(0,0,0,0.6);

            transition:linear 0.3s;
            font-size:70%;
        }
        .items:hover .action {
            bottom:0;
        }




        #removeBack {
            position:fixed;
            background:rgba(0, 0, 0, 0.60);
            top:0;
            bottom:0;
            left:0;
            right:0;

            z-index:9999;


            display:flex;
            justify-content:center;
            align-items:center;

            display:none;
        }
            #removeBack.show {
                display:flex;
            }
        #removeMessage {
            padding:10px;
            min-width:300px;
            background:white;

            border:thin solid #888;
            border-radius:5px;
            box-shadow:0 0 3px 0 #333;
        }
    </style>
}