@using CarProject.App_Code;

@model CarProject.Areas.Admin.Models.Cars.TroubleshootingClass
@{
    ViewBag.Title = "ویرایش سوال";
}


<form method="post">
    @Html.HiddenFor(m => m.Troubleshooting.FatherId)
    <div class="inputsContainer">
        @Html.input_TextBox(m => m.Troubleshooting.Question, "سوال")
        @Html.input_TextArea(m => m.Troubleshooting.Answer, "جواب")

        @Html.input_SearchBox(m => m.Troubleshooting.ProductId, "قطعه معیوب" , "messagebox()")

        @Html.input_TextBox(m => m.Troubleshooting.ServicePrice, "قیمت سرویس و تعمیر")
    </div>
    <div id="formActionSection">
        <a href="@Url.Action("Index","Troubleshooting")" class="button red">برگشت</a>
        <input type="submit" class="button green" name="saveOnly" value="ویرایش اطلاعات" />
    </div>
</form>

