@using CarProject.App_Code;
@model CarProject.Areas.Admin.Models.User.UserInfo
@{
    Layout = null;
}


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ثبت نام کاربر</title>

    <link href="~/Publics/Styles/fonts/Fonts.css" rel="stylesheet" />
    <link href="~/Publics/Styles/fonts/GIAdmin.css" rel="stylesheet" />

    <style>
        * {
            position: relative;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            direction:rtl;

            font-family:f3;

            min-height:100vh;
            display:flex; justify-content:center; items-align:center;
            background:#d1d1da url(@System.Web.VirtualPathUtility.ToAbsolute("~/Areas/Admin/Files/Images/SignupBack.jpg")) no-repeat;
            background-size:100% auto;
        }

        #signup {
            width:500px;
            margin:auto;

            padding:10px;
            border:thin solid #445;
            box-shadow:0 0 2px 0 #445;

            background:rgba(231, 231, 236, 0.80);
            border-radius:5px;
            overflow:hidden;
        }

        input:not([type=submit]) {
            width:100%;
            border:thin solid #808080;
            font-family:f2;
            padding:2px 5px;
            border-radius:1px;
        }
            input:not([type=submit]):focus {
                box-shadow:0 0 3px #444;
            }

        label {
            padding: 0 10px;
            font-weight:bold;
        }

        .field-validation-error {
            color:red;
        }
        .error {
            outline: thin solid #F00;
            box-shadow:0 0 1px 0 #f00;
        }
        /*---------------------------------------Buttons------------------------------------------*/
	.button
	{
		border:thin solid #afafaf;
		background:#eaeaea;
		color: #252525;
	    
		border-radius:3px;
		text-decoration:none;

		
		padding:5px;
		margin:3px;
		
        box-sizing:border-box;

        font-family: f2;
        font-size:90%;

	}
	.button:hover
	{
		box-shadow: 0 0 2px 0 #9b9b9b;
	}
	.button:active
	{
		box-shadow: 0 0 2px 0 #9b9b9b inset;
	}
	
	.button.green
	{
		background:#c4ffc4;
		color:#004e00;
		border: thin solid #00b100;
	}
	.button.red
	{
		background:#ffb1b1;
		color:#760000;
		border: thin solid #c40000;
	}
	.button.blue
	{
		background:#b1b1ff;
		color:#000089;
		border: thin solid #0000c4;
	}
/*---------------------------------------Buttons------------------------------------------*/
    </style>
</head>

<body>
    <div class="inputsContainer" id="signup">
    @using (Html.BeginForm("Signup","Login"))
    {
        @Html.input_TextBox(m => m.Person.PersonFirtstName, "نام")
        @Html.input_TextBox(m => m.Person.PersonLastName, "نام خانوادگی")
        @Html.input_TextBox(m => m.Person.PersonPhone, "تلفن ثابت")
        @Html.input_TextBox(m => m.Person.PersonMobile, "موبایل")
        @Html.input_TextBox(m => m.Person.PersonAddressCity, "شهر")
        @Html.input_TextBox(m => m.Person.PersonAddress, "آدرس")

        @Html.input_TextBox(m => m.Person.User.Uname, "نام کاربری")
        @Html.input_Password(m => m.Password, "کلمه عبور")
        @Html.input_Password(m => m.PasswordConfirm, "کلمه عبور")

       
        
        <div style="display:flex; justify-content:flex-end; items-align:center;">
            <a href="@Url.Action("Index","Login")" class="button red">انصراف</a>
            <input type="submit" value="ثبت کاربر" class="button blue" />
        </div>
        
        
        <div style="color:red; font-family:f2;">
            @ViewBag.error
        </div>
    }

    
</div>
</body>

</html>



