@using dsh = CarProject.Areas.Admin.Models.Dashboard
@using CarProject.App_extension
@{
    var dbsobj = new CarProject.DBSEF.CarAutomationEntities();


    var loggineduser = CarProject.Areas.Users.Controllers.profileController.GetCurrentLoginPerson;

    var sri = new dsh.MySerializer();
    var ab = new dsh.AboutMe();
    var cus = new dsh.ContactUs();

    ab = (dsh.AboutMe)sri.LoadXml(Server.MapPath(ab.FileLocation), ab.GetType());
    cus = (dsh.ContactUs)sri.LoadXml(Server.MapPath(cus.FileLocation), cus.GetType());
}@functions{
    
    
    
}<!doctype html>
<html>
<head>

<meta charset="utf-8">
@*<meta name="viewport" content="width=device-width, initial-scale=1">*@
    

<link rel="apple-touch-icon" sizes="180x180" href="/Publics/Gallery/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/Publics/Gallery/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/Publics/Gallery/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/Publics/Gallery/favicons/manifest.json">
<meta name="theme-color" content="#ffffff">




    
<title>خودرو کلینیک @if (!string.IsNullOrEmpty(ViewBag.Title)) { Write("| " + ViewBag.Title); }</title>


    <link href="~/Publics/Files/Templates/templates02/cssclasses.css" rel="stylesheet" />
    <link href="~/Publics/Files/Templates/templates02/style.css" rel="stylesheet" />

    <link href="~/Publics/Styles/fonts/Fonts.css" rel="stylesheet" />
    <link href="~/Publics/Styles/fonts/GIAdmin.css" rel="stylesheet" />
    <link href="~/Publics/Styles/animate.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/input1.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/ItemsShowing.css" rel="stylesheet" />

    <script src="~/Publics/Scripts/jquery-3.0.0.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>


    @RenderSection("style", false)
</head>

<body>
<div id="websiteContent">

    <header id="headers">
        <header id="header0">
            <header id="header1">
                <h1 id="WebsiteBigTitle"><a href="/">خودروکلینیک</a></h1>
                
                <div id="header1_userprofilenav_search">
                   @if(loggineduser != null)
                   {
                     <nav id="Website_profile_navigation">
                        <span>سلام <q>(@loggineduser.User.Uname)</q> @loggineduser.PersonFirtstName، خوش آمدید</span>
                        <a href="/Users/profile">مشاهده پروفایل</a>
                        <a href="/Users/Dashboard/PersonCars">خودروهای شما</a>
                        <a href="/Users/Dashboard/ShoppingHistory">سوابق خرید</a>
                        <a href="#">پیگیر سفارش</a>
                    </nav>
                   }
                    
                    <div id="Website_search_section">
                        <a href="/Store/Cart" class="t2button">سبد خرید</a>
                        
                        <form method="get" action="/Home/Search" id="Webiste_Search_Control">
                            <input type="text" name="search" value="@Request.QueryString["search"]" placeholder="جستجوی خودروها،قطعات یدکی،اخبار" />
                            <button type="submit"><span class="gia-left"></span></button>
                        </form>
                        
                        @if(loggineduser == null)
                        {
                            <a href="/Users/profile/Login">ورود / ثبت نام <span class="gia-user2"></span></a>
                            <a href="#">سامانه اشتراک <span class="gia-rss2"></span></a>
                        }
                    </div>
                </div>
            </header>
            
            <div id="WebsiteBigLogo">
                <img src="~/Publics/Files/Templates/templates02/Images/Final-Logo-Khodroclinic.png" alt="لوگوی خودرو کلینیک" />
            </div> 
        </header>
        <header id="header2">
            @foreach (var item in dbsobj.HomePageMenus)
            {
                <a href="@item.Target" title="@item.Title">@item.Subject</a><span class="splitter"></span>
            }
        </header>
    </header>	

	<div id="bodyContainer">
        @RenderBody()
    </div>
    
    <footer id="footers">
    	<footer id="footer1">
        	<section style="display:flex; justify-content:center; align-items:center;">
            	<h2>با ما در تماس باشید 24 ساعته در 7 روز هفته</h2>
                <h3 style="margin:0 20px;">33116800</h3>
            </section>
            
            <h2>info@khodroclinic.com</h2>
        </footer>
        
        <footer id="footer2">
        	<nav id="footer2_navigation">
            	<a href="/Home/AboutUs">درباره ما</a>
                <a href="#">اهداف ما</a>
                <a href="/Home/ContectUs">تماس با ما</a>
                <a href="#">همکاری با ما</a>
            </nav>
            
            <div id="footer2_describe">
            	<p>@ab.ShortDescribe</p>
                <p>@cus.ShortDescribe</p>
            </div>
            
            <div id="footer2_enemad">
                <img id="footer2_enemad_logo" src="~/Publics/Files/Templates/templates02/Images/enemad.png" alt="" />
            </div>
            
            <div id="footer2_newslatter">
                @{ List<string> newslattererror = new List<string>(); bool NewsLatterReisgtredSuccess = false; } 
                @if (Request.Form.AllKeys.Contains("NewsLatterRegistryRequestForm"))
                {
                    string emil = Request.Form["newslatteremail"];
                    if (Request.Form["newslatteremail"].IsNullOrWhiteSpace())
                    { newslattererror.Add("ایمیل برای ثبت نام وارد نشده است"); }
                    else if (!Request.Form["newslatteremail"].String_IsEmail())
                    { newslattererror.Add("ایمیل وارد شده صحیح نیست"); }
                    else if (dbsobj.NewLatterEmails.Count(c => c.Email.ToLower() == emil.ToLower()) > 0)
                    { newslattererror.Add("ایمیل قبلا ثبت شده است"); }


                    if (newslattererror.Count <= 0)
                    {
                        dbsobj.NewLatterEmails.Add(new CarProject.DBSEF.NewLatterEmail { Email = emil, Datetime = DateTime.Now });
                        dbsobj.SaveChanges();
                        NewsLatterReisgtredSuccess = true;
                    }
                }
            	<p>زودتر از دیگران، از آخرین اخبار خودرو و تخفیف های خدماتی با خبر شوید</p>
                <p>عضویت در خبرنامه</p>

                @if (NewsLatterReisgtredSuccess)
                {
                    <div class="newslatersuccess">
                        <span>ایمیل شما با موفقیت ثبت شد</span>
                    </div>
                }
                else
                {
                    <form id="newslaterForm" method="post">
                        <input type="submit" name="NewsLatterRegistryRequestForm" value="تایید ایمیل" class="t2button" />
                        <input type="text" name="newslatteremail" value="@Request.Form["newslatteremail"]" placeholder="آدرس ایمیل خودرا وارد کنید" />
                    </form>
                }

                @if (newslattererror.Count > 0)
                {
                    <ul class="newslatererror">
                        @foreach (var item in newslattererror)
                        {
                            <li>@item</li>
                        }
                    </ul>
                }
            
                <div id="footer2_newslatter_SocialNetworks">
                    <h3>در شبکه های اجتماعی با ما باشید</h3>
                    <nav id="SocialsIcons">
                    	<a href="#"><img src="~/Publics/Files/Templates/templates02/Images/facebook.png" alt=""/></a>
                        <a href="#"><img src="~/Publics/Files/Templates/templates02/Images/instagram.png" alt=""/></a>
                        <a href="#"><img src="~/Publics/Files/Templates/templates02/Images/youtube.png" alt=""/></a>
                        <a href="#"><img src="~/Publics/Files/Templates/templates02/Images/twitter.png" alt=""/></a>
                    </nav>
                </div>
            </div>
            
        </footer>
    </footer>
    
    <footer id="footerArghanoonteam" dir="ltr">
    	Arghanoon Programming Team<br/>2016 - 2017
    </footer>

</div>
</body>

    @RenderSection("script", false)
    <script src="~/Publics/Files/Templates/templates02/scripts.js"></script>
    @if (Request.Form.AllKeys.Contains("NewsLatterRegistryRequestForm"))
    {
        <script> window.location = "#footer2_newslatter"; </script>
    }
</html>
