@model CarProject.Areas.Admin.Models.Cars.CarsModel
@using CarProject.App_Code
@using CarProject.App_extension
@using System.IO
@using System.Net
@{
    ViewBag.Title = "نمایش اطلاعات خودر";

    var dbs = new CarProject.DBSEF.CarAutomationEntities();
    var rand = new Random();
    Session["CarIdPass"] = Model.Car.CarsId;
    if (dbs.CarsToViews.Count(c => c.CarsId == Model.Car.CarsId) > 0)
    {
        var crtvw = dbs.CarsToViews.FirstOrDefault(c => c.CarsId == Model.Car.CarsId);
        crtvw.View = (crtvw.View == null) ? 1 : crtvw.View += 1;
        dbs.SaveChanges();
    }
    else
    {
        dbs.CarsToViews.Add(new CarProject.DBSEF.CarsToView { CarsId = Model.Car.CarsId, View = 1 });
        dbs.SaveChanges();
        //pashmak
    }


    var carstoviewobject = dbs.CarsToViews.FirstOrDefault(c => c.CarsId == Model.Car.CarsId);
    var carAutoServices = dbs.AutoServices.Where(c => c.AutoServiceCars.Select(c2 => c2.CarsId).Contains(Model.Car.CarsId));
    var carProducts = dbs.Products.Where(c => c.ProductCars.Select(c2 => c2.CarsId).Contains(Model.Car.CarsId));
    var SameClassCars = dbs.Cars.Where(c => c.CarsClass == Model.Car.CarsClass && c.CarsId != Model.Car.CarsId).OrderBy(c => c.CarsId);
}



<div id="top_LocationNavigation_likedislikecount">
    <div id="top_LocationNavigation">
        <a href="/Cars">مشخصات خودروها</a> <span class="gia-left"></span>
        <a href="/Cars?CarBrand=@Model.Car.CarModel.CarBrandId">@Model.Car.CarModel.CarBrand.CarBrandName</a> <span class="gia-left"></span>
        <a href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Car", id = Model.Car.CarsId, info1 = Model.Car.CarModel.CarBrand.CarBrandName.Trim().Replace(' ', '-'), info2 = Model.Car.CarModel.CarModelName.Trim().Replace(' ', '-') })">@Model.Car.CarModel.CarModelName</a>

        @*<small>
            -
            <a href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Compare", id = Model.Car.CarsId, info1 = Model.Car.CarModel.CarBrand.CarBrandName, info2 = Model.Car.CarModel.CarModelName })">مقایسه خودرو</a>
        </small>*@
    </div>

    <div id="top_likedisklikecount" dir="ltr">
        <span class="gia-speedometer2" style="font-size:300%;"></span>
        <div>
            <a class="gia-like" id="likecountersection" onclick="LikeCurrentCar('@Model.Car.CarsId')">
                @if (carstoviewobject.Favorite == null)
            {<span>0</span>}
            else
            {<span>@carstoviewobject.Favorite</span>}
            </a>
        </div>
        <div dir="rtl">
            <h3>تعداد بازدید</h3>
            <p>@carstoviewobject.View</p>
        </div>
    </div>
</div>


<div id="CarImagesAndDetailsShowSection">
    <div id="carImages">
        @if (Model.Car.CarImages.Length > 0)
        {
            <div id="carImages_Bigview_Container">
                <img id="carImages_Bigview" src="@Url.Content(Model.Car.CarImages[0])" />
            </div>
            <div id="carImages_ImageThumbnails">
                <a><h3 class="gia-magnifier" style="font-size: 300%;"></h3></a>
                <div id="carImages_ImageThumbnailscontainer" class="slideterItemShowContianer">
                    <div class="itemsContainerBack">
                        <div class="itemsContainer">
                            @foreach (var item in Model.Car.CarImages)
                            {
                                <a class="item" onclick="document.getElementById('carImages_Bigview').src = '@Url.Content(item)'">
                                    <img src="@Url.Content(item)" />
                                </a>
                            }
                        </div>
                    </div>

                    <a onclick="slideterItemShowContianer_leftmove(this.offsetParent)" class="leftmove gia-left"></a>
                    <a onclick="slideterItemShowContianer_rightmove(this.offsetParent)" class="rightmove gia-right"></a>
                </div>
            </div>
        }
    </div>

    <div id="CarDetials">
        <div id="CarDetails_NameAndYear" class="orangeback">
            <section>@Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName</section>
            <section>@Model.Car.CarYearModel</section>
        </div>

        

        <div id="CarDetails_usercar_Troubleshooting">
            <a class="orangeback" href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Compare", id = Model.Car.CarsId, info1 = Model.Car.CarModel.CarBrand.CarBrandName.Trim().Replace(' ', '-'), info2 = Model.Car.CarModel.CarModelName.Trim().Replace(' ', '-') })">مقایسه خودرو</a>
            <a href="/Users/Dashboard/InsertPersonCar/@Model.Car.CarsId" class="orangeback">ثبت به عنوان خودروی کاربر</a>
            <a href="/Troubleshooting/" class="orangeback">
                سامانه عیب یابی <br />
                @*@Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName*@
            </a>
            <a href="@Url.RouteUrl("infoRoute",new{Controller=""})" class="orangeback" >کالا های مرتبط</a>
        </div>

        @if (carAutoServices.Any())
            {
            <div id="CarDetails_CarServices" class="slideterItemShowContianer">
                <h3 class="title">خدمات @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName</h3>
                <div class="itemsContainerBack">
                    <div class="itemsContainer">
                        @foreach (var item in carAutoServices)
                        {
                            var src = "~/Publics/Gallery/ProductImages/NotFound.png";
                            if (item.AutoServiceImages.Length > 0)
                            {
                                src = item.AutoServiceImages[0];
                            }
                            <a href="@Url.RouteUrl("infoRoute", new { controller = "Store", action = "ServiceView", id = item.AutoServiceId, info1 = "سرویسها", info2 = item.AutoServiceName.Trim().Replace(' ', '-') })" class="item">
                                <img src="@Url.Content(src)" alt />
                                <span>@item.AutoServiceName</span>
                            </a>
                        }
                    </div>
                </div>

                <a onclick="slideterItemShowContianer_leftmove(this.offsetParent)" class="leftmove gia-left"></a>
                <a onclick="slideterItemShowContianer_rightmove(this.offsetParent)" class="rightmove gia-right"></a>
            </div>
        }


        @if (carProducts.Any())
            {
            <div id="CarDetails_CarProducts" class="slideterItemShowContianer">
                <h3 class="title">قطعات @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName</h3>
                <div class="itemsContainerBack">
                    <div class="itemsContainer">
                        @foreach (var item in carProducts)
                        {
                            var src = "~/Publics/Gallery/ProductImages/NotFound.png";
                            if (item.ProductImages.Length > 0)
                            {
                                src = item.ProductImages[0];
                            }
                            <a href="@Url.RouteUrl("infoRoute", new { controller = "Store", action = "Products", id = item.ProductId, info1 = item.Category.CategoryName.Trim().Replace(' ', '-'), info2 = item.ProductName.Trim().Replace(' ', '-') })" class="item">
                                <img src="@Url.Content(src)" alt />
                                <span>@item.ProductName</span>
                            </a>
                        }
                    </div>
                </div>

                <a onclick="slideterItemShowContianer_leftmove(this.offsetParent)" class="leftmove gia-left"></a>
                <a onclick="slideterItemShowContianer_rightmove(this.offsetParent)" class="rightmove gia-right"></a>
            </div>
        }

    </div>

</div>



<div id="SameClassCars">
    <div id="CarDetails_SameClassCars" class="slideterItemShowContianer">
        <h3 class="title">خودروهای هم کلاس</h3>
        <div class="itemsContainerBack">
            <div class="itemsContainer">
                @foreach (var item in SameClassCars)
                {
                    var src = "~/Publics/Gallery/ProductImages/NotFound.png";
                    if (item.CarImages.Length > 0)
                    {
                        src = item.CarImages[0];
                    }
                    <a href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Car", id = item.CarsId, info1 = item.CarModel.CarBrand.CarBrandName.Trim().Replace(' ','-'), info2 = item.CarModel.CarModelName.Trim().Replace(' ','-') })" class="item">
                        <img src="@Url.Content(src)" alt="" />
                        <span>@item.CarModel.CarBrand.CarBrandName  @item.CarModel.CarModelName</span>
                    </a>
                }
            </div>
        </div>

        <a onclick="slideterItemShowContianer_leftmove(this.offsetParent)" class="leftmove gia-left"></a>
        <a onclick="slideterItemShowContianer_rightmove(this.offsetParent)" class="rightmove gia-right"></a>
    </div>
</div>

<div id="CarDifention">
    <h3>معرفی @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarBrand.CarBrandName</h3>
    <p>@Model.Car.CarsDescription</p>
</div>


<div id="CarDetailsInformation">

    <div id="CarDetailsInformation_column1">
        <div class="carinfo" data-index="0">
            <h3>اطلاعات عمومی خودرو</h3>
            <table>

                @if (!Model.Car.CarsClass.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>کلاس</th>
                        <td>@Model.Car.CarsClass</td>
                    </tr>

                }
                
                @if (!Model.Car.CarModel.CarModelName.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مدل</th>
                        <td>@Model.Car.CarModel.CarModelName</td>
                    </tr>
                }
                @if (!Model.Car.Price.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>قیمت</th>
                        <td>@Model.Car.Price ملیون تومان</td>
                    </tr>
                }
                @if (!Model.Car.CarUsage.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>کابرد</th>
                        <td>@Model.Car.CarUsage</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="2">
            <h3>گیربکس</h3>
            <table>
                @if (!Model.GearBox.GearBoxType.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>نوع</th>
                        <td>@Model.GearBox.GearBoxType</td>
                    </tr>
                }
                @if (!Model.GearBox.GearBoxCanBeManual.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>تبدیل به دنده دستی</th>
                        <td> <span class="checked_@Model.GearBox.GearBoxCanBeManual.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GearBox.GearBoxShifter.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>شیفتر پشت فرمان</th>
                        <td><span class="checked_@Model.GearBox.GearBoxShifter.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GearBox.GearBoxShiftNumber.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>تعداد دنده</th>
                        <td>@Model.GearBox.GearBoxShiftNumber</td>
                    </tr>
                }
                @if (!Model.GearBox.GearBoxAxel.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>محور متحرک</th>
                        <td>@Model.GearBox.GearBoxAxel</td>
                    </tr>
                }
                @if (!Model.GearBox.HasTransferCase.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>کمک گیرباکس</th>
                        <td><span class="checked_@Model.GearBox.HasTransferCase.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GearBox.GearBoxDiffrentionalLock.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>قفل دیفرانسیل</th>
                        <td><span class="checked_@Model.GearBox.GearBoxDiffrentionalLock.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GearBox.GearBoxDescription.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.GearBox.GearBoxDescription</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="4">
            <h3>سیستم امنیتی</h3>
            <table>

                @if (!Model.SecuritySystem.RemoteControl.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>ریموت کنترل</th>
                        <td><span class="checked_@Model.SecuritySystem.RemoteControl.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.SecuritySystem.BurglarAlarm.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>دزدگیر</th>
                        <td><span class="checked_@Model.SecuritySystem.BurglarAlarm.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.SecuritySystem.Emo.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>ایمبولایزر</th>
                        <td><span class="checked_@Model.SecuritySystem.Emo.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.SecuritySystem.KeylessStart.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>keyless starter</th>
                        <td><span class="checked_@Model.SecuritySystem.KeylessStart.ToString()"></span></td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="6">
            <h3>سیستم تهویه هوا</h3>
            <table>

                @if (!Model.AirConditioningSystem.AirConditioningType.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>نوع تهویه</th>
                        <td>@Model.AirConditioningSystem.AirConditioningType</td>
                    </tr>
                }

                @if (!Model.AirConditioningSystem.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.AirConditioningSystem.Details</td>
                    </tr>
                }
                @if (Model.AirConditioningSystemDetails.Count != 0)
                {
                    foreach (var item in Model.AirConditioningSystemDetails)
                    {
                        <tr>
                            <th>@item.AirConditioningSystemDetailSubject</th>
                            <td>@item.AirConditioningSystemDetail1</td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div class="carinfo" data-index="8">
            <h3>صندلی ها</h3>
            <table>
                @if (!Model.CarSeatOption.LongitudinalDisplacement.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>تنظیم ارتفاع صندلی</th>
                        <td><span class="checked_@Model.CarSeatOption.LongitudinalDisplacement.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSeatOption.BezelSet.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>تنظیم گودی کمر</th>
                        <td><span class="checked_@Model.CarSeatOption.BezelSet.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSeatOption.SeatWarmer.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>گرمکن صندلی</th>
                        <td><span class="checked_@Model.CarSeatOption.SeatWarmer.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSeatOption.SeatMassage.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>ماساژور</th>
                        <td><span class="checked_@Model.CarSeatOption.SeatMassage.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSeatOption.HasMemory.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>حافظه</th>
                        <td><span class="checked_@Model.CarSeatOption.HasMemory.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSeatOption.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.CarSeatOption.Details</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="10">
            <h3>سیستم روشنایی</h3>
            <table>

                @if (!Model.CarLightingSystem.FrontLights.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>چراغ های جلو</th>
                        <td>@Model.CarLightingSystem.FrontLights</td>
                    </tr>
                }
                @if (!Model.CarLightingSystem.DayLight.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>دیلایت</th>
                        <td><span class="checked_@Model.CarLightingSystem.DayLight.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarLightingSystem.SideMirrorLight.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>راهنما روی آینه بقل</th>
                        <td><span class="checked_@Model.CarLightingSystem.SideMirrorLight.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarLightingSystem.FonrAntiFog.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مه شکن جلو</th>
                        <td><span class="checked_@Model.CarLightingSystem.FonrAntiFog.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarLightingSystem.RearAntiFog.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مه شکن عقب</th>
                        <td><span class="checked_@Model.CarLightingSystem.RearAntiFog.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarLightingSystem.ReadingLamp.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>چراغ مطالعه</th>
                        <td><span class="checked_@Model.CarLightingSystem.ReadingLamp.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarLightingSystem.Deailts.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.CarLightingSystem.Deailts</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="12">
            <h3>سیستم کیسه های هوا</h3>
            <table>

                @if (!Model.CarAirbag.DriverAirBag.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>راننده</th>
                        <td><span class="checked_@Model.CarAirbag.DriverAirBag.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarAirbag.FrontAirBag.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>سرنشین جلو</th>
                        <td><span class="checked_@Model.CarAirbag.FrontAirBag.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarAirbag.AirBag.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>جانبی و پرده ای</th>
                        <td><span class="checked_@Model.CarAirbag.AirBag.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarAirbag.AirBagEntity.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>تعداد کسیه هوا</th>
                        <td>@Model.CarAirbag.AirBagEntity</td>
                    </tr>
                }
                @if (!Model.CarAirbag.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.CarAirbag.Details</td>
                    </tr>
                }
            </table>
        </div>

    </div>

    <div id="CarDetailsInformation_column2">
        <div class="carinfo" data-index="1">
            <h3>موتور</h3>
            <table>

                @if (!Model.CarEngine.EngineType.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>نوع موتور</th>
                        <td>@Model.CarEngine.EngineType</td>
                    </tr>
                }
                @if (!Model.CarEngine.EnginePowerHpRpm.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>قدرت موتور</th>
                        <td>@Model.CarEngine.EnginePowerHpRpm اسب بخار</td>
                    </tr>
                }
                @if (!Model.CarEngine.EngineTorque.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>گشتاور</th>
                        <td>@Model.CarEngine.EngineTorque نیوتن متر</td>
                    </tr>
                }
                @if (!Model.CarEngine.EngineMaxSpeed.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>حداکثر سرعت</th>
                        <td>@Model.CarEngine.EngineMaxSpeed کیلومتر در ساعت</td>
                    </tr>
                }
                @if (!Model.CarEngine.EngineZeroToH.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>0 تا 100</th>
                        <td>@Model.CarEngine.EngineZeroToH ثانیه</td>
                    </tr>
                }
                @if (!Model.CarEngine.EngineSize.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>حجم موتور</th>
                        <td>@Model.CarEngine.EngineSize cc</td>
                    </tr>
                }
                @if (!Model.CarEngine.EngineCylinderNumber.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>تعداد سیلندر</th>
                        <td>@Model.CarEngine.EngineCylinderNumber</td>
                    </tr>
                }
                @if (!Model.CarEngine.EngineFuel.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>سوخت مصرفی</th>
                        <td>@Model.CarEngine.EngineFuel</td>
                    </tr>
                }
                @if (!Model.CarEngine.EngineDescription.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.CarEngine.EngineDescription</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="3">
            <h3>سیستم سوخت رسانی</h3>
            <table>

                @if (!Model.FuelConsumption.LphCity.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مصرف در شهر</th>
                        <td>@Model.FuelConsumption.LphCity <small>لیتر در 100 کیلومتر</small></td>
                    </tr>
                }
                @if (!Model.FuelConsumption.LphRoad.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مصرف در جاده</th>
                        <td>@Model.FuelConsumption.LphRoad <small>لیتر در 100 کیلومتر</small></td>
                    </tr>
                }
                @if (!Model.FuelConsumption.LphMix.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مصرف سوخت ترکیبی</th>
                        <td>@Model.FuelConsumption.LphMix <small>لیتر در 100 کیلومتر</small></td>
                    </tr>
                }
                @if (!Model.FuelConsumption.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.FuelConsumption.Details توضیحات</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="5">
            <h3>سیستم فرمان</h3>
            <table>

                @if (!Model.SteeringSystem.SteeringSystemType.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>نوع</th>
                        <td>@Model.SteeringSystem.SteeringSystemType</td>
                    </tr>
                }
                @if (!Model.SteeringSystem.SteeringHeightAdjustble.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>امکان تنظیم ارتفاع</th>
                        <td><span class="checked_@Model.SteeringSystem.SteeringHeightAdjustble.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.SteeringSystem.SteeringControlKey.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>دکمه کنترل روی فرمان</th>
                        <td><span class="checked_@Model.SteeringSystem.SteeringControlKey.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.SteeringSystem.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.SteeringSystem.Details</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="7">
            <h3>سیستم صوتی و تصویری</h3>
            <table>

                @if (!Model.CarAudioSystem.HasMonitor.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مانیتور</th>
                        <td><span class="checked_@Model.CarAudioSystem.HasMonitor.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarAudioSystem.RearSeatsMonitor.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مانیتور صندلی عقب</th>
                        <td><span class="checked_@Model.CarAudioSystem.RearSeatsMonitor.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarAudioSystem.RearGearCamera.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>دوربین عقب</th>
                        <td><span class="checked_@Model.CarAudioSystem.RearGearCamera.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarAudioSystem.FrontCamera.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>دوربین جلو</th>
                        <td><span class="checked_@Model.CarAudioSystem.FrontCamera.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarAudioSystem.HasGps.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>سیستم ناوبری</th>
                        <td><span class="checked_@Model.CarAudioSystem.HasGps.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarAudioSystem.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.CarAudioSystem.Details</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="9">
            <h3>شیشه و آینه ها</h3>
            <table>

                @if (!Model.GlassAndMirror.RearWindscreens.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>شیشه های عقب</th>
                        <td>@Model.GlassAndMirror.RearWindscreens</td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.FrontWindscreens.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>شیشه های جلو</th>
                        <td>@Model.GlassAndMirror.FrontWindscreens</td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.SunRoof.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>سانروف</th>
                        <td><span class="checked_@Model.GlassAndMirror.SunRoof.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.PanaromaRoof.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>سقف پانورما</th>
                        <td><span class="checked_@Model.GlassAndMirror.PanaromaRoof.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.RearGlassWarmer.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>گرمکن شیشه عقب</th>
                        <td><span class="checked_@Model.GlassAndMirror.RearGlassWarmer.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.WindscreensWarmer.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>گرمکن شیشه های بقل</th>
                        <td><span class="checked_@Model.GlassAndMirror.WindscreensWarmer.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.FrontGlassWarmer.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>گرمکن شیشه جلو</th>
                        <td><span class="checked_@Model.GlassAndMirror.FrontGlassWarmer.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.SideMirrorSet.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>تنظیم آینه های بقل</th>
                        <td>@Model.GlassAndMirror.SideMirrorSet</td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.SideMirrorSystem.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>جمع شدن آینه های بقل</th>
                        <td>@Model.GlassAndMirror.SideMirrorSystem</td>
                    </tr>
                }
                @if (!Model.GlassAndMirror.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.GlassAndMirror.Details</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="11">
            <h3>سیستم سنسورهای خودرو</h3>
            <table>

                @if (!Model.CarSensorsSystem.DayLightSensor.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>روشنایی روز</th>
                        <td><span class="checked_@Model.CarSensorsSystem.DayLightSensor.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSensorsSystem.RainSensor.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>باران</th>
                        <td><span class="checked_@Model.CarSensorsSystem.RainSensor.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSensorsSystem.RearGearSensor.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>دنده عقب</th>
                        <td><span class="checked_@Model.CarSensorsSystem.RearGearSensor.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSensorsSystem.ParkSensor.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>پارک</th>
                        <td><span class="checked_@Model.CarSensorsSystem.ParkSensor.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSensorsSystem.CruiseControl.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>کروز کنترل</th>
                        <td><span class="checked_@Model.CarSensorsSystem.CruiseControl.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarSensorsSystem.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.CarSensorsSystem.Details</td>
                    </tr>
                }
            </table>
        </div>

        <div class="carinfo" data-index="13">
            <h3>تایرها</h3>
            <table>

                @if (!Model.CarWheel.RingStandardSize.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>سایز استادندارد رینگ</th>
                        <td>@Model.CarWheel.RingStandardSize</td>
                    </tr>
                }
                @if (!Model.CarWheel.AutoInflated.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>کنترل اتوماتیک باد تایرها</th>
                        <td><span class="checked_@Model.CarWheel.AutoInflated.ToString()"></span></td>
                    </tr>
                }
                @if (!Model.CarWheel.Details.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>توضیحات</th>
                        <td>@Model.CarWheel.Details</td>
                    </tr>
                }
            </table>
        </div>

    </div>

</div>


<div id="CarReviewSection">
    <h3>نقدر و بررسی تخصصی خودرو</h3>
    <div id="CarReviewSectionHTML" style="align-self:stretch;">
        @Html.Raw(Model.CarsReview.Review)
    </div>
</div>

@if (CarProject.Areas.Users.Controllers.profileController.GetCurrentLoginedUser != null)
{
    <div id="usersCommentsSection">
        <h3 style="align-self:flex-start;">نظرات کاربران</h3>
        @try
                {
                    var msg = ViewBag.error["success"];
            <section style="color:white; text-shadow:0 0 1px lawngreen; text-align:center;">
                @msg
            </section>
        }
        catch
        {
            <form method="post">
                <input type="hidden" id="responsecommentid" name="responsecommentid" value="@Request.Form["responsecommentid"]" />

                <div class="inputsContainer">
                    <section class="input @if (Request.Form.AllKeys.Contains("responsecommentid") && !string.IsNullOrEmpty(Request.Form["responsecommentid"])) { Write("show"); }" id="replayComment">
                        <label>پاسخ به پیام کاربر</label>
                        <input type="text" name="usernameCommentReply" id="usernameCommentReply" value="@Request.Form["usernameCommentReply"]" />
                    </section>
                    <section class="input">
                        <label> پیام</label>
                        <textarea name="comment" placeholder="متن پیام">@Request.Form["comment"]</textarea>
                        <span>
                            @try
                            { @ViewBag.error["comment"] }
                            catch { }
                        </span>
                    </section>
                </div>
                <center>
                    <div class="g-recaptcha" data-sitekey="6Lff2xAUAAAAAAghivCssCwhTGRPX9PyIiCmSTzQ"></div> <br />
                    <span style="color:red">
                        @try
                        { @ViewBag.error["g-recaptcha-response"] }
                        catch { }
                    </span>
                </center>
                <div class="inputAction">
                    <input type="submit" value="ثبت" name="SendACommentRequest" class="button green" />
                </div>
            </form>
        }
    </div>
}

<div id="UsersOldComments">
    @CreateCommentSection(null, Model.Car.CarsId, dbs)
</div>

@functions{
    MvcHtmlString CreateCommentSection(int? rootid, int carid, CarProject.DBSEF.CarAutomationEntities dbs)
    {
        string res = "";

        foreach (var item in dbs.CarUserComments.Where(c => c.CarId == carid && c.RootCarUserCommentsId == rootid))
        {
            res += string.Format("<div class=\"cmntmessage\">");
            {
                res += string.Format("<div class=\"messageContent\">");
                {
                    res += string.Format("<strong class=\"username\">{0}</strong>", (item.User == null) ? "خودروکلینیک" : item.User.Uname);

                    res += string.Format("<section class=\"commentsection\">");
                    {
                        res += string.Format("<section class=\"comment\">{0}</section>", item.Comment);

                        res += string.Format("<section class=\"commentActionAndInfo\">");
                        {
                            res += string.Format("<section class=\"commentInfo\">");
                            {
                            }
                            res += "</section>";


                            res += string.Format("<section class=\"commentAction\">");
                            {
                                res += string.Format("<a class=\"gia-back\" onclick=\"CommentMessageReply('{0}','{1}')\"></a>", item.CarUserCommentsId, (item.User == null) ? "خودروکلینیک" : item.User.Uname);
                            }
                            res += "</section>";
                        }
                        res += "</section>";
                    }
                    res += "</section>";
                }
                res += "</div>";

                res += CreateCommentSection(item.CarUserCommentsId, carid, dbs);
            }
            res += "</div>";
        }

        return new MvcHtmlString(res);
    }
}

@section style
{
    <meta name="description" content="مشخصات خودرو @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName @Model.Car.CarYearModel" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

    <link rel="canonical" href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Car", id = Model.Car.CarsId, info1 = Model.Car.CarModel.CarBrand.CarBrandName.Trim().Replace(' ','-'), info2 = Model.Car.CarModel.CarModelName.Trim().Replace(' ','-') }, Request.Url.Scheme)" />


    <link href="~/Publics/Files/ControlsPageTemplates/Cars/Car/SliderItemShow.css" rel="stylesheet" />
    <script src="~/Publics/Files/ControlsPageTemplates/Cars/Car/SliderItemShow.js"></script>

    <link href="~/Publics/Files/ControlsPageTemplates/Cars/Car/css.css" rel="stylesheet" />
    <link href="~/Publics/Styles/animate.css" rel="stylesheet" />


}

@section script
{
   
    <script src="~/Publics/Files/ControlsPageTemplates/Cars/Car/scirpt.js"></script>
}


@if (Request.Form.AllKeys.Contains("SendACommentRequest"))
{
    <script>window.location = "#usersCommentsSection"</script>
}
