@model CarProject.Areas.Admin.Models.Cars.CarsModel
@using CarProject.App_Code
@using CarProject.App_extension
@using System.IO
@using System.Net
@{
    ViewBag.Title = "نمایش اطلاعات خودر";

    var dbs = new CarProject.DBSEF.CarAutomationEntities();
    var rand = new Random();

    if (dbs.CarsToViews.Count(c => c.CarsId == Model.Car.CarsId) > 0)
    {
        var crtvw = dbs.CarsToViews.FirstOrDefault(c => c.CarsId == Model.Car.CarsId);
        crtvw.View = (crtvw.View == null) ? 1 : crtvw.View += 1;
        dbs.SaveChanges();
    }
    else
    {
        dbs.CarsToViews.Add(new CarProject.DBSEF.CarsToView { CarsId = Model.Car.CarsId, View = 1 });
        dbs.SaveChanges();
        //pashmak
    }


    var carstoviewobject = dbs.CarsToViews.FirstOrDefault(c => c.CarsId == Model.Car.CarsId);
    var carAutoServices = dbs.AutoServices.Where(c => c.AutoServiceCars.Select(c2 => c2.CarsId).Contains(Model.Car.CarsId));
    var carProducts = dbs.Products.Where(c => c.ProductCars.Select(c2 => c2.CarsId).Contains(Model.Car.CarsId));
    var SameClassCars = dbs.Cars.Where(c => c.CarsClass == Model.Car.CarsClass && c.CarsId != Model.Car.CarsId).OrderBy(c => c.CarsId);
}



<div id="top_LocationNavigation_likedislikecount">
    <div id="top_LocationNavigation">
        <a href="/Cars">مشخصات خودروها</a> <span class="gia-left"></span>
        <a href="/Cars?CarBrand=@Model.Car.CarModel.CarBrandId">@Model.Car.CarModel.CarBrand.CarBrandName</a> <span class="gia-left"></span>
        <a href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Car", id = Model.Car.CarsId, info1 = Model.Car.CarModel.CarBrand.CarBrandName, info2 = Model.Car.CarModel.CarModelName })">@Model.Car.CarModel.CarModelName</a>
    </div>

    <div id="top_likedisklikecount" dir="ltr">
        <span class="gia-speedometer2" style="font-size:300%;"></span>
        <div>
            <a class="gia-like" id="likecountersection" onclick="LikeCurrentCar('@Model.Car.CarsId')">
                @if (carstoviewobject.Favorite == null)
            {<span>0</span>}
            else
            {<span>@carstoviewobject.Favorite</span>}
            </a>
        </div>
        <div dir="rtl">
            <h3>تعداد بازدید</h3>
            <p>@carstoviewobject.View</p>
        </div>
    </div>
</div>


<div id="CarImagesAndDetailsShowSection">
    <div id="carImages">
        @if (Model.Car.CarImages.Length > 0)
        {
            <div id="carImages_Bigview_Container">
                <img id="carImages_Bigview" src="@Url.Content(Model.Car.CarImages[0])" />
            </div>
            <div id="carImages_ImageThumbnails">
                <a><h3 class="gia-magnifier" style="font-size: 300%;"></h3></a>
                <div id="carImages_ImageThumbnailscontainer" class="slideterItemShowContianer">
                    <div class="itemsContainerBack">
                        <div class="itemsContainer">
                            @foreach (var item in Model.Car.CarImages)
                            {
                                <a class="item" onclick="document.getElementById('carImages_Bigview').src = '@Url.Content(item)'">
                                    <img src="@Url.Content(item)" />
                                </a>
                            }
                        </div>
                    </div>

                    <a onclick="slideterItemShowContianer_leftmove(this.offsetParent)" class="leftmove gia-left"></a>
                    <a onclick="slideterItemShowContianer_rightmove(this.offsetParent)" class="rightmove gia-right"></a>
                </div>
            </div>
        }
    </div>

    <div id="CarDetials">
        <div id="CarDetails_NameAndYear" class="orangeback">
            <section>@Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName</section>
            <section>@Model.Car.CarYearModel</section>
        </div>

        <div id="CarDetails_usercar_Troubleshooting">
            <a href="/Users/Dashboard/InsertPersonCar/@Model.Car.CarsId" class="orangeback">ثبت به عنوان خودروی کاربر</a>
            <a href="#" class="orangeback">
                سامانه عیب یابی <br />
                @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName
            </a>
        </div>

        @if (carAutoServices.Any())
        {
            <div id="CarDetails_CarServices" class="slideterItemShowContianer">
                <h3 class="title">خدمات @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName</h3>
                <div class="itemsContainerBack">
                    <div class="itemsContainer">
                        @foreach (var item in carAutoServices)
                        {
                            var src = "~/Publics/Gallery/ProductImages/NotFound.png";
                            if (item.AutoServiceImages.Length > 0)
                            {
                                src = item.AutoServiceImages[0];
                            }
                            <a href="#" class="item">
                                <img src="@Url.Content(src)" alt />
                                <span>@item.AutoServiceName</span>
                            </a>
                        }
                    </div>
                </div>

                <a onclick="slideterItemShowContianer_leftmove(this.offsetParent)" class="leftmove gia-left"></a>
                <a onclick="slideterItemShowContianer_rightmove(this.offsetParent)" class="rightmove gia-right"></a>
            </div>
        }


        @if (carProducts.Any())
        {
            <div id="CarDetails_CarProducts" class="slideterItemShowContianer">
                <h3 class="title">محصولات @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName</h3>
                <div class="itemsContainerBack">
                    <div class="itemsContainer">
                        @foreach (var item in carProducts)
                        {
                            var src = "~/Publics/Gallery/ProductImages/NotFound.png";
                            if (item.ProductImages.Length > 0)
                            {
                                src = item.ProductImages[0];
                            }
                            <a href="#" class="item">
                                <img src="@Url.Content(src)" alt />
                                <span>@item.ProductName</span>
                            </a>
                        }
                    </div>
                </div>

                <a onclick="slideterItemShowContianer_leftmove(this.offsetParent)" class="leftmove gia-left"></a>
                <a onclick="slideterItemShowContianer_rightmove(this.offsetParent)" class="rightmove gia-right"></a>
            </div>
        }

    </div>
</div>



<div id="SameClassCars">
    <div id="CarDetails_SameClassCars" class="slideterItemShowContianer">
        <h3 class="title">خودروهای هم کلاس</h3>
        <div class="itemsContainerBack">
            <div class="itemsContainer">
                @foreach (var item in SameClassCars)
                {
                    var src = "~/Publics/Gallery/ProductImages/NotFound.png";
                    if (item.CarImages.Length > 0)
                    {
                        src = item.CarImages[0];
                    }
                    <a href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Car", id = item.CarsId, info1 = item.CarModel.CarBrand.CarBrandName.Trim(), info2 = item.CarModel.CarModelName.Trim() })" class="item">
                        <img src="@Url.Content(src)" alt="" />
                        <span>@item.CarModel.CarBrand.CarBrandName  @item.CarModel.CarModelName</span>
                    </a>
                }
            </div>
        </div>

        <a onclick="slideterItemShowContianer_leftmove(this.offsetParent)" class="leftmove gia-left"></a>
        <a onclick="slideterItemShowContianer_rightmove(this.offsetParent)" class="rightmove gia-right"></a>
    </div>
</div>

<div id="CarDifention">
    <h3>معرفی @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarBrand.CarBrandName</h3>
    <p>@Model.Car.CarsDescription</p>
</div>


<div id="CarDetailsInformation">

    <div id="CarDetailsInformation_column1">
        <div class="carinfo" data-index="0">
            <h3>اطلاعات عمومی خودرو</h3>
            <table>

                @if (!Model.Car.CarsClass.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>کلاس</th>
                        <td>@Model.Car.CarsClass</td>
                    </tr>

                }
                @if (!Model.Car.CarModel.CarModelName.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>مدل</th>
                        <td>@Model.Car.CarModel.CarModelName</td>
                    </tr>
                }
                @if (!Model.Car.Price.ToString().IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>قیمت</th>
                        <td>@Model.Car.Price ملیون تومان</td>
                    </tr>
                }
                @if (!Model.Car.CarUsage.IsNullOrWhiteSpace())
                {
                    <tr>
                        <th>کابرد</th>
                        <td>@Model.Car.CarUsage</td>
                    </tr>
                }
                    </table>
                </div>

                <div class="carinfo" data-index="2">
                    <h3>گیربکس</h3>
                    <table>
                        <tr>
                            <th>نوع</th>
                            <td>@Model.GearBox.GearBoxType</td>
                        </tr>
                        <tr>
                            <th>تبدیل به دنده دستی</th>
                            <td> <span class="checked_@Model.GearBox.GearBoxCanBeManual.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>شیفتر پشت فرمان</th>
                            <td><span class="checked_@Model.GearBox.GearBoxShifter.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>تعداد دنده</th>
                            <td>@Model.GearBox.GearBoxShiftNumber</td>
                        </tr>
                        <tr>
                            <th>محور متحرک</th>
                            <td>@Model.GearBox.GearBoxAxel</td>
                        </tr>
                        <tr>
                            <th>کمک گیرباکس</th>
                            <td><span class="checked_@Model.GearBox.HasTransferCase.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>قفل دیفرانسیل</th>
                            <td><span class="checked_@Model.GearBox.GearBoxDiffrentionalLock.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.GearBox.GearBoxDescription</td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="4">
                    <h3>سیستم امنیتی</h3>
                    <table>
                        <tr>
                            <th>ریموت کنترل</th>
                            <td><span class="checked_@Model.SecuritySystem.RemoteControl.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>دزدگیر</th>
                            <td><span class="checked_@Model.SecuritySystem.BurglarAlarm.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>ایمبولایزر</th>
                            <td><span class="checked_@Model.SecuritySystem.Emo.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>keyless starter</th>
                            <td><span class="checked_@Model.SecuritySystem.KeylessStart.ToString()"></span></td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="6">
                    <h3>سیستم تهویه هوا</h3>
                    <table>
                        <tr>
                            <th>نوع تهویه</th>
                            <td>@Model.AirConditioningSystem.AirConditioningType</td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.AirConditioningSystem.Details</td>
                        </tr>
                        @foreach (var item in Model.AirConditioningSystemDetails)
                        {
                            <tr>
                                <th>@item.AirConditioningSystemDetailSubject</th>
                                <td>@item.AirConditioningSystemDetail1</td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="carinfo" data-index="8">
                    <h3>صندلی ها</h3>
                    <table>
                        <tr>
                            <th>تنظیم ارتفاع صندلی</th>
                            <td><span class="checked_@Model.CarSeatOption.LongitudinalDisplacement.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>تنظیم گودی کمر</th>
                            <td><span class="checked_@Model.CarSeatOption.BezelSet.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>گرمکن صندلی</th>
                            <td><span class="checked_@Model.CarSeatOption.SeatWarmer.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>ماساژور</th>
                            <td><span class="checked_@Model.CarSeatOption.SeatMassage.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>حافظه</th>
                            <td><span class="checked_@Model.CarSeatOption.HasMemory.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.CarSeatOption.Details</td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="10">
                    <h3>سیستم روشنایی</h3>
                    <table>
                        <tr>
                            <th>چراغ های جلو</th>
                            <td>@Model.CarLightingSystem.FrontLights</td>
                        </tr>
                        <tr>
                            <th>دیلایت</th>
                            <td><span class="checked_@Model.CarLightingSystem.DayLight.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>راهنما روی آینه بقل</th>
                            <td><span class="checked_@Model.CarLightingSystem.SideMirrorLight.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>مه شکن جلو</th>
                            <td><span class="checked_@Model.CarLightingSystem.FonrAntiFog.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>مه شکن عقب</th>
                            <td><span class="checked_@Model.CarLightingSystem.RearAntiFog.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>چراغ مطالعه</th>
                            <td><span class="checked_@Model.CarLightingSystem.ReadingLamp.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.CarLightingSystem.Deailts</td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="12">
                    <h3>سیستم کیسه های هوا</h3>
                    <table>
                        <tr>
                            <th>راننده</th>
                            <td><span class="checked_@Model.CarAirbag.DriverAirBag.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>سرنشین جلو</th>
                            <td><span class="checked_@Model.CarAirbag.FrontAirBag.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>جانبی و پرده ای</th>
                            <td><span class="checked_@Model.CarAirbag.AirBag.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>تعداد کسیه هوا</th>
                            <td>@Model.CarAirbag.AirBagEntity</td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.CarAirbag.Details</td>
                        </tr>
                    </table>
                </div>

            </div>

            <div id="CarDetailsInformation_column2">
                <div class="carinfo" data-index="1">
                    <h3>موتور</h3>
                    <table>
                        <tr>
                            <th>نوع موتور</th>
                            <td>@Model.CarEngine.EngineType</td>
                        </tr>
                        <tr>
                            <th>قدرت موتور</th>
                            <td>@Model.CarEngine.EnginePowerHpRpm اسب بخار</td>
                        </tr>
                        <tr>
                            <th>گشتاور</th>
                            <td>@Model.CarEngine.EngineTorque</td>
                        </tr>
                        <tr>
                            <th>حداکثر سرعت</th>
                            <td>@Model.CarEngine.EngineMaxSpeed</td>
                        </tr>
                        <tr>
                            <th>0 تا 100</th>
                            <td>@Model.CarEngine.EngineZeroToH ثانیه</td>
                        </tr>
                        <tr>
                            <th>حجم موتور</th>
                            <td>@Model.CarEngine.EngineSize cc</td>
                        </tr>
                        <tr>
                            <th>تعداد سیلندر</th>
                            <td>@Model.CarEngine.EngineCylinderNumber</td>
                        </tr>
                        <tr>
                            <th>سوخت مصرفی</th>
                            <td>@Model.CarEngine.EngineFuel</td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.CarEngine.EngineDescription</td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="3">
                    <h3>سیستم سوخت رسانی</h3>
                    <table>
                        <tr>
                            <th>مصرف در شهر</th>
                            <td>@Model.FuelConsumption.LphCity <small>لیتر در 100 کیلومتر</small></td>
                        </tr>
                        <tr>
                            <th>مصرف در جاده</th>
                            <td>@Model.FuelConsumption.LphRoad <small>لیتر در 100 کیلومتر</small></td>
                        </tr>
                        <tr>
                            <th>مصرف سوخت ترکیبی</th>
                            <td>@Model.FuelConsumption.LphMix <small>لیتر در 100 کیلومتر</small></td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.FuelConsumption.Details توضیحات</td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="5">
                    <h3>سیستم فرمان</h3>
                    <table>
                        <tr>
                            <th>نوع</th>
                            <td>@Model.SteeringSystem.SteeringSystemType</td>
                        </tr>
                        <tr>
                            <th>امکان تنظیم ارتفاع</th>
                            <td><span class="checked_@Model.SteeringSystem.SteeringHeightAdjustble.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>دکمه کنترل روی فرمان</th>
                            <td><span class="checked_@Model.SteeringSystem.SteeringControlKey.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.SteeringSystem.Details</td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="7">
                    <h3>سیستم صوتی و تصویری</h3>
                    <table>
                        <tr>
                            <th>مانیتور</th>
                            <td><span class="checked_@Model.CarAudioSystem.HasMonitor.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>مانیتور صندلی عقب</th>
                            <td><span class="checked_@Model.CarAudioSystem.RearSeatsMonitor.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>دوربین عقب</th>
                            <td><span class="checked_@Model.CarAudioSystem.RearGearCamera.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>دوربین جلو</th>
                            <td><span class="checked_@Model.CarAudioSystem.FrontCamera.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>سیستم ناوبری</th>
                            <td><span class="checked_@Model.CarAudioSystem.HasGps.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="9">
                    <h3>شیشه و آینه ها</h3>
                    <table>
                        <tr>
                            <th>شیشه های عقب</th>
                            <td>@Model.GlassAndMirror.RearWindscreens</td>
                        </tr>
                        <tr>
                            <th>شیشه های جلو</th>
                            <td>@Model.GlassAndMirror.FrontWindscreens</td>
                        </tr>
                        <tr>
                            <th>سانروف</th>
                            <td><span class="checked_@Model.GlassAndMirror.SunRoof.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>سقف پانورما</th>
                            <td><span class="checked_@Model.GlassAndMirror.PanaromaRoof.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>گرمکن شیشه عقب</th>
                            <td><span class="checked_@Model.GlassAndMirror.RearGlassWarmer.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>گرمکن شیشه های بقل</th>
                            <td><span class="checked_@Model.GlassAndMirror.WindscreensWarmer.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>گرمکن شیشه جلو</th>
                            <td><span class="checked_@Model.GlassAndMirror.FrontGlassWarmer.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>تنظیم آینه های بقل</th>
                            <td>@Model.GlassAndMirror.SideMirrorSet</td>
                        </tr>
                        <tr>
                            <th>جمع شدن آینه های بقل</th>
                            <td>@Model.GlassAndMirror.SideMirrorSystem</td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.GlassAndMirror.Details</td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="11">
                    <h3>سیستم سنسورهای خودرو</h3>
                    <table>
                        <tr>
                            <th>روشنایی روز</th>
                            <td><span class="checked_@Model.CarSensorsSystem.DayLightSensor.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>باران</th>
                            <td><span class="checked_@Model.CarSensorsSystem.RainSensor.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>دنده عقب</th>
                            <td><span class="checked_@Model.CarSensorsSystem.RearGearSensor.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>پارک</th>
                            <td><span class="checked_@Model.CarSensorsSystem.ParkSensor.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>کروز کنترل</th>
                            <td><span class="checked_@Model.CarSensorsSystem.CruiseControl.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.CarSensorsSystem.Details</td>
                        </tr>
                    </table>
                </div>

                <div class="carinfo" data-index="13">
                    <h3>تایرها</h3>
                    <table>
                        <tr>
                            <th>سایز استادندارد رینگ</th>
                            <td>@Model.CarWheel.RingStandardSize</td>
                        </tr>
                        <tr>
                            <th>کنترل اتوماتیک باد تایرها</th>
                            <td><span class="checked_@Model.CarWheel.AutoInflated.ToString()"></span></td>
                        </tr>
                        <tr>
                            <th>توضیحات</th>
                            <td>@Model.CarWheel.Details</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>


        <div id="CarReviewSection">
            <h3>نقدر و بررسی تخصصی خودرو</h3>
            <div id="CarReviewSectionHTML" style="align-self:stretch;">
                @Html.Raw(Model.CarsReview.Review)
            </div>
        </div>

        @if (CarProject.Areas.Users.Controllers.profileController.GetCurrentLoginedUser != null)
        {
            <div id="usersCommentsSection">
                <h3 style="align-self:flex-start;">نظرات کاربران</h3>
                @try
                {
                    var msg = ViewBag.error["success"];
                    <section style="color:white; text-shadow:0 0 1px lawngreen; text-align:center;">
                        @msg
                    </section>
                }
                catch
                {
                    <form method="post">
                        <input type="hidden" id="responsecommentid" name="responsecommentid" value="@Request.Form["responsecommentid"]" />

                        <div class="inputsContainer">
                            <section class="input @if (Request.Form.AllKeys.Contains("responsecommentid") && !string.IsNullOrEmpty(Request.Form["responsecommentid"])) { Write("show"); }" id="replayComment">
                                <label>پاسخ به پیام کاربر</label>
                                <input type="text" name="usernameCommentReply" id="usernameCommentReply" value="@Request.Form["usernameCommentReply"]" />
                            </section>
                            <section class="input">
                                <label> پیام</label>
                                <textarea name="comment" placeholder="متن پیام">@Request.Form["comment"]</textarea>
                                <span>
                                    @try
                                    { @ViewBag.error["comment"] }
                                    catch { }
                                </span>
                            </section>
                        </div>
                        <center>
                            <div class="g-recaptcha" data-sitekey="6Lff2xAUAAAAAAghivCssCwhTGRPX9PyIiCmSTzQ"></div> <br />
                            <span style="color:red">
                                @try
                                { @ViewBag.error["g-recaptcha-response"] }
                                catch { }
                            </span>
                        </center>
                        <div class="inputAction">
                            <input type="submit" value="ثبت" name="SendACommentRequest" class="button green" />
                        </div>
                    </form>
                }
            </div>
        }

                    <div id="UsersOldComments">
                        @CreateCommentSection(null, Model.Car.CarsId, dbs)
                    </div>

                            @functions{
                                MvcHtmlString CreateCommentSection(int? rootid, int carid, CarProject.DBSEF.CarAutomationEntities dbs)
                                {
                                    string res = "";

                                    foreach (var item in dbs.CarUserComments.Where(c => c.CarId == carid && c.RootCarUserCommentsId == rootid))
                                    {
                                        res += string.Format("<div class=\"cmntmessage\">");
                                        {
                                            res += string.Format("<div class=\"messageContent\">");
                                            {
                                                res += string.Format("<strong class=\"username\">{0}</strong>", (item.User == null) ? "خودروکلینیک" : item.User.Uname);

                                                res += string.Format("<section class=\"commentsection\">");
                                                {
                                                    res += string.Format("<section class=\"comment\">{0}</section>", item.Comment);

                                                    res += string.Format("<section class=\"commentActionAndInfo\">");
                                                    {
                                                        res += string.Format("<section class=\"commentInfo\">");
                                                        {
                                                        }
                                                        res += "</section>";


                                                        res += string.Format("<section class=\"commentAction\">");
                                                        {
                                                            res += string.Format("<a class=\"gia-back\" onclick=\"CommentMessageReply('{0}','{1}')\"></a>", item.CarUserCommentsId, (item.User == null) ? "خودروکلینیک" : item.User.Uname);
                                                        }
                                                        res += "</section>";
                                                    }
                                                    res += "</section>";
                                                }
                                                res += "</section>";
                                            }
                                            res += "</div>";

                                            res += CreateCommentSection(item.CarUserCommentsId, carid, dbs);
                                        }
                                        res += "</div>";
                                    }

                                    return new MvcHtmlString(res);
                                }
                            }

                            @section style
{
                                <meta name="description" content="مشخصات خودرو @Model.Car.CarModel.CarBrand.CarBrandName @Model.Car.CarModel.CarModelName @Model.Car.CarYearModel" />
                                <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

                                <link rel="canonical" href="@Url.RouteUrl("infoRoute", new { controller = "Cars", action = "Car", id = Model.Car.CarsId, info1 = Model.Car.CarModel.CarBrand.CarBrandName.Trim(), info2 = Model.Car.CarModel.CarModelName.Trim() }, Request.Url.Scheme)" />


                                <link href="~/Publics/Files/ControlsPageTemplates/Cars/Car/SliderItemShow.css" rel="stylesheet" />
                                <script src="~/Publics/Files/ControlsPageTemplates/Cars/Car/SliderItemShow.js"></script>

                                <link href="~/Publics/Files/ControlsPageTemplates/Cars/Car/css.css" rel="stylesheet" />
                                <link href="~/Publics/Styles/animate.css" rel="stylesheet" />


                            }

                            @section script
{
                                <script src="~/Publics/Files/ControlsPageTemplates/Cars/Car/scirpt.js"></script>
                            }


                            @if (Request.Form.AllKeys.Contains("SendACommentRequest"))
                            {
                                <script>window.location = "#usersCommentsSection"</script>
                            }
