@model CarProject.Areas.Users.Models.Dashboard.PersonCarsModel
@{
    ViewBag.Title = "ثبت اطلاعات خودروی کاربر";

    var carid = ViewContext.RouteData.Values["id"];
    var car = Model.dbs.Cars.FirstOrDefault(c => c.CarsId == Model.Car.CarId);
}
@using CarProject.App_Code



@if (ViewData.ModelState.IsValidField("Success"))
{
    <form method="post">

        @Html.HiddenFor(m => m.Car.CarId)
        @Html.HiddenFor(m => m.Car.PersonCarsId)
        @Html.HiddenFor(m => m.Detail.PersonCarDetailId)

        <div id="SelectedCarInfo" class="item">
            <h3>اطلاعات خودروی انتخابی</h3>
            <hr />

            <table class="infoTable">
                <tr>
                    <th>برند</th>
                    <td>@car.CarModel.CarBrand.CarBrandName</td>
                </tr>
                <tr>
                    <th>مدل</th>
                    <td>@car.CarModel.CarModelName</td>
                </tr>
                <tr>
                    <th>کلاس خودرو</th>
                    <td>@car.CarsClass</td>
                </tr>
                <tr>
                    <th>کاربرد</th>
                    <td>@car.CarUsage</td>
                </tr>
            </table>
        </div>

        <div class="item" id="userCarInformationSection">
            <h3>اطلاعات خودروی کاربر</h3>
            <hr />
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.Car.CarMilage, "کارکرد خودرو")
                @Html.input_TextBox(m => m.Car.CarCreationDate, "سال تولید")
                @Html.input_TextBox(m => m.Car.CarColor, "رنگ")

                <section class="input">
                    <label style="vertical-align:middle;">پلاک</label>
                    <section class="inputElement" >
                        <section id="CarPlateContainer">
                            <input type="text" maxlength="2" id="@Html.IdFor(m => m.Carplate_part1)" name="@Html.NameFor(m => m.Carplate_part1)" value="@Html.ValueFor(m => m.Carplate_part1)" />
                            <select  id="@Html.IdFor(m => m.Carplate_part2)" name="@Html.NameFor(m => m.Carplate_part2)" >
                                <option value="الف">الف (ویژه خودروهای دولتی)</option>
                                <option value="ب">ب</option>
                                <option value="پ">پ (ویژه خودروهای نیروی انتظامی)</option>
                                <option value="ت">ت (ویژه تاکسی‌ها)</option>
                                <option value="ث">ث (ویژه خودروهای سپاه پاسداران انقلاب اسلامی)</option>
                                <option value="ج">ج</option>
                                <option value="د">د</option>
                                <option value="ز">ز (ویژه خودروهای وزارت دفاع و پشتیبانی نیروهای مسلح)</option>
                                <option value="ژ">ژ (ویژه خودروهای معلولین که به جای حرف ژ نماد مخصوص معلولین قرار داده شده ولی در سیستم حرف ژ نوشته می‌شود)</option>
                                <option value="س">س</option>
                                <option value="ش">ش (ویژه خودروهای ارتش جمهوری اسلامی ایران)</option>
                                <option value="ص">ص</option>
                                <option value="ط">ط</option>
                                <option value="ع">ع (ویژه خودروهای عمومی)</option>
                                <option value="ف">ف (ویژه خودروهای ستاد کل نیروهای مسلح)</option>
                                <option value="ق">ق</option>
                                <option value="ک">ک (ویژه خودروهای کشاورزی)</option>
                                <option value="ل">ل</option>
                                <option value="م">م</option>
                                <option value="ن">ن</option>
                                <option value="و">و</option>
                                <option value="ه">ه</option>
                                <option value="ی">ی</option>
                            </select>
                            <script>
                                document.getElementById('@Html.IdFor(m => m.Carplate_part2)').value = "@Html.ValueFor(m => m.Carplate_part2)";
                            </script>
                            <input type="text" maxlength="3" id="@Html.IdFor(m => m.Carplate_part3)" name="@Html.NameFor(m => m.Carplate_part3)" value="@Html.ValueFor(m => m.Carplate_part3)" />
                            <hr />
                            <input type="text" maxlength="2" id="@Html.IdFor(m => m.Car.CarPlateCityCode)" name="@Html.NameFor(m => m.Car.CarPlateCityCode)" value="@Html.ValueFor(m => m.Car.CarPlateCityCode)" />
                        </section>
                    </section>
                    <span>@Html.ValidationMessageFor(m => m.Car.CarPlate)</span>
                </section>

                @*@Html.input_TextBox(m => m.Car.CarPlate, "شماره پلاک")
                @Html.input_TextBox(m => m.Car.CarPlateCityCode, "شماره شهر")*@
            </div>
        </div>

        <div class="item" id="userCarDetailsInformationSection">
            <h3>جزئیات خودروی کاربر</h3>
            <hr />
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.LastOilChange, "تاریخ آخرین تعویض روغن", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastOilChangeMilage, "کیلومتر آخرین تعویض روغن")

                @Html.input_TextBox(m => m.LastOilFiltersChange, "تاریخ آخرین تعویض فیلتر روغن", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastOilFilterChangeMilage, "کیلومتر آخرین تعویض فیلتر روغن")

                @Html.input_TextBox(m => m.LastAirFilterChange, "تاریخ آخرین تعویض فیلتر", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastAirFilterChangeMilage, "کیلومتر آخرین تعویض فیلتر")

                @Html.input_TextBox(m => m.LastGearBoxOilChange, "تاریخ آخرین تعویض روغن گیربکس", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastGearBoxOilChangeMilage, "کیلومتر آخرین تعویض روغن گیربکس")

                @Html.input_TextBox(m => m.LastTiresChange, "تاریخ آخرین تعویض تایر", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastTiresChangeMilage, "کیلومتر آخرین تعویض تایر")

                @Html.input_TextBox(m => m.LastTimingbeltChange, "تاریخ آخرین تعویض تسمه تایم", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastTimingbeltChangeMilage, "کیلومتر آخرین تعویض تسمه تایم")

                @Html.input_TextBox(m => m.LastOtherBeltsChange, "تاریخ آخرین تعویض تسمه دینام / واترپمپ", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastOtherBeltsChangeMilage, "کیلومتر آخرین تعویض تسمه دینام / واترپمپ")

                @Html.input_TextBox(m => m.LastFrontBrakePadsChange, "تاریخ آخرین تعویض لنت ترمزهای جلو", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastFrontBrakePadsChangeMilage, "کیلومتر آخرین تعویض لنت ترمزهای جلو")

                @Html.input_TextBox(m => m.LastRearBreakePadsChange, "تاریخ آخرین تعویض لنت ترمزهای عقب", htmlAttributes: new Dictionary<string,object>() { { "class", "datetime" } })
                @Html.input_TextBox(m => m.Detail.LastRearBrakePadsChangeMilage, "کیلومتر آخرین تعویض لنت ترمزهای عقب")
            </div>
        </div>

        <div class="inputAction">
            <input type="submit" value="ثبت اطلاعات خودروی کاربر" class="button green" />
        </div>

    </form>
}
else
{
    <div style="color:lawngreen; text-align:center;" class="item">
        <h3>اطلاعات خودرو شما با موفقیت ثبت شد</h3>
    </div>
}

@section head
{
    <style>
        #CarPlateContainer {
            display:flex;
            text-justify:flex-start;
            align-items:stretch;
            direction:ltr;
        }
            #CarPlateContainer input {
                text-align:center;
            }
        #CarPlateContainer hr{
            
            margin:1px;
            border:none;
            border-right:2px solid #888;
        }
    </style>
}

@section script
{
    <script>
        $(".datetime").each(function (index, element) {
            $(element).click(function (e) {
                PersianDatePicker.Show(element, '@DateTime.Now.ToPersianDateString()');
            });            
        });
    </script>
}