@{
    ViewBag.Title = "اعلام کیلومتر فعلی خودرو";
}
@model CarProject.DBSEF.PersonCar


<div class="page">
    <h3>اطلاعات خودرو</h3>
    <hr />
    <div>
        <table class="infoTable">
            <tr>
                <th>برند و مدل خودرو</th>
                <td>@Model.Car.CarModel.CarBrand.CarBrandName - @Model.Car.CarModel.CarModelName</td>
            </tr>
            <tr>
                <th>رنگ</th>
                <td>@Model.CarColor</td>
            </tr>
            <tr>
                <th>پلاک</th>
                <td>@Model.CarPlate | @Model.CarPlateCityCode</td>
            </tr>
        </table>
    </div>
</div>

<div class="page">
    <h3>اعلام کیلومتر فعلی خودرو</h3>
    <hr />
    <form method="post">
        <div class="inputsContainer">

        </div>
    </form>
</div>