@using CarProject.App_extension
@using CarProject.Models.Store

@model CarProject.DBSEF.Basket

@{
    ViewBag.Title = "جزئیات خرید کاربر";

    var dbs = new CarProject.DBSEF.CarAutomationEntities();
    var person = dbs.People.FirstOrDefault(p => p.UserId == Model.UserId);
    var ctusfl = new CartUsefull();
}



<div>
    <h3>اطلاعات کاربر خریدار</h3>
    <table class="infoTable">
        <tr>
            <th>نام کاربری</th>
            <td>@Model.User.Uname</td>
        </tr>
        <tr>
            <th>نام و نام خانوادگی</th>
            <td>@person.PersonFirtstName @person.PersonLastName</td>
        </tr>
        <tr>
            <th>ایمیل کاربر</th>
            <td>@person.PersonEmail</td>
        </tr>
        <tr>
            <th>شماره موبایل</th>
            <td>@person.PersonMobile</td>
        </tr>
        <tr>
            <th>تلفن ثابت</th>
            <td>@person.PersonPhone</td>
        </tr>
        <tr>
            <th>شهر محل سکونت</th>
            <td>@person.PersonAddressCity</td>
        </tr>
        <tr>
            <th>آدرس</th>
            <td>@person.PersonAddress</td>
        </tr>
    </table>

    <hr />
    <h3>اطلاعات سبد خرید</h3>
    <table class="infoTable">
        <tr>
            <th>وضعیت سبد خرید</th>
            <td>@ctusfl.Basket_State_ToString(Model.State)</td>
        </tr>
        <tr>
            <th>تاریخ ثبت خرید</th>
            <td>@Model.FinishDate.DateTime_Persian()</td>
        </tr>
        <tr>
            <th>نحوه پرداخت</th>
            <td>@ctusfl.Basket_PaymentType_ToString(Model.PaymentType)</td>
        </tr>
        <tr>
            <th>پلن تحویل کالا/انجام خدمات</th>
            <td>@Model.ProductsOrServicesDeliveryType.Name</td>
        </tr>
        <tr>
            <th>کد بانک</th>
            <td>@Model.BankCode</td>
        </tr>
        <tr>
            <th>کد سایت</th>
            <td>@Model.LocalCode</td>
        </tr>
        <tr>
            <th>کد تخفیف</th>
            <td>@if (Model.Discount != null) { @Model.Discount.DiscountCode }</td>
        </tr>
        <tr>
            <th>نام و نام خانوادگی مشتری</th>
            <td>@Model.ReciverFullname</td>
        </tr>
        <tr>
            <th>همراه مشتری</th>
            <td>@Model.ReciverMobile</td>
        </tr>
         <tr>
            <th>تلفن ثابت</th>
            <td>@Model.ReciverTell</td>
        </tr>
         <tr>
            <th>آدرس تحویل کالا</th>
            <td>@Model.ReciverAddress</td>
        </tr>
        <tr>
            <th>آدرس محل کار مشتری</th>
            <td>@Model.ReciverWorkplace</td>
        </tr>
    </table>

    <hr />
    <h3>محصولات، سرویس ها و سرویس پکهای سفارش داده شده</h3>
    <table class="grid1">
        <thead>
            <tr>
                <th class="min_nw tcenter">ردیف</th>
                <th class="min_nw tcenter">نوع</th>
                <th>نام</th>
                <th class="min_nw tcenter">تعداد</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model.BasketItems)
                {
                    <tr>
                        <td class="min_nw tcenter">@i</td>
                        <td class="min_nw tcenter">@ctusfl.GetNameofCartType((CartUsefull.Basket_ItemType)item.Type)</td>
                        <td class="tright">@ctusfl.GetNameOfCartObject(item.Id.Value, (CartUsefull.Basket_ItemType)item.Type)</td>
                        <td class="min_nw tcenter">@item.Count</td>
                    </tr>
                }
                i += 1;
            }
        </tbody>
    </table>

    <form method="post">
        <section style="display:flex; flex-direction:row-reverse;">
            <input type="submit" value="تایید و ارسال کالا(ها)"  class="button green"/>
            <a href="/Admin/Store/Baskets" class="gia-back button yellow">انصراف</a>
        </section>
    </form>
</div>