@model CarProject.Areas.Admin.Models.Store.CategoryModel
@using CarProject.App_Code
@{
    ViewBag.Title = "مدیریت گروه های محصولات";
    var dbs = new CarProject.DBSEF.CarAutomationEntities();
    var parentame = "";
    if(Model.Category.ParentCategoryId != null || Model.Category.ParentCategoryId != 0)
    {
        var cattmp = dbs.Categories.FirstOrDefault(c => c.CategoryId == Model.Category.ParentCategoryId);
        if (cattmp != null)
        {parentame = cattmp.CategoryName;}
    }
    var x = new CarProject.Areas.Admin.Controllers.StoreMVC();
}

<h2>مدیریت گروه  بندی کالاها</h2>

<div>
    <div id="form">
        <form method="post">
            <div class="inputsContainer">
                @Html.input_TextBox(m => m.Category.CategoryName, "نام گروه")
                @Html.input_TextArea(m => m.Category.Description, "توضیحات")
                
                <div class="input">
                    <label>گروه پدر</label>
                    <section>
                        @Html.HiddenFor(m => m.Category.ParentCategoryId)
                        <section id="parentCategoryName"></section>
                    </section>
                    @Html.ValidationMessageFor(m => m.Category.ParentCategoryId)
                </div>
            </div>
            <div class="inputAction">
                <input type="submit" class="button green" value="ثبت" />
            </div>

            <section>* <small>ریشه پدر را از لیست زیر انتخاب کنید</small></section>
        </form>
    </div>

    <div id="GroupsPresentation" >
        @x.Categories_managment(null | 0, aHref: "javascript:void(0)", aClass: "categoriItemLink", editClass: "gia-edit", editOnclick: "EditRequest", removeClass: "gia-remove")
    </div>
</div>


@section script
{
    <script>
        $(".categoriItemLink").click(function (e) {
            document.getElementById("parentCategoryName").innerHTML = $(this).attr("data-name");
            document.getElementById("@Html.IdFor(m => m.Category.ParentCategoryId)").value = $(this).attr("data-id");
        });

        function EditRequest(id, name, des) {
            window.location.replace("@Url.Action("CategoryManagment_Update","Store")/" + id);
        }
    </script>
}

@section style
{
    <style>
        #GroupsPresentation {
            border-top:thin solid #888;
            padding:5px;
        }

            #GroupsPresentation .gia-edit:before,
            #GroupsPresentation .gia-remove:before {
                font-size:80%;
            }

        #GroupsPresentation ul {
            border-right:thin solid #888;
            padding:0;
            margin:0 10px;
        }
        #GroupsPresentation li {
            list-style:none;
        }
        a[data-haveroot="1"]:before {
            content:'\0047';
            font-family:giadmin;
	        display:inline-block;
	        margin:0 3px;
	        direction:ltr;
        }
    </style>
}