@using CarProject.App_Code
@{
    ViewBag.Title = "ویرایش محصول";
    var x = new CarProject.Areas.Admin.Models.Store.StoreMVC();

    var category = "";
    if(Model.Product.CategoryId != null && Model.Product.CategoryId > 0)
    {
        var cm = Model.dbs.Categories.FirstOrDefault(c => c.CategoryId == Model.Product.CategoryId);
        if (cm != null)
        {category = cm.CategoryName;}
    }
}
@model CarProject.Areas.Admin.Models.Store.ProductsModel



<div>
    <form method="post" id="NewProductForm">
        <div class="inputsContainer">
            
            @Html.input_TextBox(m => m.Product.PartNumber, "شماره محصول")
            @Html.input_TextBox(m => m.Product.ProductName, "نام محصول")

            <div class="input">
                <label for="">دسته بندی محصول</label>
                <div>
                    @Html.HiddenFor(m => m.Product.CategoryId)
                    <section id="DispalayFor_Product_CategoryId" tabindex="7" class="inputElement gia-select" onclick="$('#GroupSelector').toggleClass('show')">
                       @category
                    </section>
                </div>
                @Html.ValidationMessageFor(m => m.Product.CategoryId)
            </div>

            @Html.input_TextBox(m => m.Price, "قیمت محصول")
            
            @Html.input_TextBox(m => m.Product.ProductHeight, "ارتفاع")
            @Html.input_TextBox(m => m.Product.ProductWidth, "عرض")
            @Html.input_TextBox(m => m.Product.ProductWeight, "وزن")
            @Html.input_TextBox(m => m.Product.ProductLength, "طول")

            @Html.input_ComboBox(m => m.Product.CompanyId, "شرکت سازنده", Model.dbs.Companies.ToDictionary(c => c.CompanyId, c => c.CompanyName))
            @Html.input_ComboBox(m => m.Product.CountryId, "شرکت تولید کننده", Model.dbs.Countries.ToDictionary(c => c.CountryId, c => c.CountryShortName + " - " + c.CountryLongName))
            @Html.input_ComboBox(m => m.Product.ManufactureId, "شرکت توزیع کننده", Model.dbs.Manufactures.ToDictionary(c => c.ManufactureId, c => c.ManufactureName + " - (" + c.Country.CountryShortName + " - " + c.Country.CountryLongName + " )"))
            
            @Html.input_TextBox(m => m.Product.MetaTags, "تگ محصول")
            @Html.input_Rating(m => m.Product.ProductRating, "ربته محصول")
            @Html.input_TextArea(m => m.Product.ProductSecription, "توضیحات محصول")

        </div>

        <div class="inputAction">
            <input type="submit" value="ثبت کالا" class="button green" />
        </div>
    </form>
</div>


<div id="GroupSelector">
    <div class="title">
        <strong><a href="javascript:void(0)" class="gia-delete" onclick="$('#GroupSelector').toggleClass('show')">&times;</a> انتخاب گروه کالا</strong>
    </div>
    <div class="showSelectediTem">
        <section><strong>گروه انتخاب شده:</strong> <q id="selectedGroupShowing">@category</q> </section>
    </div>
    <div class="groupShowing">
        <div>
            @x.Categories_readonly(null | 0, aClass: "groupAselectClass", aHref: "javascript:void(0)", aOnclick: "SelectGroup")
        </div>
    </div>
    <div style="display:flex; flex-direction:row-reverse;">
        <a href="javascript:void(0)" class="gia-delete button red" onclick="$('#GroupSelector').toggleClass('show')" >بستن پنجره</a>
    </div>
</div>


@section style
{
    <style>
        #DispalayFor_Product_CategoryId {
            cursor:pointer;
        }

        #GroupSelector {
            background:#fafafa;
            position:absolute;
            top:0; left:0; bottom:0; right:0;
            width:90%; height:90%;
            margin:auto;

            border:thin solid #888;
            border-radius:5px;
            box-shadow:0 0 5px 0 #444;
            overflow:hidden;
            
            display:none;
            flex-direction:column;
        }
            #GroupSelector.show {
                display:flex;
            }

            #GroupSelector .showSelectediTem {
                padding:1px 5px;
            }

            #GroupSelector .title {
                display:block;
                margin-bottom:5px;
                padding:1px 5px;
                background:#888;
                color:#fff;

                display:flex; justify-content:flex-start; align-items:center;
            }
                #GroupSelector .title a {
                    color:inherit;
                }
        #GroupSelector .groupShowing {
            flex:1;
            border-bottom:thin dotted #888;
            border-top:thin dotted #888;
            padding:5px;
            overflow:auto;
        }

        #GroupSelector ul {
            border-right: thin solid #888;
            padding: 0;
            margin: 0 10px;
        }
        #GroupSelector li {
            list-style: none;
        }
        a[data-haveroot="1"]:before {
            content: '\0047';
            font-family: giadmin;
            display: inline-block;
            margin: 0 3px;
            direction: ltr;
        }
    </style>    
}

@section script
{
    <script>
        $(".groupAselectClass").click(function (e) {
            document.getElementById("DispalayFor_Product_CategoryId").innerHTML = $(e.target).attr("data-name");
            document.getElementById("selectedGroupShowing").innerHTML = $(e.target).attr("data-name");;
            document.getElementById("@Html.IdFor( m => m.Product.CategoryId)").value = $(e.target).attr("data-id");;
        });
    </script>
}