
@{
    ViewBag.Title = "محصولات";
    var dbs = new CarProject.DBSEF.CarAutomationEntities();
}

<div>

    <div id="ProductItemsContainer">

        @foreach (var item in dbs.Products)
        {
            <div class="productItem">
                <section class="title"> @item.ProductId - @item.ProductName </section>
                <table>
                    <tr>
                        <th>شماره محصول</th>
                        <td>@item.PartNumber</td>
                    </tr>
                    <tr>
                        <th>نام محصول</th>
                        <td>@item.ProductName</td>
                    </tr>
                    <tr>
                        <th>دسته بندی</th>
                        <td>@item.Category.CategoryName</td>
                    </tr>
                    <tr>
                        <th>آخرین قیمت</th>
                        <td>@if (@item.ProductPrices.Count > 0)
                            {@item.ProductPrices.Last().ProductPrice1}</td>
                    </tr>
                </table>
                <div class="action">
                    <a href="javascript:void(0)" class="gia-edit"></a>
                    <a href="javascript:void(0)" class="gia-remove"></a>
                    <a href="@Url.Action("Products_Review", "Store", new { id = item.ProductId })" class="gia-article"></a>
                </div>
            </div>
        }

    </div>

</div>



@section style
{
    <style>
        #ProductItemsContainer {
            display:flex; justify-content: center; align-items:stretch;
            flex-wrap:wrap;
        }
        .productItem {
            position:relative;
            min-width:200px;
            margin:5px;
            border:thin solid #888;
            border-radius:5px;
            overflow:hidden;
        }
            .productItem .title {
                background:#444;
                color:white;
                padding:1px 5px;
            }
            .productItem table {
                margin:5px;
            }
                .productItem table th,
                .productItem table td {
                    padding: 1px 5px;
                    border:thin solid #eaeaea;
                }
                .productItem table th {
                    text-align: right;
                    background:#eaeaea;
                }

            .productItem .action {
                position:absolute;
                bottom:-100%; left:0; right:0;
                background:rgba(0, 0, 0, 0.80);
                z-index:1;

                display:flex; justify-content:center; align-items:center;

                transition:ease-in-out 0.3s;
            }
            .productItem:hover .action {
                bottom:0;
            }
                .productItem .action a {
                    color:white;
                }
                    .productItem .action a:hover {
                        color:#aaa;
                    }
    </style>
}