@using CarProject.App_Code
@{
    ViewBag.Title = "ثبت محصول";
}
@model CarProject.Areas.Admin.Models.Store.ProductsModel



<div>
    <form method="post" id="NewProductForm">
        <div class="inputsContainer">
            
            @Html.input_TextBox(m => m.Product.PartNumber, "شماره محصول")
            @Html.input_TextBox(m => m.Product.ProductName, "نام محصول")

            <div class="input">
                <label for="">دسته بندی محصول</label>
                <div>
                    @Html.HiddenFor(m => m.Product.CategoryId)
                    <section id="DispalayFor_Product_CategoryId" tabindex="7" class="inputElement gia-select"></section>
                </div>
                @Html.ValidationMessageFor(m => m.Product.CategoryId)
            </div>
            
            @Html.input_TextBox(m => m.Product.ProductHeight, "ارتفاع")
            @Html.input_TextBox(m => m.Product.ProductWidth, "عرض")
            @Html.input_TextBox(m => m.Product.ProductWeight, "وزن")
            @Html.input_TextBox(m => m.Product.ProductLength, "طول")

            @Html.input_ComboBox(m => m.Product.CompanyId, "شرکت سازنده", Model.dbs.Companies.ToDictionary(c => c.CompanyId, c => c.CompanyName))
            @Html.input_ComboBox(m => m.Product.CountryId, "شرکت تولید کننده", Model.dbs.Countries.ToDictionary(c => c.CountryId, c => c.CountryShortName + " - " + c.CountryLongName))
            @Html.input_ComboBox(m => m.Product.ManufactureId, "شرکت توزیع کننده", Model.dbs.Manufactures.ToDictionary(c => c.ManufactureId, c => c.ManufactureName + " - (" + c.Country.CountryShortName + " - " + c.Country.CountryLongName + " )"))
            
            @Html.input_TextBox(m => m.Product.MetaTags, "تگ محصول")
            @Html.input_Rating(m => m.Product.ProductRating, "ربته محصول")
            @Html.input_TextArea(m => m.Product.ProductSecription, "توضیحات محصول")

        </div>

        <div class="inputAction">
            <input type="submit" value="ثبت کالا" class="button green" />
        </div>
    </form>
</div>




@section style
{
    <style>
        #DispalayFor_Product_CategoryId {
            cursor:pointer;
        }
    </style>    
}