@using CarProject.App_Code
@model CarProject.DBSEF.Person
@{
    ViewBag.Title = "newUsers";
    var db = new CarProject.DBSEF.CarAutomationEntities();
    var newusers = db.People.Where(u => u.User.UserRoleId == null || u.User.UserRoleId.Value < 0).ToList();
    
    var rols = db.UserRoles.ToList();
}


<div id="newUserContianer" class="itemsViewContainer">
    @foreach (var item in newusers)
    {
        <form method="post" class="itemView">
            <input type="hidden" name="userid" value="@item.UserId" />
            <table>
                <tr>
                    <th>نام و نام خانوادگی:</th>
                    <td>@item.PersonFirtstName @item.PersonLastName</td>
                </tr>
                <tr>
                    <th>نام کاربری:</th>
                    <td>@item.User.Uname</td>
                </tr>
                <tr>
                    <th>ایمیل:</th>
                    <td>@item.PersonEmail</td>
                </tr>
                <tr>
                    <th>همراه:</th>
                    <td>@item.PersonMobile</td>
                </tr>
                <tr>
                    <th>نوع کاربری:</th>
                    <td>
                        <select name="UserRole">
                            <option value="">--انتخاب کنید--</option>
                            @foreach (var rl in rols)
                            {
                                <option value="@rl.UserRoleId">@rl.UserRole1</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="submit" value="ثبت" />
                    </td>
                </tr>
            </table>            
        </form>
    }
</div>




@section style
{
    <style>
        .itemsViewContainer{
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            align-items: center;

            padding:10px;
        }

        .itemsViewContainer table {
            border-collapse: collapse;
            width:100%;
        }
        .itemsViewContainer th {
            text-align:right;
            background:#DDD;
            padding:0 3px;
            width:0; 
            white-space:nowrap;
        }
        .itemsViewContainer th , .itemsViewContainer td {
            border:thin solid #DDD;
        }

        .itemView {
            margin:3px;
            padding:5px;
            border:thin solid;
            border-radius:5px;

            
            min-width:250px;
            overflow:hidden;
        }
            .itemView .topbar {
                background:#141414;
                color:white;
                margin:-5px -5px 5px -5px;
            }
            .itemView:hover {
                box-shadow: 0 0 3px 0 #000;
            }
            .itemView:hover .actinSection{
                bottom:0;
            }
        
        .actinSection {
            position:absolute;
            bottom:-100%; left:0; right:0;
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
            align-items:center;
            background:rgba(0,0,0,0.6);

            transition:ease 0.3s;
            font-size:80%;
        }

        @@media (max-width:500px) {
            .useritem {
                width:100%;
            }
        }

        #removeBack {
            position:fixed;
            background:rgba(0, 0, 0, 0.60);
            top:0;
            bottom:0;
            left:0;
            right:0;

            z-index:9999;


            display:flex;
            justify-content:center;
            align-items:center;

            display:none;
        }
            #removeBack.show {
                display:flex;
            }
        #removeMessage {
            padding:10px;
            min-width:300px;
            background:white;

            border:thin solid #888;
            border-radius:5px;
            box-shadow:0 0 3px 0 #333;
        }
    </style>
}