@model IQueryable<CarProject.DBSEF.Person>

@{
    ViewBag.Title = "کاربران";
    var dbs = new CarProject.DBSEF.CarAutomationEntities();
    
}


<form id="usersearch" method="get" style="border-bottom:thin solid;">
    <div class="usersearchSection">
        <input type="text" id="mainSearchTextBox" name="searchuser"  value="@Request.QueryString["searchuser"]" placeholder="نام کاربری، نام و یا نام خانوادگی"  />
        <select name="searchIn">
            <option value="0" @if (Request.QueryString["searchIn"] == "0") { Write("selected=\"selected\""); } >پیشفرض</option>
            <option value="1" @if (Request.QueryString["searchIn"] == "1") { Write("selected=\"selected\""); } >نام کاربری</option>
            <option value="2" @if (Request.QueryString["searchIn"] == "2") { Write("selected=\"selected\""); } >نام و نام خانوادگی</option>
            <option value="3" @if (Request.QueryString["searchIn"] == "3") { Write("selected=\"selected\""); } >فقط نام</option>
            <option value="4" @if (Request.QueryString["searchIn"] == "4") { Write("selected=\"selected\""); } >فقط نام خانوادگی</option>
            <option value="5" @if (Request.QueryString["searchIn"] == "5") { Write("selected=\"selected\""); } >ایمیل</option>
            <option value="6" @if (Request.QueryString["searchIn"] == "6") { Write("selected=\"selected\""); } >شهر</option>
        </select>
        <select name="Role">
                <option value="">همه کاربران</option>
                @{
                    var userroles = dbs.UserRoles.AsQueryable();
                    foreach (var item in userroles)
                    {
                    <option value="@item.UserRoleId"  @if (Request.QueryString["Role"] == item.UserRoleId.ToString()) { Write("selected=\"selected\""); } >@item.UserRole1</option>
                    }
                }
            </select>
        <button type="submit" class="button">
            <section class="gia-search">جستجو</section>
        </button>
    </div>
</form>

<div id="userContainer">
    @foreach (var item in Model)
    {
        <div class="useritem">
            <section class="topbar gia-user">| @item.User.Uname</section>
            <table>
                <tr>
                    <th>شناسه</th>
                    <td>@item.UserId</td>
                </tr>
                <tr>
                    <th>نام کاربری</th>
                    <td>@item.User.Uname</td>
                </tr>
                <tr>
                    <th>نام</th>
                    <td>@item.PersonFirtstName</td>
                </tr>
                <tr>
                    <th>نام خانوادگی</th>
                    <td>@item.PersonLastName</td>
                </tr>
                <tr>
                    <th>ایمیل</th>
                    <td>@item.PersonEmail</td>
                </tr>

                <tr>
                    <th>نوع کاربر</th>
                    @if (item.User.UserRole != null)
                    {
                        <td>@item.User.UserRole.UserRole1</td>
                    }
                    else
                    {
                        <td></td>
                    } 
                </tr>
            </table>

            <div class="actinSection">
                <a href="@Url.Action("UpdateUser","User")/@item.UserId" class="gia-edit button blue">ویرایش</a>
                <a href="@Url.Action("PersonCars","User")/@item.UserId" class="gia-edit button blue">خودرو کاربر</a>
                @if(((CarProject.DBSEF.User)Session["user"]).UserId != @item.UserId)
                {
                    <a href="javascript:void()" onclick="deletebuttonclick('@item.UserId')" class="gia-remove button red">حذف</a>
                    
                    if (item.User.IsActive == true)
                    {
                        <a href="@Url.Action("UserChangeState", "User")\@item.UserId" class="button orange gia-inactive">غیر فعال کردن</a>
                    }
                    else
                    {
                        <a href="@Url.Action("UserChangeState", "User")\@item.UserId" class="button green">فعال کردن</a>
                    }
                }
            </div>
        </div>
    }
</div>



<div id="removeBack">
    <div id="removeMessage">
        <div>آیا از حذف کاربر انتخابی اطمینان دارید؟</div>
        <form method="post" action="@Url.Action("DeleteUser","User")" style="display:flex; justify-content:center; align-items:center;">
            <input type="hidden" id="RemoveCarId" name="Id" value="" />

            <button type="submit" class="button red"><section class="gia-remove">حذف</section></button>
            <button type="button" class="button green" onclick="deleteCancel()">انصراف</button>
        </form>
    </div>
</div>


@section script
{
    <script>
        function deletebuttonclick(id) {
            document.getElementById('removeBack').classList.add("show");
            document.getElementById("RemoveCarId").value = id;
        }

        function deleteCancel() {
            document.getElementById('removeBack').classList.remove("show");
        }
    </script>
}



@section style
{
    <style>
        #usersearch {
        }
        .usersearchSection {
            display:flex;
            flex-wrap:wrap;
            justify-content:flex-start;
            align-items:stretch;
            min-height:50px;

            padding:5px;
        }
            .usersearchSection section {
                font-size:80%;
                display:flex; justify-content:center; align-items:center;
            }

            .usersearchSection select, 
            .usersearchSection input[type=text] {
                border:thin solid #888;
                border-radius:2px;
                padding:2px 5px;
                margin:3px;
                min-width:100px;
            }
            .usersearchSection option {
                padding: 1px 5px;
            }
            #mainSearchTextBox {
                min-width: 40%;
            }

            

        #userContainer {
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            align-items: center;

            padding:10px;
        }

        #userContainer table {
            border-collapse: collapse;
            width:100%;
        }
        #userContainer th {
            text-align:right;
            background:#DDD;
            padding:0 3px;
            width:0; 
            white-space:nowrap;
        }
        #userContainer th , #userContainer td {
            border:thin solid #DDD;
        }

        .useritem {
            margin:3px;
            padding:5px;
            border:thin solid;
            border-radius:5px;

            
            min-width:250px;
            overflow:hidden;
        }
            .useritem .topbar {
                background:#141414;
                color:white;
                margin:-5px -5px 5px -5px;
            }
            .useritem:hover {
                box-shadow: 0 0 3px 0 #000;
            }
            .useritem:hover .actinSection{
                bottom:0;
            }
        
        .actinSection {
            position:absolute;
            bottom:-100%; left:0; right:0;
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
            align-items:center;
            background:rgba(0,0,0,0.6);

            transition:ease 0.3s;
            font-size:80%;
        }

        @@media (max-width:500px) {
            .useritem {
                width:100%;
            }
        }

        #removeBack {
            position:fixed;
            background:rgba(0, 0, 0, 0.60);
            top:0;
            bottom:0;
            left:0;
            right:0;

            z-index:9999;


            display:flex;
            justify-content:center;
            align-items:center;

            display:none;
        }
            #removeBack.show {
                display:flex;
            }
        #removeMessage {
            padding:10px;
            min-width:300px;
            background:white;

            border:thin solid #888;
            border-radius:5px;
            box-shadow:0 0 3px 0 #333;
        }
    </style>
}